.marker {
  color: #ff0000;
  position: relative;
}

.marker .tooltip {
  visibility: hidden;
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #f5f5b5;
  color: #000000;
  border: 1px solid #999;
  width: 400px;
  left: 15px;
  top: -1em;
}

.marker:hover .tooltip {
  visibility: visible;
}
