{% load static %}

<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                            <!-- Create a simple CodeMirror instance -->
                            <link rel="stylesheet" href={% static "codemirror/lib/codemirror.css" %}>
                            <link rel="stylesheet" href="{% static "codemirror/addon/hint/show-hint.css" %}">
                            <link rel="stylesheet" href="{% static "codemirror/theme/eclipse.css" %}">
                            <style>
                              .marker {
                                color: #ff0000;
                                width: 10px !important;
                                margin-left: 4px;
                              }

                              .marker .tooltip {
                                display: none;
                                position: absolute;
                                background-color: #f5f5b5;
                                color: #000000;
                                border: 1px solid #000000;
                                padding: 2px;
                                width: 400px;
                                left: 10px;
                                top: -1em;
                              }

                              .marker:hover .tooltip {
                                display: block;
                              }
                            </style>
                            <script src={% static "codemirror/lib/codemirror.js" %}></script>
                            <script src={% static "codemirror/mode/python/python.js" %}></script>
                            <script src={% static "codemirror/addon/hint/show-hint.js" %}></script>
                            <script src={% static "codemirror/addon/hint/python-hint.js" %}></script>
                            <script src={% static "codemirror/addon/display/autorefresh.js" %}></script>
                            <script>
                              var name = '{{ field.field.name }}'

                              if (name == 'name') {
                                var nameTextArea = document.getElementById('id_name');
                                nameTextArea.setAttribute('rows', 1);
                                nameTextArea.setAttribute('required', true);
                                nameTextArea.style.resize = 'none';
                                nameTextArea.style.borderColor = 'black';
                                nameTextArea.style.whiteSpace = 'nowrap';
                              } else if (name == 'description') {
                                var descriptionTextArea = document.getElementById('id_description');
                                descriptionTextArea.setAttribute('rows', 6);
                                descriptionTextArea.setAttribute('required', true);
                                descriptionTextArea.style.resize = 'none';
                                descriptionTextArea.style.borderColor = 'black';
                              } else if (['filter', 'initialize', 'check', 'notify', 'success', 'fail'].indexOf(name) >= 0) {
                                var textArea = document.getElementById('id_{{ field.field.name }}');
                                var editor_{{field.field.name}} = CodeMirror.fromTextArea(textArea, {
                                    mode: 'python',
                                    autoRefresh: true,
                                    lineNumbers: true,
                                    theme: 'eclipse',
                                    gutters: ['warnings_{{field.field.name}}'],
                                    value: textArea.value
                                });

                                // https://stackoverflow.com/questions/11401317/autocomplete-for-python-in-codemirror
                                editor_{{field.field.name}}.on('inputRead', function onChange(editor, input) {
                                    if (input.text[0] === ';' || input.text[0] === ' ' || input.text[0] === ":") {
                                        return;
                                    }
                                    editor.showHint({
                                        hint: CodeMirror.pythonHint
                                    });
                                });

                                editor_{{field.field.name}}.on('change', (cm, change) => {
                                  code = cm.getValue()

                                  fetch('../../../policyengine/error_check', {
                                    method: 'POST',
                                    headers: {
                                      'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ 'code': code })
                                  })
                                  .then(response => response.json())
                                  .then(data => {
                                    cm.clearGutter('warnings_{{field.field.name}}')

                                    if (data.is_error) {
                                      const marker = document.createElement('div')
                                      marker.classList.add('marker')
                                      marker.innerHTML = '●'

                                      const tooltip = document.createElement('div')
                                      tooltip.classList.add('tooltip')
                                      tooltip.innerHTML = data.error
                                      marker.appendChild(tooltip)

                                      cm.setGutterMarker(data.lineno - 1, 'warnings_{{field.field.name}}', marker)
                                    }
                                  })
                                })
                              }
                            </script>
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
