docs/build
docs/source/debug.log
docs/source/generated_policy_examples.inc
.DS_Store
.env
.vscode
.github
.idea
src
!frontend/src
policykit/policykit_venv/
policykit_venv
policykit/node_modules
policykit/package-lock.json
postgres_data
celerybeat.pid
celerybeat-schedule
log
