{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .actionScreenHeader {
    font-family: "Nunito", sans-serif;
    font-size: 2em;
    margin-top: 4em;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
  }

  .actionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .actionsCol {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .actionPanel {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .actionPanelTitle {
    font-family: "Nunito", sans-serif;
    font-size: 1.5em;
    padding: 1em 0 0.5em 2vw;
  }

  .actionPanelContent {
    width: 92%;
    margin-left: 4%;
    overflow: auto;
  }

  .actionItem {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    cursor: pointer;
  }

  .actionItem:hover {
    color: #808b96;
  }
</style>
{% endblock %}

{% block content %}
<h2 class="actionScreenHeader">Which action would you like to propose?</h2>
<div class="actionsContainer">
  <!--{% if user.community.platform == "slack" %}
    <div class="actionMenu" id="slackActionsHeader">
      <h3 class="actionMenuHeading">Slack actions</h3>
    </div>
    <div class="actionContent" id="slackActions">
      <div class="actionButton">
        <p>Join conversation</p>
      </div>
      <div class="actionButton">
        <p>Kick from conversation</p>
      </div>
      <div class="actionButton">
        <p>Pin message</p>
      </div>
      <div class="actionButton">
        <p>Post message</p>
      </div>
      <div class="actionButton">
        <p>Rename conversation</p>
      </div>
      <div class="actionButton">
        <p>Schedule message</p>
      </div>
    </div>
  {% elif user.community.platform == "reddit" %}
    <div class="actionMenu" id="redditActionsHeader">
      <h3 class="actionMenuHeading">Reddit actions</h3>
    </div>
    <div class="actionContent" id="redditActions">
    </div>
  {% elif user.community.platform == "discord" %}
    <div class="actionMenu" id="discordActionsHeader">
      <h3 class="actionMenuHeading">Discord actions</h3>
    </div>
    <div class="actionContent" id="discordActions">
      <div class="actionButton">
        <p>Post message</p>
      </div>
      <div class="actionButton">
        <p>Rename channel</p>
      </div>
    </div>
  {% elif user.community.platform == "discourse" %}
    <div class="actionMenu" id="discourseActionsHeader">
      <h3 class="actionMenuHeading">Discourse actions</h3>
    </div>
    <div class="actionContent" id="discourseActions">
      <div class="actionButton">
        <p>Create topic</p>
      </div>
      <div class="actionButton">
        <p>Create post</p>
      </div>
    </div>
  {% endif %}-->

  <div class="actionsCol">

    <div class="actionPanel">
      <h4 class="actionPanelTitle">Platform policy actions</h4>
      <div class="actionPanelContent">
        <table class="table table-hover">
          <tbody>
            <tr id="addPlatformPolicy" class="actionItem">
              <td>Add platform policy</td>
            </tr>
            <tr id="editPlatformPolicy" class="actionItem">
              <td>Edit platform policy</td>
            </tr>
            <tr id="removePlatformPolicy" class="actionItem">
              <td>Remove platform policy</td>
            </tr>
            <tr id="recoverPlatformPolicy" class="actionItem">
              <td>Recover platform policy</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="actionPanel">
      <h4 class="actionPanelTitle">Constitution policy actions</h4>
      <div class="actionPanelContent">
        <table class="table table-hover">
          <tbody>
            <tr id="addConstitutionPolicy" class="actionItem">
              <td>Add constitution policy</td>
            </tr>
            <tr id="editConstitutionPolicy" class="actionItem">
              <td>Edit constitution policy</td>
            </tr>
            <tr id="removeConstitutionPolicy" class="actionItem">
              <td>Remove constitution policy</td>
            </tr>
            <tr id="recoverConstitutionPolicy" class="actionItem">
              <td>Recover constitution policy</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="actionsCol">

    <div class="actionPanel">
      <h4 class="actionPanelTitle">Community document actions</h4>
      <div class="actionPanelContent">
        <table class="table table-hover">
          <tbody>
            <tr id="addDocument" class="actionItem">
              <td>Add document</td>
            </tr>
            <tr id="editDocument" class="actionItem">
              <td>Edit document</td>
            </tr>
            <tr id="removeDocument" class="actionItem">
              <td>Remove document</td>
            </tr>
            <tr id="recoverDocument" class="actionItem">
              <td>Recover document</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="actionPanel">
      <h4 class="actionPanelTitle">Role actions</h4>
      <div class="actionPanelContent">
        <table class="table table-hover">
          <tbody>
            <tr id="addRole" class="actionItem">
              <td>Add role</td>
            </tr>
            <tr id="editRole" class="actionItem">
              <td>Edit role</td>
            </tr>
            <tr id="removeRole" class="actionItem">
              <td>Remove role</td>
            </tr>
            <tr id="addUserToRole" class="actionItem">
              <td>Add user to role</td>
            </tr>
            <tr id="removeUserFromRole" class="actionItem">
              <td>Remove user from role</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("addConstitutionPolicy").addEventListener("click", function(){ navEditor('Constitution', 'Add'); });
  document.getElementById("editConstitutionPolicy").addEventListener("click", function(){ navPolicySelect('Constitution', 'Change'); });
  document.getElementById("removeConstitutionPolicy").addEventListener("click", function(){ navPolicySelect('Constitution', "Remove"); });
  document.getElementById("recoverConstitutionPolicy").addEventListener("click", function(){ navPolicySelect('Constitution', "Recover"); });
  document.getElementById("addPlatformPolicy").addEventListener("click", function(){ navEditor('Platform', 'Add'); });
  document.getElementById("editPlatformPolicy").addEventListener("click", function(){ navPolicySelect('Platform', 'Change'); });
  document.getElementById("removePlatformPolicy").addEventListener("click", function(){ navPolicySelect('Platform', "Remove"); });
  document.getElementById("recoverPlatformPolicy").addEventListener("click", function(){ navPolicySelect('Platform', "Recover"); });
  document.getElementById("addRole").addEventListener("click", function(){ navRoleAdd(); });
  document.getElementById("editRole").addEventListener("click", function(){ navRoleSelect('Change'); });
  document.getElementById("removeRole").addEventListener("click", function(){ navRoleSelect('Remove'); });
  document.getElementById("addUserToRole").addEventListener("click", function(){ navRoleUsers('Add'); });
  document.getElementById("removeUserFromRole").addEventListener("click", function(){ navRoleUsers('Remove'); });
  document.getElementById("addDocument").addEventListener("click", function(){ navDocumentAdd(); });
  document.getElementById("editDocument").addEventListener("click", function(){ navDocumentSelect('Change'); });
  document.getElementById("removeDocument").addEventListener("click", function(){ navDocumentSelect('Remove'); });
  document.getElementById("recoverDocument").addEventListener("click", function(){ navDocumentSelect('Recover'); });

  function navEditor(type, operation) {
    window.location.href = `{{server_url}}/main/editor?type=${type}&operation=${operation}`
  }

  function navPolicySelect(type, operation) {
    window.location.href = `{{server_url}}/main/selectpolicy?type=${type}&operation=${operation}`
  }

  function navRoleAdd() {
    window.location.href = `{{server_url}}/main/roleeditor?operation=Add`
  }

  function navRoleSelect(operation) {
    window.location.href = `{{server_url}}/main/selectrole?operation=${operation}`
  }

  function navRoleUsers(operation) {
    window.location.href = `{{server_url}}/main/roleusers?operation=${operation}`
  }

  function navDocumentAdd() {
    window.location.href = `{{server_url}}/main/documenteditor?operation=Add`
  }

  function navDocumentSelect(operation) {
    window.location.href = `{{server_url}}/main/selectdocument?operation=${operation}`
  }
</script>
{% endblock %}
