{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% sentry %}
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PolicyKit</title>
    <!-- Styles -->
    <link rel="stylesheet" href={% static "policyengine/css/output.css" %}>
    {% block styles %}{% endblock %}
    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap"
          rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "policyengine/img/favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "policyengine/img/favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "policyengine/img/favicon_io/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "policyengine/img/favicon_io/site.webmanifest" %}">
    <link rel="icon" href="{% static "policyengine/img/favicon_io/favicon.ico" %}" type="image/x-icon">
    <!-- JS -->
    <script defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src={% static "policyengine/js/jquery-3.4.1.min.js" %}></script>
  </head>
  <body>
    <div class="lg:flex">
      {% include "patterns/components/navigation/navigation.html" %}
      <main class="grow relative">
        {% block content %}{% endblock %}
      </main>
      {% include "patterns/components/modal/modal.html" %}
    </div>
    {% block scripts %}{% endblock %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
      // tooltip
      // to do: move to static one merged with branch that has static in more sensible directory
    tippy('.tooltip', {
      theme: 'custom',
      // to do: fix issue with round arrow appearing always appearing at bottom
      // arrow: tippy.roundArrow,
    });
    </script>
  </body>
</html>
