{% extends base %}
{% load static %}
{% block styles %}
  <style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: "Nunito", sans-serif;
    font-size: 2em;
  }

  .name {
    width: 40%;
  }

  .text {
    resize: none;
    width: 60%;
  }

  .form-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .control-label {
    font-family: "Nunito", sans-serif;
    font-size: 1.2em;
  }

  .btn {
    padding: 0.5em 2vw;
    font-family: "Nunito", sans-serif;
    font-size: 1.2em;
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #3b4699;
    color: #ffffff;
  }
  </style>
{% endblock %}
{% block content %}
  {% include "patterns/components/headers/modal.html" with title="Community document" %}
  <div class="p-8 h-full overflow-auto">
    <div class="mb-4 lg:w-1/2">
      <label class="block small mb-2">Name</label>
      <input class="bg-background-light px-4 py-2 rounded-xs focus:outline focus:outline-primary"
             type="text"
             id="document-name"
             placeholder="Community Document"
             required />
    </div>
    <div>
      <label class="block small mb-2">Text</label>
      <textarea class="bg-background-light px-4 py-2 rounded-xs focus:outline focus:outline-primary"
                type="text"
                placeholder="Write or paste your text here"
                id="document-text"
                required
                rows="12"></textarea>
      {% csrf_token %}
    </div>
  </div>
  <div class="sticky bottom-0 px-4 lg:px-16 pt-6 pb-8 border-t border-background-focus flex justify-end gap-4 bg-white">
    <button type="button" class="button secondary large">Delete</button>
    <button type="submit" class="button primary large" id="document-propose">Save</button>
  </div>
{% endblock %}
{% block scripts %}
  <script>
  document.getElementById("document-propose").addEventListener("click", propose);
  console.log(document.getElementById("document-propose"))

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  {% if name %}
    document.getElementById('document-name').value = decodeHtml(`{{name}}`);
  {% endif %}

  {% if text %}
    document.getElementById('document-text').value = decodeHtml(`{{text}}`);
  {% endif %}

  function propose() {
    const urlParams = new URLSearchParams(window.location.search);
    const operation = urlParams.get('operation');
    const doc = urlParams.get('doc');

    const name = document.getElementById("document-name").value
    const text = document.getElementById("document-text").value

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    fetch('/main/policyengine/document_action_save', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        'operation': operation,
        'doc': doc,
        'name': name,
        'text': text
      })
    })
    .then(response => {
      if (response.ok) {
        window.location.href = "/main/"
      } else {
        throw Error(response.statusText);
      }
    });
  }
  </script>
{% endblock %}
