{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}

<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
  }

  .name {
    width: 40%;
  }

  .text {
    resize: none;
    width: 60%;
  }

  .form-row {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .btn {
    padding: 0.5em 2vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #3b4699;
    color: #ffffff;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% if operation == "Add" %}
        <h3 class="headerText">Propose a new document</h3>
      {% elif operation == "Change" %}
        <h3 class="headerText">Propose edits to this document</h3>
      {% endif %}
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="name">Name</label>
    <div class="col-sm-11">
      <input type="text" class="form-control name" id="name" required>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="text">Text</label>
    <div class="col-sm-11">
      <textarea class="form-control text" id="text" required rows="12"></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% if operation == "Add" %}
        <button type="button" class="btn" id="propose">Propose document</button>
      {% elif operation == "Change" %}
        <button type="button" class="btn" id="propose">Propose edits</button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("propose").addEventListener("click", propose);

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  {% if name %}
    document.getElementById('name').value = decodeHtml(`{{name}}`);
  {% endif %}

  {% if text %}
    document.getElementById('text').value = decodeHtml(`{{text}}`);
  {% endif %}

  function propose() {
    const urlParams = new URLSearchParams(window.location.search);
    const operation = urlParams.get('operation');
    const doc = urlParams.get('doc');

    const name = document.getElementById("name").value
    const text = document.getElementById("text").value

    fetch('../../../main/policyengine/document_action_save', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'operation': operation,
        'doc': doc,
        'name': name,
        'text': text
      })
    }).then(response => {
      window.location.href = "{{server_url}}/main/"
    });
  }
</script>
{% endblock %}
