{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}

<style>
  .body {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 90vh;
    margin: 0 10vw;
    padding-top: 3vh;
  }

  .name {
    width: 40%;
  }

  .text {
    resize: none;
    width: 60%;
  }

  .form-row {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .control-label {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #373456;
  }

  .submitButton {
    width: 10%;
    font-size: 1.2em;
    border-radius: 30px;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  {% if operation == "Add" %}
    <h3>Add a new Document</h3>
  {% elif operation == "Change" %}
    <h3>Change an existing Document</h3>
  {% endif %}

    <div class="form-row">
      <label class="control-label col-sm-1" for="name">Name:</label>
      <div class="col-sm-11">
        <input type="text" class="form-control name" id="name" required>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="text">Text:</label>
      <div class="col-sm-11">
        <textarea class="form-control text" id="text" required rows="12"></textarea>
      </div>
    </div>

    <button class="btn btn-success submitButton" id="propose">{{operation}}</button>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("propose").addEventListener("click", propose);

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  {% if name %}
    document.getElementById('name').value = decodeHtml(`{{name}}`);
  {% endif %}

  {% if text %}
    document.getElementById('text').value = decodeHtml(`{{text}}`);
  {% endif %}

  function propose() {
    const urlParams = new URLSearchParams(window.location.search);
    const operation = urlParams.get('operation');
    const doc = urlParams.get('doc');

    const name = document.getElementById("name").value
    const text = document.getElementById("text").value

    fetch('../../../main/policyengine/document_action_save', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'operation': operation,
        'doc': doc,
        'name': name,
        'text': text
      })
    }).then(response => {
      window.location.href = "{{server_url}}/main/"
    });
  }
</script>
{% endblock %}
