{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap" rel="stylesheet">

<style>
    .body {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 10vw;
        padding-top: 3vh;
    }




.desc {
    color: #373456;
    padding: 0% 1%;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 1em;
    text-align: left;
    padding: 0.5vh;
}
.name {
    width: 40%;
}

.functionName {
    color: #373456;
    padding-top: 1vh;
    font-family: 'Courier New', sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: left;
}

.functionDesc {
    color: #373456;
    padding: 0.5vh;
font-family: 'Montserrat';
    font-weight: normal;
    font-size: 1em;
    margin-left:3%;
    margin-right:3%;
}

.h3{
    font-family: 'Baloo Da 2', sans-serif;
    margin: 35px;
    padding: 2vh;
}

.selected {
    background-color: #b1b5cc;
}

</style>
{% endblock %}

{% block content %}
<div class="body">
    <h3>Python Scripting Layer</h3>
    <p class = "desc">  PolicyKit is intended to empower community members to author governance procedures. The intention of these helper functions and python scripting is to make writing policies an easier process with more information easily accessible. It should encourage members of communities with less technical experience to participate in governance as well as help experienced members of the community craft policies.
        </p>
<p class = "desc">  As PolicyKit relies on Django, some of the helper functions return QuerySets. QuerySets have multiple methods including filtering, ordering and annotating. More details about using QuerySets can be found <a href = 'https://docs.djangoproject.com/en/3.0/ref/models/querysets/'> here </a>.
</p>
      <p class = "desc">  The module defines the following functions:
     </p>

<div class="functionName">
<label>action.execute()</label>
</div>
<div class = "functionDesc">
<p>   Executes action governed by policy (e.g -- adds user to role)

</p>

</div>

    <div class="functionName">
        <label>action.proposal.get_yes_votes(users=None)</label>
</div>
        <div class = "functionDesc">
            <p> As default, returns a QuerySet of all users who voted “yes” for a given proposal. If users is passed in, votes are returned only for those users.
            </p>

        </div>
<div class="functionName">
    <label>action.proposal.get_no_votes(users=None)</label>
</div>
    <div class = "functionDesc">
<p> As default, returns a list of all users who voted “no” for a given proposal. If users is passed in, votes are returned only for those users.
</p>

</div>

<div class="functionName">
<label>action.proposal.get_number_votes(value=0, users=None)</label>
</div>
<div class = "functionDesc">
<p> As default, returns a QuerySet of all users who voted “no” for a given proposal. If users is passed in, votes are returned only for those users.
</p>

</div>


<div class="functionName">
<label>action.proposal.get_raw_boolean_votes(users=None)
    </label>
    </div>
    <div class = "functionDesc">
<p>      Returns a dictionary where key is user ID and value is array of Boolean Vote objects. Values are empty if the user hasn’t voted.

</p>

</div>

<div class="functionName">
<label>action.proposal.get_raw_number_votes(users=None)
</label>
</div>
<div class = "functionDesc">
<p>      Returns a dictionary where key is user ID and value is array of Number Vote objects. Values are empty if the user hasn’t voted.

</p>

</div>



<div class="functionName">
<label>action.proposal.get_total_vote_count(vote_type, vote_number = 1, users = None)</label>
</div>
<div class = "functionDesc">
<p> Returns a dictionary where key is vote category (true, false or bundle number) and value is vote count for given vote category. Vote_type should be entered as a string and vote_number refers to the case of number votes (defaults to 1). If users are passed in, votes are returned only for those users.

</p>

</div>


<div class="functionName">
<label>action.proposal.time_elapsed()</label>
</div>
<div class = "functionDesc">
<p> Returns time elapsed since proposal proposed
</p>

</div>

<div class="functionName">
<label>action.community.get_users()</label>
</div>
<div class = "functionDesc">
<p> Returns all users in a community in an array
</p>

</div>

<div class="functionName">
<label>action.data.get(key)</label>
</div>
<div class = "functionDesc">
<p>       Accesses a model field, data_store, that has JSON objects storing action object. In particular, accesses the database.

</p>

</div>

<div class="functionName">
<label>policy.data.get(key)
</label>
</div>
<div class = "functionDesc">
<p>     Accesses a model field, data_store, that has JSON objects storing policy object. In particular, accesses the database.


</p>

</div>

<div class="functionName">
<label>action.data.set(key, value)</label>
</div>
<div class = "functionDesc">
<p>    Sets a model field, data_store, that stores JSON objects to a particular action.


</p>

</div>

<div class="functionName">
<label>policy.data.set(key, value)</label>
</div>
<div class = "functionDesc">
<p>   Sets a model field, data_store, that stores JSON objects to a particular policy.


</p>

</div>

<div class="functionName">
<label>action.data.remove(key)</label>
</div>
<div class = "functionDesc">
<p>   Removes an entry (JSON object action) corresponding to key in database.


</p>

</div>

<div class="functionName">
<label>policy.data.remove(key)</label>
</div>
<div class = "functionDesc">
<p>         Removes an entry (JSON object policy) corresponding to key in database.


</p>

</div>

<div class="functionName">
<label>action.community.notify_action(action, policy, users = None, template = ‘Insert message here’)</label>
</div>
<div class = "functionDesc">
<p>       Notify users will vary slightly based on the different types of actions. There is a default notify action, an election bundle notify action and a combination bundle notify action. There are various types of notifications depending on the platform. In addition, the form of voting will also differ from various platforms.     Voting will differ based on different platforms as follows:
</p>
<p> Slack: Notifications will be received through slack channels with a parameter for direct messages and multiparty direct messages (default set as channel) and voted through by Slack emojis. Votes in upvote, downvote and number emojis are used only in the case of elections.
</p>
<p> Reddit: Notifications will be received through posts to the subreddit and voted in replies. In particular, users should comment containing "+1" or "-1" as a reply to the notification post.
</p>
<p> Discord: Notifications will be received through Discord channels and voted through upvote/downvote emojis. </p>

</div>
</div>
    {% endblock %}
