{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/show-hint.css" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/css-hint.js" %}">
<link rel="stylesheet" href="{% static "codemirror/theme/eclipse.css" %}">

<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
  }

  .form-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .form-row > label.col-sm-2 {
    text-align: right;
    padding-right: 0.5em;
    padding-top: 0.2em;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .description {
    resize: none;
  }

  .selectpicker + button.btn.dropdown-toggle,
  .selectpicker + button.btn.dropdown-toggle.disabled {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ffffff;
  }

  .selectpicker + button {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ffffff;
  }
  .code {
    resize: none;
  }

  .CodeMirror {
    height: auto;
    width: 100%;
    border: 1px solid #000000;
  }

  .btn.pk-btn {
    padding: 0.5em 2vw;
    margin-right: 0.4vw;
    border: 1px solid #4451b2;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
    color: #4451b2;
  }

  .btn.pk-btn:hover {
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn.pk-btn.btn-propose {
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn.pk-btn.btn-propose:hover {
    background-color: #3b4699;
    color: #ffffff;
  }

  .marker {
    position: relative;
    color: #ff0000;
    width: 10px !important;
    margin-left: 4px;
  }

  .marker .tooltip {
    visibility: hidden;
    width: 400px;
    background-color: #f5f5b5;
    color: #000000;
    border: 1px solid #000000;
    padding: 2px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    opacity: 0;
  }

  .marker:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  #alerts {
    margin-top: 1em;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="form-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      {% if operation == "Add" %}
        <h3 class="headerText">Propose a new {{type|lower}} policy</h3>
      {% elif operation == "Change" %}
        <h3 class="headerText">Propose edits to this {{type|lower}} policy</h3>
      {% endif %}
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button type="button" class="pk-btn btn" id="upload">Upload policy</button>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="name">Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control name" id="name" required>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="description">Description</label>
    <div class="col-sm-8">
      <textarea class="form-control description" id="description" rows="6"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="filter">Action Types</label>
    <div class="col-sm-8">
      <select id="actionpicker" class="selectpicker form-control" data-live-search="true" title="Select actions..." multiple>
        {% for app_name, action_list in actions %}
          <optgroup label="{{app_name|upper}}">
            {% for model_name, verbose_name in action_list %}
              <option value={{model_name}}>{{verbose_name}}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
      
      </select>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="filter">Filter</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="filter" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="initialize">Initialize</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="initialize" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="check">Check</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="check" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="notify">Notify</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="notify" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="pass">Pass</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="pass" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="fail">Fail</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="fail" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      {% if operation == "Add" %}
        <button type="button" class="pk-btn btn btn-propose" id="propose">Propose policy</button>
      {% elif operation == "Change" %}
        <button type="button" class="pk-btn btn btn-propose" id="propose">Propose edits</button>
      {% endif %}
      <button type="button" class="pk-btn btn" id="download">Download policy</button>
      <button type="button" class="pk-btn btn" id="documentation">View documentation</button>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-2"></div>
    <div class="control-label col-sm-10">
      <div id="alerts"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "codemirror/lib/codemirror.js" %}"></script>
<script src="{% static "codemirror/mode/python/python.js" %}"></script>
<script src="{% static "codemirror/addon/hint/show-hint.js" %}"></script>
<script src="{% static "codemirror/addon/hint/python-hint.js" %}"></script>
<script src="{% static "codemirror/addon/display/autorefresh.js" %}"></script>

<script>
  document.getElementById("upload").addEventListener("click", upload);
  document.getElementById("propose").addEventListener("click", propose);
  document.getElementById("download").addEventListener("click", download);
  document.getElementById("documentation").addEventListener("click", documentation);

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }


  function documentation() {
    window.open(`https://policykit.readthedocs.io/en/latest/index.html`, '_blank');
  }

  function propose() {
    const name = document.getElementById("name").value;
    const description = document.getElementById("description").value;
    const action_types = $("#actionpicker").val();
    const filter = document.getElementById("filter").nextSibling.CodeMirror.getValue();
    const initialize = document.getElementById("initialize").nextSibling.CodeMirror.getValue();
    const check = document.getElementById("check").nextSibling.CodeMirror.getValue();
    const notify = document.getElementById("notify").nextSibling.CodeMirror.getValue();
    const success = document.getElementById("pass").nextSibling.CodeMirror.getValue();
    const fail = document.getElementById("fail").nextSibling.CodeMirror.getValue();

    fetch('../../../main/policyengine/policy_action_save', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'type': `{{type}}`,
        'operation': `{{operation}}`,
        'policy': `{{policy}}`,
        'name': name,
        'description': description,
        'action_types': action_types,
        'is_bundled': false,
        'filter': filter,
        'initialize': initialize,
        'check': check,
        'notify': notify,
        'success': success,
        'fail': fail
      })
    }).then(response => {
      if (!response.ok) {
          response.text().then(text => {
            console.error(text)
            var msg = "Something went wrong."
            if (response.status == 400) {
              msg = text
            }
            $('#alerts').html(msg).css("color", "red");
          })
        } else {
          window.location.href = "{{server_url}}/main/";
        }
    });
  }


  {% if name %}
    document.getElementById('name').value = decodeHtml(`{{name}}`)
  {% endif %}

  {% if description %}
    document.getElementById('description').value = decodeHtml(`{{description}}`)
  {% endif %}

  {% if action_types is not None %}
  const action_types = {{ action_types|safe }};
  const operation = `{{operation}}`;
  const type = `{{type}}`;
  if (action_types.length > 0) {
    $('#actionpicker').selectpicker('val', action_types);
  } else if (operation == "Change") {
    // disable the action picker, because the loaded policy was a base policy
    $('#actionpicker').prop('disabled', true);
    const title = type == "Constitution" ? "All constitution actions": "All platform actions";
    $('#actionpicker').prop('title', title);
    $('#actionpicker').selectpicker('refresh');
  }
  {% endif %}


  const DEFAULT_VALUES = {
    "filter": "return True\n\n",
    "initialize": "pass\n\n",
    "check": "return PASSED\n\n",
    "notify": "pass\n\n",
    "pass": "action.execute()\n\n",
    "fail": "pass\n\n"
  };

  CodeMirror.defineOption('functionName', 'filter', (cm, val) => { return; });

  var editors = [];

  for (let i = 0; i < Object.keys(DEFAULT_VALUES).length; i++) {
    var code_id = Object.keys(DEFAULT_VALUES)[i];
    var textArea = document.getElementById(code_id);
    editors.push(CodeMirror.fromTextArea(textArea, {
        mode: 'python',
        autoRefresh: true,
        lineNumbers: true,
        theme: 'eclipse',
        extraKeys: {"Ctrl-Space": "autocomplete"},
        matchBrackets: true,
        gutters: ['warnings'],
        functionName: code_id
    }));

    switch (i) {
      case 0:
        {% if filter %}
          editors[i].setValue(decodeHtml(`{{filter}}`));
          break;
        {% endif %}
      case 1:
        {% if initialize %}
          editors[i].setValue(decodeHtml(`{{initialize}}`));
          break;
        {% endif %}
      case 2:
        {% if check %}
          editors[i].setValue(decodeHtml(`{{check}}`));
          break;
        {% endif %}
      case 3:
        {% if notify %}
          editors[i].setValue(decodeHtml(`{{notify}}`));
          break;
        {% endif %}
      case 4:
        {% if success %}
          editors[i].setValue(decodeHtml(`{{success}}`));
          break;
        {% endif %}
      case 5:
        {% if fail %}
          editors[i].setValue(decodeHtml(`{{fail}}`));
          break;
        {% endif %}
      default:
        editors[i].setValue(decodeHtml(DEFAULT_VALUES[code_id]));
    }

    // https://stackoverflow.com/questions/11401317/autocomplete-for-python-in-codemirror
    editors[i].on('inputRead', function onChange(editor, input) {
        if (input.text[0] === ';' || input.text[0] === ' ' || input.text[0] === ":") {
            return;
        }
        editor.showHint({ hint: CodeMirror.pythonHint });
    });

    editors[i].on('change', (cm, change) => {
      fetch('../../../main/policyengine/error_check', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'code': cm.getValue(),
          'function_name': cm.getOption('functionName')
        })
      })
      .then(response => response.json())
      .then(data => {
        cm.clearGutter('warnings')

        if (data.errors.length > 0) {
          for (const error of data.errors) {
            const marker = document.createElement('div')
            marker.classList.add('marker')
            marker.innerHTML = '●'

            const tooltip = document.createElement('span')
            tooltip.classList.add('tooltip')
            tooltip.innerHTML = error
            marker.appendChild(tooltip)

            const lineno = parseInt(error.substring(0, error.indexOf(':')))
            cm.setGutterMarker(lineno - 1, 'warnings', marker)
          }
        }
      })
    })
  }

  function is_policy_default() {
    if (document.getElementById('name').value != "") {
      return false;
    }
    if (document.getElementById('description').value != "") {
      return false;
    }
    for (let i = 0; i < Object.keys(DEFAULT_VALUES).length; i++) {
      if (editors[i].getValue() != Object.values(DEFAULT_VALUES)[i]) {
        return false;
      }
    }
    return true;
  }

  function upload(type) {
    if (is_policy_default() || confirm("Warning: This will overwrite your policy code! Are you sure you want to upload a policy?")) {
      // User selects which policy they would like to upload. Policy is read into a json object.
      let input_elem = document.createElement('input');
      input_elem.type = 'file';
      input_elem.onchange = e => {
        let reader = new FileReader();
        reader.onload = e => {
          let policy_data = JSON.parse(e.target.result);

          document.getElementById('name').value = decodeHtml(`${policy_data.name}`);
          document.getElementById('description').value = decodeHtml(`${policy_data.description}`);
          $('#actionpicker').selectpicker('val', policy_data.action_types);
          editors[0].setValue(decodeHtml(`${policy_data.filter}`));
          editors[1].setValue(decodeHtml(`${policy_data.initialize}`));
          editors[2].setValue(decodeHtml(`${policy_data.check}`));
          editors[3].setValue(decodeHtml(`${policy_data.notify}`));
          editors[4].setValue(decodeHtml(`${policy_data.success}`));
          editors[5].setValue(decodeHtml(`${policy_data.fail}`));
        }
        reader.readAsText(e.target.files[0]);
      }
      input_elem.click();
    }
  }

  function download() {
    const name = document.getElementById("name").value;

    let policy_data = {
      'name': name,
      'description': document.getElementById("description").value,
      'is_bundled': false,
      'action_types': $("#actionpicker").val(),
      'filter': document.getElementById("filter").nextSibling.CodeMirror.getValue(),
      'initialize': document.getElementById("initialize").nextSibling.CodeMirror.getValue(),
      'check': document.getElementById("check").nextSibling.CodeMirror.getValue(),
      'notify': document.getElementById("notify").nextSibling.CodeMirror.getValue(),
      'success': document.getElementById("pass").nextSibling.CodeMirror.getValue(),
      'fail': document.getElementById("fail").nextSibling.CodeMirror.getValue()
    };

    let policy_data_string = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(policy_data));

    // Only allow alphanumeric characters and underscores in the filename
    let filename = name.replace(/[^0-9a-zA-Z]/g, "_") + ".txt";

    // https://stackoverflow.com/questions/45831191/generate-and-download-file-from-js
    let download_elem = document.createElement('a');
    download_elem.setAttribute('href', policy_data_string);
    download_elem.setAttribute('download', filename);
    download_elem.style.display = 'none';
    document.body.appendChild(download_elem);
    download_elem.click();
    document.body.removeChild(download_elem);
  }
</script>
{% endblock %}
