{% extends "base.html" %}
{% load static %}
{% block styles %}
  <style>
  .form-row {
    margin-bottom: 20px;
  }
  form .help-block {
    font-style: italic;
  }
  legend {
    text-transform: uppercase;
  }
  /*https://github.com/jsonform/jsonform/blob/f30484e3300cfb4bb4f7efefdde736798103e46d/lib/jsonform.js#L862*/
  .glyphicon-minus-sign:before {
    content: "\2212";
}
  .glyphicon-plus-sign:before {
    content: "\002B";
  }
  .glyphicon-list:before {
    content: "\2261";
  }
  .glyphicon {
      position: relative;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  </style>
{% endblock %}
{% block content %}
  <main class="grid md:grid-cols-2 gap-6 min-h-screen items-center justify-between">
    <div class="hidden md:block w-full md:min-h-screen"
         style="background: linear-gradient(243deg, rgba(222, 195, 252, 0.57) 1.25%, rgba(196, 196, 252, 0.68) 45.36%, #99C4FC 97.5%)">
    </div>
    <div class="container">
      <div class="mb-6">{% include "patterns/icons/external.html" with icon=additional_data.readable_name %}</div>
      <h1 class="h2 mb-4">Integrate {{ additional_data.readable_name }}</h1>
      <div class="mb-8">
        {% if additional_data.description %}
          <div class="form-row mb-2 text-muted">
            <div class="col-sm-8">{{ additional_data.description }}</div>
          </div>
        {% endif %}
        {% if additional_data.config_instructions %}
          <div class="form-row">
            <div class="col-sm-8">
              <b>Instructions: </b>{{ additional_data.config_instructions }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="config-container">
        <div class="form-row">
          <div class="col-sm-8">
            <form id="json-editor-form" method="post">
              {% csrf_token %}
            </form>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-8">
            <div id="alerts"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block scripts %}
  <script src={% static "policyengine/js/jquery-3.4.1.min.js" %}></script>
  <script src={% static "policyengine/js/underscore-min.js" %}></script>
  <script src={% static "policyengine/js/jsonform.js" %}></script>
  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
    function decodeHtml(html) {
      var txt = document.createElement("textarea");
      txt.innerHTML = html;
      return txt.value;
    }
    const metadata = JSON.parse(decodeHtml("{{metadata_string}}"));
    const schema = metadata.schemas.config
    schema.type = "object";
    schema.title = "config";
    schema.properties = schema.properties || {}

    JSONForm.fieldTypes['htmlsnippet'] = {
      template: '<%=node.value %>'
    };

    form = []
    Object.keys(schema.properties).forEach(k => {
      if (schema.properties[k].type == "array") {
        form.push({
          "type": "array",
          "title": `${k} list`.toUpperCase(),
          "description": schema.properties[k].description,
          "items": [{
            "key": `${k}[]`,
            "title": `${k} {% verbatim %} {{idx}} {% endverbatim %}`
          }]
        })
      } else {
        form.push(k)
      }
    })
    form.push({
      "type": "actions",
      "htmlClass" : "flex items-center gap-4 mt-16 justift-end",
      "items": [
        {
          "type": "button",
          "title": "Cancel",
          "htmlClass": "button secondary large",
          "onClick": function (evt) {
            evt.preventDefault();
            window.location.href = '/main/settings/?tab=Integrations';     
          }
        },
        {
          "type": "submit",
          "title": "Submit",
          "htmlClass": "button primary large",
        },
      ]
    })

    // Uses https://github.com/jsonform/jsonform
    $('form#json-editor-form').jsonForm({
      schema: schema,
      form: form,
      validate: true,
      onSubmit: function (errors, values) {
          if (errors) {
            console.error(errors)
            $('#alerts').html('An error occurred').css("color", "red");
            return
          }
          
          fetch(`../../../{{integration}}/enable_integration`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(values)
          }).then(response => {
            if (response.ok) {
              window.location.href = "/main/settings"
            }
            else {
              response.text().then(text => {
                console.error(text)
                msg = "Something went wrong."
                if (response.status == 403) {
                  msg = "You do not have permission to enable integrations."
                }
                $('#alerts').html(msg).css("color", "red");
              })
            }
          })
        },
      });
  </script>
{% endblock %}
