{% extends "./dashboard_base.html" %}
{% load static %}
{% load dashboard_extras %}
{% block content %}
  <div class="lg:sticky lg:top-0 lg:z-30 flex gap-2 bg-white py-6 px-6 lg:py-8 lg:px-8 border-b border-background-focus justify-between">
    <h1 class="inline h3">Home</h1>
    {% include "patterns/components/modal/share-modal.html" %}
  </div>
  <div class="lg:grid lg:grid-cols-10 relative">
    <div class="lg:p-6 lg:col-span-7">
      <section x-show="welcome"
               class="px-8 py-7 bg-primary-lightest rounded-lg"
               x-data="{welcome: true}">
        <div class="flex items-center justify-between mb-8">
          <h2 class="h4 ">Welcome to {{ user.community.community_name }}'s governance dashboard</h2>
          <button @click="welcome = false">{% include "patterns/icons/cancel.html" with class="stroke-primary-dark" %}</button>
        </div>
        <p class="mb-6">
          If you have any questions or need help getting started, don't hesitate to reach out. We're here to help you build and evolve a thriving online community.
        </p>
        <div class="flex justify-end ">
          <a href="#" class="button primary medium">Share your feedback</a>
        </div>
      </section>
      <section class="px-8 py-7 mt-4 border border-background-focus rounded-lg">
        <div class="flex items-center justify-between mb-4">
          <h3 class="h5">Community guidelines</h3>
          <button href="#"
                  class="button primary medium"
                  x-data
                  @click="$dispatch('toggle_modal')"
                  hx-get="/main/documenteditor?operation=Add"
                  hx-push-url="true"
                  hx-target="#modal-content"
                  hx-swap="innerHTML transition:true">Add</button>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 h-32">
          {% for doc in docs %}
            <div class="w-full p-4 border border-gray-300 rounded-lg shadow-sm">
              <div class="font-semibold text-lg text-gray-800">{{ doc.name }}</div>
              <p class="text-gray-600 text-nowrap overflow-hidden truncate line-clamp-1">{{ doc.text }}</div>
            </div>
          {% empty %}
            {% include "patterns/icons/guidelines_empty.html" %}
            <p class="text-grey-dark">No Guidelines yet</p>
          {% endfor %}
        </div>
      </section>
      <section class="px-8 py-7 mt-4 border border-background-focus rounded-lg">
        <div class="flex items-center justify-between mb-4">
          <h3 class="h5">Policies</h3>
          <button href="#"
                  class="button primary medium"
                  x-data
                  @click="$dispatch('toggle_modal')"
                  hx-get="/main/policynew"
                  hx-push-url="true"
                  hx-target="#modal-content"
                  hx-swap="innerHTML transition:true">Add</button>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 h-32">
          {% include "patterns/icons/policies_empty.html" %}
          <p class="text-grey-dark">No Policies yet</p>
        </div>
      </section>
      <div class="h-80"></div>
    </div>
    <section class="px-5 py-4 lg:col-span-3 border-l border-background-focus">
      <div class="lg:sticky lg:top-32">
        <h3 class="h5">Governance history</h3>
        {% for action in action_log %}
          <tr class="sidebarItem">
            <td>{{ action.actor|capfirst }} {{ action.verb|default_if_none:"" }}</td>
            <td>{{ action.timesince }} ago</td>
          </tr>
        {% empty %}
          <div class="flex flex-col items-center justify-center h-60 gap-4">
            {% include "patterns/icons/activity_log_empty.html" %}
            <p class="text-grey-dark">No actions yet</p>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
  <div class="body">
    <div class="leftCol">
      <!--<input type="text" class="searchBar" placeholder="Search">-->
      <div class="actionPanel">
        <h3 class="actionPanelTitle">Pending actions</h3>
        <div class="actionPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for proposal in pending_proposals %}
                <tr class="sidebarItem">
                  <td>{{ proposal.action|capfirst }} governed by '{{ proposal.policy }}'</td>
                  <td>{{ proposal.proposal_time|timesince }} ago</td>
                </tr>
              {% empty %}
                <tr class="sidebarItem">
                  <td>No pending actions.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="rightCol">
      <input type="button"
             class="proposeButton"
             value="Propose action"
             id="proposeAction">
      <div class="sidebarPanel">
        <h4 class="sidebarPanelTitle">Users</h4>
        <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for u in users %}
                <tr class="sidebarItem">
                  <td>
                    {% if u.avatar %}
                      <img class="sidebarPicture" src="{{ u.avatar }}">
                    {% else %}
                      <img class="sidebarPicture"
                           src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp">
                    {% endif %}
                  </td>
                  <td>{{ u.readable_name|default_if_none:u.username }}</td>
                  <td>
                    {% with roles=u|user_roles %}
                      {% for r in roles %}
                        {% if forloop.last %}
                          {{ r }}
                        {% else %}
                          {{ r }},
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebarPanel">
        <h4 class="sidebarPanelTitle">Roles</h4>
        <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for role in roles %}
                <tr class="sidebarItem">
                  <td>{{ role.role_name }}</td>
                  <td>{{ role|role_users_string }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebarPanel">
        <h4 class="sidebarPanelTitle">Community documents</h4>
        <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for doc in docs %}
                <tr id="document_{{ doc.pk }}" class="sidebarItem">
                  <td>{{ doc.name }}</td>
                </tr>
              {% empty %}
                <tr class="sidebarItem">
                  <td>No documents.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebarPanel">
        <h4 class="sidebarPanelTitle">Platform policies</h4>
        <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for policy in platform_policies %}
                <tr id="platform_{{ policy.pk }}" class="sidebarItem">
                  <td>{{ policy.name }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebarPanel">
        <h4 class="sidebarPanelTitle">Constitution policies</h4>
        <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for policy in constitution_policies %}
                <tr id="constitution_{{ policy.pk }}" class="sidebarItem">
                  <td>{{ policy.name }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebarPanel">
        <h4 class="sidebarPanelTitle">Trigger policies</h4>
        <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for policy in trigger_policies %}
                <tr id="trigger_{{ policy.pk }}" class="sidebarItem">
                  <td>{{ policy.name }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="modal_code" class="modal">
    <div class="modal-content">
      <div class="close">&times;</div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="doc_name">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control name" id="doc_name" readonly>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="doc_text">Text:</label>
        <div class="col-sm-10">
          <textarea class="form-control description" id="doc_text" readonly rows="10"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="close">&times;</div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control name" id="name" readonly>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-10">
          <textarea class="form-control description" id="description" readonly rows="6"></textarea>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="action_types">Action Types:</label>
        <div class="col-sm-10">
          <textarea class="form-control description" id="action_types" readonly rows="1"></textarea>
        </div>
      </div>
      <div class="form-row" id="variables-field-container">
        <label class="control-label col-sm-2" for="variables">Variables:</label>
        <div class="col-sm-10">
          <textarea class="form-control description" id="variables" readonly rows="1"></textarea>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="filter">Filter:</label>
        <div class="col-sm-10">
          <textarea class="form-control code" id="filter" readonly rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="initialize">Initialize:</label>
        <div class="col-sm-10">
          <textarea class="form-control code" id="initialize" readonly rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="notify">Notify:</label>
        <div class="col-sm-10">
          <textarea class="form-control code" id="notify" readonly rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="check">Check:</label>
        <div class="col-sm-10">
          <textarea class="form-control code" id="check" readonly rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="pass">Pass:</label>
        <div class="col-sm-10">
          <textarea class="form-control code" id="pass" readonly rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <label class="control-label col-sm-2" for="fail">Fail:</label>
        <div class="col-sm-10">
          <textarea class="form-control code" id="fail" readonly rows="3"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="button" class="btn" id="download">Download policy</button>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="button" class="btn" id="editpolicy">Edit policy</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
  document.getElementById("download").addEventListener("click", download);
  document.getElementById("editpolicy").addEventListener("click", editPolicy);
  document.getElementById("proposeAction").addEventListener("click", navActions);

  {% for value in platform_policies %}
    document.getElementById("platform_{{value.pk}}").addEventListener("click", function(){ showModal('code', {
      pk: `{{value.pk}}`,
      kind: `{{value.kind}}`,
      name: `{{value.name}}`,
      description: `{{value.description|default_if_none:""}}`,
      action_types: `{{value|action_types|default_if_none:"All platform actions"}}`,
      variables: `{{value|variables|default_if_none:""}}`,
      filter: `{{value.filter}}`,
      initialize: `{{value.initialize}}`,
      check: `{{value.check}}`,
      notify: `{{value.notify}}`,
      pass: `{{value.success}}`,
      fail: `{{value.fail}}`
    }); });
  {% endfor %}

  {% for value in constitution_policies %}
    document.getElementById("constitution_{{value.pk}}").addEventListener("click", function(){ showModal('code', {
      pk: `{{value.pk}}`,
      kind: `{{value.kind}}`,
      name: `{{value.name}}`,
      description: `{{value.description|default_if_none:""}}`,
      action_types: `{{value|default_if_none:"All constitution actions"}}`,
      variables: `{{value|variables|default_if_none:""}}`,
      filter: `{{value.filter}}`,
      initialize: `{{value.initialize}}`,
      check: `{{value.check}}`,
      notify: `{{value.notify}}`,
      pass: `{{value.success}}`,
      fail: `{{value.fail}}`
    }); });
  {% endfor %}

  {% for value in trigger_policies %}
    document.getElementById("trigger_{{value.pk}}").addEventListener("click", function(){ showModal('code', {
      pk: `{{value.pk}}`,
      kind: `{{value.kind}}`,
      name: `{{value.name}}`,
      description: `{{value.description|default_if_none:""}}`,
      action_types: `{{value|default_if_none:""}}`,
      variables: `{{value|variables|default_if_none:""}}`,
      filter: `{{value.filter}}`,
      initialize: `{{value.initialize}}`,
      check: `{{value.check}}`,
      notify: `{{value.notify}}`,
      pass: `{{value.success}}`,
      fail: `{{value.fail}}`
    }); });
  {% endfor %}

  {% for doc in docs %}
    document.getElementById("document_{{doc.pk}}").addEventListener("click", function(){ showModal('doc', {
      name: `{{doc.name}}`,
      text: `{{doc.text}}`
    }); });
  {% endfor %}

  modals = document.getElementsByClassName("modal");
  for (let i = 0; i < modals.length; i++) {
    modals[i].addEventListener("click", hideModal);
  }

  closeButtons = document.getElementsByClassName("close");
  for (let i = 0; i < closeButtons.length; i++) {
    closeButtons[i].addEventListener("click", hideModal);
  }

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  function navActions() {
    window.location.href = "/main/actions/"
  }

  function showModal(type, modalData) {
    if (type == 'code') {
      document.getElementById("modal").style.display = "block";
      $("#modal").data("pk", modalData.pk);
      $("#modal").data("kind", modalData.kind);
      document.getElementById("name").value = decodeHtml(modalData.name);
      document.getElementById("description").value = decodeHtml(modalData.description);
      document.getElementById("action_types").value = decodeHtml(modalData.action_types);
      document.getElementById("filter").value = decodeHtml(modalData.filter);
      document.getElementById("initialize").value = decodeHtml(modalData.initialize);
      document.getElementById("check").value = decodeHtml(modalData.check);
      document.getElementById("notify").value = decodeHtml(modalData.notify);
      document.getElementById("pass").value = decodeHtml(modalData.pass);
      document.getElementById("fail").value = decodeHtml(modalData.fail);

      if (modalData.variables) {
        document.getElementById("variables-field-container").style.display = 'flex';
        document.getElementById("variables").value = decodeHtml(modalData.variables);
      } else {
        document.getElementById("variables-field-container").style.display = 'none';
      }

    } else if (type == 'doc') {
      document.getElementById("modal_code").style.display = "block";
      document.getElementById('doc_name').value = decodeHtml(modalData.name);
      document.getElementById('doc_text').value = decodeHtml(modalData.text);
    }
  }

  function hideModal(event) {
    if (event.target !== this) return;

    modals = document.getElementsByClassName("modal");
    for (let i = 0; i < modals.length; i++) {
      modals[i].style.display = "none";
    }
  }

  function download() {
    const name = document.getElementById("name").value;

    let policy_data = {
      'name': name,
      'description': document.getElementById("description").value,
      'is_bundled': false,
      'filter': document.getElementById("filter").value,
      'initialize': document.getElementById("initialize").value,
      'check': document.getElementById("check").value,
      'notify': document.getElementById("notify").value,
      'success': document.getElementById("pass").value,
      'fail': document.getElementById("fail").value
    };

    let policy_data_string = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(policy_data));

    // Only allow alphanumeric characters and underscores in the filename
    let filename = name.replace(/[^0-9a-zA-Z]/g, "_") + ".txt";

    // https://stackoverflow.com/questions/45831191/generate-and-download-file-from-js
    let download_elem = document.createElement('a');
    download_elem.setAttribute('href', policy_data_string);
    download_elem.setAttribute('download', filename);
    download_elem.style.display = 'none';
    document.body.appendChild(download_elem);
    download_elem.click();
    document.body.removeChild(download_elem);
  }
  function editPolicy() {
    const data = $("#modal").data()
    window.location.href = `/main/editor?type=${data.kind}&operation=Change&policy=${data.pk}`;
  }
  </script>
{% endblock %}
