{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .body {
    display: flex;
    flex-direction: row;
  }

  .leftCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .rightCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }

  .searchBar {
    display: flex;
    width: 90%;
    margin-top: 1vh;
    margin-right: auto;
    border-radius: 30px;
    border-width: 0px;
    padding: 10px 30px;
    background-color: #ffffff;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
  }

  .proposeButton {
    width: 80%;
    padding: 2% 20%;
    margin: 0.5em 0 1em auto;
    border-width: 0px;
    border-radius: 20px;
    background-color: #4451b2;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    outline: none;
  }

  .proposeButton:hover {
    background-color: #3b4699;
  }

  .sidebarPanel {
    width: 80%;
    min-height: 20em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .sidebarPanelTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    padding: 1em 0 0.5em 2vw;
  }

  .sidebarPanelContent {
    width: 92%;
    margin-left: 4%;
    height: 13.5em;
    overflow: auto;
  }

  .sidebarPicture {
    height: 1.5em;
    border-radius: 50%;
  }

  .sidebarItem {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: #333333;
    cursor: pointer;
  }

  .actionPanel {
    width: 90%;
    margin-right: auto;
    max-height: 40em;
    margin-top: 0.5em;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 2em;
  }

  .actionPanelTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    padding: 1em 0 0.5em 2vw;
  }

  .actionPanelContent {
    width: 92%;
    margin-left: 4%;
    max-height: 33.5em;
    overflow: auto;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #ffffff;
    margin: 5vh auto;
    padding: 2%;
    border: 1px solid #888;
    width: 70vw;
  }

  .editor {
    width: 90%;
  }

  .name {
    width: 90%;
  }

  .description {
    resize: none;
    width: 90%;
  }

  .bundled {
    width: auto;
  }

  .code {
    resize: none;
    font-family: monospace;
  }

  .btn {
    padding: 0.5em 2vw;
    margin-right: 0.4vw;
    border: 1px solid #4451b2;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
    color: #4451b2;
  }

  .btn:hover {
    background-color: #4451b2;
    color: #ffffff;
  }

  .form-row {
    margin-bottom: 2vh;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: #373456;
  }

  .close {
    margin-left: auto;
    margin-bottom: 2vh;
    width: 10%;
    font-size: 32px;
    font-weight: bold;
  }

  .close:hover {
    cursor: pointer;
  }

  input[readonly] {
    background-color: #ffffff !important;
  }

  textarea[readonly] {
    background-color: #ffffff !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="leftCol">
    <!--<input type="text" class="searchBar" placeholder="Search">-->
    <div class="actionPanel">
      <h3 class="actionPanelTitle">Pending actions</h3>
      <div class="actionPanelContent">
        <table class="table table-hover">
          <tbody>
              {% for proposal in pending_proposals %}
                <tr class="sidebarItem">
                  <td>{{proposal.action|capfirst}} governed by '{{proposal.policy}}'</td>
                  <td>{{proposal.proposal_time|timesince}} ago</td>
                </tr>
              {% empty %}
                <tr class="sidebarItem">
                  <td>No pending actions.</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="actionPanel">
      <h3 class="actionPanelTitle">Recent actions</h3>
      <div class="actionPanelContent">
        <table class="table table-hover">
          <tbody>
            {% for action in action_log %}
              <tr class="sidebarItem">
                <td>{{action.actor|capfirst}} {{action.verb|default_if_none:""}}</td>
                <td>{{action.timesince}} ago</td>
              </tr>
            {% empty %}
              <tr class="sidebarItem">
                <td>No recent actions.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="rightCol">
    <input type="button" class="proposeButton" value="Propose action" id="proposeAction">

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Users</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for key, value in users.items %}
                <tr class="sidebarItem">
                  <td>
                    {% if value.avatar %}
                      <img class="sidebarPicture" src="{{value.avatar}}">
                    {% else %}
                      <img class="sidebarPicture" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp">
                    {% endif %}
                  </td>
                  <td>{{value.readable_name}}</td>
                  <td>
                    {% for r in value.roles %}
                      {% if forloop.last %}
                        {{r.name}}
                      {% else %}
                        {{r.name}},
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Roles</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for key, value in roles.items %}
                <tr class="sidebarItem">
                  <td>{{key}}</td>
                  <td>
                    {% if value.users|length == 1 %}
                      {{value.users.0.username}}
                    {% elif value.users|length == 2 %}
                      {{value.users.0.username}} and {{value.users.1.username}}
                    {% elif value.users|length >= 3 %}
                      {{value.users.0.username}}, {{value.users.1.username}} and {{value.users|length|add:"-2"}} more...
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Community documents</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for doc in docs %}
                <tr id="document_{{doc.pk}}" class="sidebarItem">
                  <td>{{doc.name}}</td>
                </tr>
              {% empty %}
                <tr class="sidebarItem">
                  <td>No documents.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Platform policies</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for policy in platform_policies %}
                <tr id="platform_{{policy.pk}}" class="sidebarItem">
                  <td>{{policy.name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Constitution policies</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <tbody>
              {% for policy in constitution_policies %}
                <tr id="constitution_{{policy.pk}}" class="sidebarItem">
                  <td>{{policy.name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

<div id="modal_code" class="modal">
  <div class="modal-content">
    <div class="close">&times;</div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="doc_name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control name" id="doc_name" readonly>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="doc_text">Text:</label>
      <div class="col-sm-10">
        <textarea class="form-control description" id="doc_text" readonly rows="10"></textarea>
      </div>
    </div>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div class="close">&times;</div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control name" id="name" readonly>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">
        <textarea class="form-control description" id="description" readonly rows="6"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="filter">Filter:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="filter" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="initialize">Initialize:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="initialize" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="notify">Notify:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="notify" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="check">Check:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="check" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="pass">Pass:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="pass" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="fail">Fail:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="fail" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <button type="button" class="btn" id="download">Download policy</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("download").addEventListener("click", download);

  document.getElementById("proposeAction").addEventListener("click", navActions);

  {% for value in platform_policies %}
    document.getElementById("platform_{{value.pk}}").addEventListener("click", function(){ showModal('code', {
      name: `{{value.name}}`,
      description: `{{value.description|default_if_none:""}}`,
      filter: `{{value.filter}}`,
      initialize: `{{value.initialize}}`,
      check: `{{value.check}}`,
      notify: `{{value.notify}}`,
      pass: `{{value.success}}`,
      fail: `{{value.fail}}`
    }); });
  {% endfor %}

  {% for value in constitution_policies %}
    document.getElementById("constitution_{{value.pk}}").addEventListener("click", function(){ showModal('code', {
      name: `{{value.name}}`,
      description: `{{value.description|default_if_none:""}}`,
      filter: `{{value.filter}}`,
      initialize: `{{value.initialize}}`,
      check: `{{value.check}}`,
      notify: `{{value.notify}}`,
      pass: `{{value.success}}`,
      fail: `{{value.fail}}`
    }); });
  {% endfor %}

  {% for doc in docs %}
    document.getElementById("document_{{doc.pk}}").addEventListener("click", function(){ showModal('doc', {
      name: `{{doc.name}}`,
      text: `{{doc.text}}`
    }); });
  {% endfor %}

  modals = document.getElementsByClassName("modal");
  for (let i = 0; i < modals.length; i++) {
    modals[i].addEventListener("click", hideModal);
  }

  closeButtons = document.getElementsByClassName("close");
  for (let i = 0; i < closeButtons.length; i++) {
    closeButtons[i].addEventListener("click", hideModal);
  }

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  function navActions() {
    window.location.href = "{{server_url}}/main/actions/"
  }

  function showModal(type, modalData) {
    if (type == 'code') {
      document.getElementById("modal").style.display = "block";
      document.getElementById("name").value = decodeHtml(modalData.name);
      document.getElementById("description").value = decodeHtml(modalData.description);
      document.getElementById("filter").value = decodeHtml(modalData.filter);
      document.getElementById("initialize").value = decodeHtml(modalData.initialize);
      document.getElementById("check").value = decodeHtml(modalData.check);
      document.getElementById("notify").value = decodeHtml(modalData.notify);
      document.getElementById("pass").value = decodeHtml(modalData.pass);
      document.getElementById("fail").value = decodeHtml(modalData.fail);
    } else if (type == 'doc') {
      document.getElementById("modal_code").style.display = "block";
      document.getElementById('doc_name').value = decodeHtml(modalData.name);
      document.getElementById('doc_text').value = decodeHtml(modalData.text);
    }
  }

  function hideModal(event) {
    if (event.target !== this) return;

    modals = document.getElementsByClassName("modal");
    for (let i = 0; i < modals.length; i++) {
      modals[i].style.display = "none";
    }
  }

  function download() {
    const name = document.getElementById("name").value;

    let policy_data = {
      'name': name,
      'description': document.getElementById("description").value,
      'is_bundled': false,
      'filter': document.getElementById("filter").value,
      'initialize': document.getElementById("initialize").value,
      'check': document.getElementById("check").value,
      'notify': document.getElementById("notify").value,
      'success': document.getElementById("pass").value,
      'fail': document.getElementById("fail").value
    };

    let policy_data_string = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(policy_data));

    // Only allow alphanumeric characters and underscores in the filename
    let filename = name.replace(/[^0-9a-zA-Z]/g, "_") + ".txt";

    // https://stackoverflow.com/questions/45831191/generate-and-download-file-from-js
    let download_elem = document.createElement('a');
    download_elem.setAttribute('href', policy_data_string);
    download_elem.setAttribute('download', filename);
    download_elem.style.display = 'none';
    document.body.appendChild(download_elem);
    download_elem.click();
    document.body.removeChild(download_elem);
  }
</script>
{% endblock %}
