{% extends "./dashboard_base.html" %}
{% load static %}
{% load dashboard_extras %}
{% load django_vite %}
{% block content %}
  <div class="lg:sticky lg:top-0 lg:z-30 flex gap-2 bg-white py-6 px-6 lg:py-8 lg:px-8 border-b border-background-focus justify-between">
    <h1 class="inline h3">Home</h1>
    {% include "patterns/components/modal/share-modal.html" %}
  </div>
  <div class="lg:grid lg:grid-cols-10 relative"  id="--react-dashboard">
  </div>
{% endblock %}
{% block scripts %}
  {% vite_asset 'src/dashboard.tsx' %}      
{% endblock %}
