{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
  }

  .form-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .dropdownContainer {
    width: 20%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .btn {
    padding: 0.5em 2vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #3b4699;
    color: #ffffff;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <h3 class="headerText">Which {{type|lower}} policy would you like to {{operation|lower}}?</h3>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="policy">Policy</label>
    <div class="col-sm-11">
      <select class="dropdownContainer" name="policy" id="policy">
        {% for policy in policies %}
          <option value="{{policy.id}}">{{policy.name}}</option>
        {% empty %}
          <option disabled value="">-</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <button type="button" class="btn" id="submit">{{operation}} policy</button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("submit").addEventListener("click", submit);

  function submit() {
    const urlParams = new URLSearchParams(window.location.search);
    const type = urlParams.get('type');
    const operation = urlParams.get('operation');

    const select = document.getElementById("policy");
    if (select.selectedIndex == -1) return;

    const policy = select.options[select.selectedIndex].value;

    if (operation == "Change") {
      window.location.href = `/main/editor?type=${type}&operation=${operation}&policy=${policy}`;
      return
    }

    let url = "../../../main/policyengine/";
    if (operation == "Remove") {
      url += "policy_action_remove";
    } else {
      url += "policy_action_recover";
    }
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'type': type,
        'policy': policy
      })
    })
    .then(response => {
      if (response.ok) {
        window.location.href = "/main/"
      } else {
        throw Error(response.statusText);
      }
    });
  }
</script>
{% endblock %}
