{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
  }

  .form-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .name {
    width: 40%;
  }

  .description {
    resize: none;
    width: 60%;
  }

  .permissionsContainer {
    width: 40%;
    min-height: 40vh;
    margin-left: 1%;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .permissionsTable {
    width: 92%;
    margin-top: 2vh;
    margin-left: 4%;
    height: 36vh;
    overflow: auto;
  }

  .permissionItem {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    color: #333333;
    cursor: pointer;
  }

  .selected {
    background-color: #b1b5cc;
  }

  .btn {
    padding: 0.5em 2vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #3b4699;
    color: #ffffff;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% if operation == "Add" %}
        <h3 class="headerText">Propose a new role</h3>
      {% elif operation == "Change" %}
        <h3 class="headerText">Propose changes to this role</h3>
      {% endif %}
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="name">Name</label>
    <div class="col-sm-11">
      <input type="text" class="form-control name" id="name" required>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="description">Description</label>
    <div class="col-sm-11">
      <textarea class="form-control description" id="description" rows="6"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="permissions">Permissions</label>
    <div class="permissionsContainer">
      <div class="permissionsTable">
        <table class="table table-hover" id="permissions">
          <tbody>
            {% for permission in permissions %}
              <tr class="permissionItem" id="{{permission}}">
                <td>{{permission}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% if operation == "Add" %}
        <button type="button" class="btn" id="submit">Propose role</button>
      {% elif operation == "Change" %}
        <button type="button" class="btn" id="submit">Propose changes</button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  {% for permission in permissions %}
    document.getElementById(`{{permission}}`).addEventListener("click", function(){ toggleSelect(`{{permission}}`); });
  {% endfor %}
  document.getElementById("submit").addEventListener("click", submit);

  var selectedPermissions = new Set();

  {% if role_name %}
    document.getElementById('name').value = `{{role_name}}`;
  {% endif %}

  {% if description %}
    document.getElementById('description').value = `{{description}}`;
  {% endif %}

  {% if currentPermissions %}
    {% for permissionName in currentPermissions %}
      selectedPermissions.add(`{{permissionName}}`);
      document.getElementById(`{{permissionName}}`).classList.add("selected");
    {% endfor %}
  {% endif %}

  function toggleSelect(permissionName) {
    if (selectedPermissions.has(permissionName)) {
      selectedPermissions.delete(permissionName);
      document.getElementById(permissionName).classList.remove("selected");
    } else {
      selectedPermissions.add(permissionName);
      document.getElementById(permissionName).classList.add("selected");
    }
  }

  function submit() {
    const name = document.getElementById('name').value;
    const description = document.getElementById('description').value;

    fetch('../../../main/policyengine/role_action_save', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'name': `{{name}}`,
        'role_name': name,
        'description': description,
        'permissions': Array.from(selectedPermissions),
        'operation': `{{operation}}`
      })
    }).then(response => {
      if (response.ok) {
        window.location.href = "/main/"
      } else {
        throw Error(response.statusText);
      }
    });
  }
</script>
{% endblock %}
