{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
  }

  .form-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .dropdownContainer {
    width: 20%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .btn {
    padding: 0.5em 2vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #3b4699;
    color: #ffffff;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% if operation == "Add" %}
        <h3 class="headerText">Grant a role to a user</h3>
      {% elif operation == "Remove" %}
        <h3 class="headerText">Revoke a role from a user</h3>
      {% endif %}
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="role">Role</label>
    <div class="col-sm-11">
      <select class="dropdownContainer" name="role" id="role">
        {% for role in roles %}
          <option value="{{role.name}}">{{role.role_name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="user">User</label>
    <div class="col-sm-11">
      <select class="dropdownContainer" name="user" id="user">
        {% for user in users %}
          <option value="{{user.username}}">{{user.readable_name|default_if_none:user.username}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% csrf_token %}
      {% if operation == "Add" %}
        <button type="button" class="btn" id="submit">Grant role</button>
      {% elif operation == "Remove" %}
        <button type="button" class="btn" id="submit">Revoke role</button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById('submit').addEventListener("click", submit);
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  function submit() {
    const selectUser = document.getElementById("user");
    const user = selectUser.options[selectUser.selectedIndex].value;

    const selectRole = document.getElementById("role");
    const role = selectRole.options[selectRole.selectedIndex].value;

    fetch('../../../main/policyengine/role_action_users', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        'role': role,
        'user': user,
        'operation': `{{operation}}`
      })
    }).then(response => {
      if (response.ok) {
        window.location.href = "/main/"
      } else {
        throw Error(response.statusText);
      }
    });
  }
</script>
{% endblock %}
