{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .body {
    min-height: 90vh;
    margin: 0 10vw;
    padding-top: 3vh;
  }
  h2, h3 {
    padding-bottom: 1em;
  }
  .config-container {
    padding-bottom: 3em;
  }

  .form-row {
    margin-bottom: 20px;
  }
  .btn {
    font-size: 1.2em;
  }
  form .help-block {
    font-style: italic;
  }
  /*https://github.com/jsonform/jsonform/blob/f30484e3300cfb4bb4f7efefdde736798103e46d/lib/jsonform.js#L862*/
  .glyphicon-minus-sign:before {
    content: "\2212";
}
  .glyphicon-plus-sign:before {
    content: "\002B";
  }
  .glyphicon-list:before {
    content: "\2261";
  }
  .glyphicon {
      position: relative;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
</style>
{% endblock %}

{% block content %}
  <div class="body">
    <h2>Settings</h2>

    <h3>Metagov Configuration</h3>
    <div class="config-container">
      {% include "metagov_config.html" %}
    </div>

  </div>
{% endblock %}

{% block scripts %}
  <script src={% static "policyengine/js/jquery-3.4.1.min.js" %}></script>
  <script src={% static "policyengine/js/underscore-min.js" %}></script>
  <script src={% static "policyengine/js/jsonform.js" %}></script>
  {% include "metagov_config_script.html" %}
{% endblock %}
