<div class="form-row">
  <label class="control-label col-sm-2" for="variable_name">Name:</label>
  <div class="col-sm-8">
    <input type="text" class="form-control name" id="variable_name" />
  </div>
</div>

<div class="form-row">
  <label class="control-label col-sm-2" for="variable_type">Type:</label>
  <div class="col-sm-8">
    <select id="variable_type" name="variable_type" class="form-control" title="Select type...">
      <option value="string" selected>String</option>
      <option value="number">Number</option>
    </select>
  </div>
</div>

<div class="form-row">
  <label class="control-label col-sm-2" for="variable_prompt">Prompt:</label>
  <div class="col-sm-8">
    <input type="text" class="form-control name" id="variable_prompt" />
  </div>
</div>

<div class="form-row">
  <label class="control-label col-sm-2" for="variable_label">Label:</label>
  <div class="col-sm-8">
    <input type="text" class="form-control name" id="variable_label" />
  </div>
</div>

<div class="form-row">
  <label class="control-label col-sm-2" for="variable_default_value">Default Value:</label>
  <div class="col-sm-8">
    <input type="text" class="form-control name" id="variable_default_value" />
  </div>
</div>

<div class="form-row">
  <label class="control-label col-sm-2" for="variable_value">Value:</label>
  <div class="col-sm-8">
    <input type="text" class="form-control name" id="variable_value" />
  </div>
</div>

<div class="form-row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    {% csrf_token %}
      <button type="button" class="pk-btn btn" id="save-variable">Save Variable</button>
  </div>
</div>

<script>

</script>
