# minimal requirements https://github.com/pypa/pip/issues/8981#issuecomment-707051457
# metagov uses providing_args kwarg for Signal which was removed in Django 4
Django<3.4
django-activity-stream
django-celery-beat
django-celery-results
django-debug-toolbar
django-environ
django-extensions
django-filter
django-grappelli
django-jet
django-pattern-library
django-polymorphic
django-schema-graph
django-silk
django-tables2
django-vite
djangorestframework
ipython
jsonpickle
jsonschema
-e git+https://github.com/metagov/gateway.git@master#egg=metagov&subdirectory=metagov
mypy-extensions
pathspec
psycopg2-binary
pycryptodome
pyjwt
pylint
restrictedpython
sentry-sdk
sphinx-immaterial
