{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block extrahead %}
<script src={% static "policyengine/js/jquery-3.4.1.min.js" %}></script>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block usertools %}

{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<P><b>Configure PolicyKit for your Reddit account</b><BR></P>

<form>
<label for="subreddits">Choose a Subreddit:</label>
<select name="subreddits" id="subreddits">
  {% for subreddit in subreddits %}
    <option value="{{ subreddit }}">{{ subreddit }}</option>
  {% endfor %}
</select>

<input type="submit" value="Continue">
</form>

{% endblock %}
