{% load i18n static %}

{% block extrahead %}
<script src={% static "policyengine/js/jquery-3.4.1.min.js" %}></script>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block usertools %}

{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<P><b>Configure PolicyKit for your Discourse community</b><BR></P>

<form action="/discourse/init_community_discourse" method="post">
  <input type="url" name="url">
  <input type="submit" value="Continue">
</form>

{% endblock %}
