{% load i18n static %}

{% block extrahead %}
<script src={% static "policyengine/js/jquery-3.4.1.min.js" %}></script>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block usertools %}

{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<P><b>Which Discord guild's dashboard would you like to sign in to?</b><BR></P>

<form action="/discord/auth" method="post">
  <label for="guilds">Choose a Guild:</label>
  <select name="guild_id">
    {% for guild_id, guild_name in integrated_guilds %}
      <option value="{{ guild_id }}">{{ guild_name }}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="access_token" value="{{ access_token }}">
  <input type="submit" value="Continue">
</form>

{% endblock %}
