{% extends "admin/base_site.html" %}
{% load i18n jet_dashboard_tags static %}

{% block html %}{% get_dashboard 'index' as dashboard %}{{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" href={% static "codemirror/lib/codemirror.css" %}>
	<script src={% static "codemirror/lib/codemirror.js" %}></script>
	<script src={% static "codemirror/mode/python/python.js" %}></script>

    {% for css in dashboard.media.css %}
        <link href="{% static css %}" rel="stylesheet" />
    {% endfor %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {% for js in dashboard.media.js %}
        <script src="{% static js %}"></script>
    {% endfor %}
{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard jet{% endblock %}

<!-- {% block breadcrumbs %}
    {% if not is_popup %}
        <div class="breadcrumbs"></div>
    {% endif %}

    {{ dashboard.render_tools }}
{% endblock %} -->

{% block content %}
    {{ dashboard.render }}    
{% endblock %}


{% block sidebar %}
<div id="content-middle">
	<table>
		<caption>Passed Process Policies</caption>
		<tbody>
			{% for process in passed_processes %}
            <tr>
                <td>
                    <label for="process_{{ process.id }}">Policy Code: </label>
                    <textarea id="process_{{ process.id }}"></textarea><BR>
                    <i>{{ process.explanation }}</i>
                </td>
            </tr>
            <script>
                var textArea = document.getElementById('process_{{ process.id }}');
                var editor = CodeMirror.fromTextArea(textArea, {
                  lineNumbers: true,
                  readOnly: "nocursor"
                });
                editor.setValue(`{{process.policy_code}}`);
            </script>
			{% endfor %}
		</tbody>
	</table>

    <table>
        <caption>Proposed Process Policies</caption>
        <tbody>
            {% for process in proposed_processes %}
            <tr>
                <td>
                    <label for="process_{{ process.id }}">Policy Code: </label>
                    <textarea id="process_{{ process.id }}"></textarea><BR>
                    <i>{{ process.explanation }}</i><BR>
                    <i>Time elapsed since creation: {{ process.proposal.proposal_time|timesince }}</i>
                </td>
            </tr>
            <script>
                var textArea = document.getElementById('process_{{ process.id }}');
                var editor = CodeMirror.fromTextArea(textArea, {
                  lineNumbers: true,
                  readOnly: "nocursor"
                });
                editor.setValue(`{{process.policy_code}}`);
            </script>
            {% endfor %}
        </tbody>
    </table>

	

    <table>
        <caption>Proposed Community Policies</caption>
        <tbody>
            {% for rule in proposed_rules %}
            <tr>
                <td>
                    {% if rule.is_bundled %}
                        Part of bundled policy: {{ rule.bundle.explanation }}<BR>
                    {% endif %}
                    <label>Filter Code: </label>
                    <textarea id="filter_{{ rule.id }}"></textarea> <BR>
                    <label>Init Code: </label>
                    <textarea id="init_{{ rule.id }}"></textarea> <BR>
                    <label>Notify Code: </label>
                    <textarea id="notify_{{ rule.id }}"></textarea> <BR>
                    <label>Conditional Code: </label>
                    <textarea id="conditional_{{ rule.id }}"></textarea> <BR>
                    <label>Action Code: </label>
                    <textarea id="action_{{ rule.id }}"></textarea> <BR>
                    <label>Failure Code: </label>
                    <textarea id="failure_{{ rule.id }}"></textarea> <BR>
                    {{ rule.policy_text }} <BR>
                    <i>{{ rule.explanation }}</i><BR>
                    <i>Time elapsed since creation: {{ rule.proposal.proposal_time|timesince }}</i>
                </td>
            </tr>

            <script>
                const codeTypes = {
                    'filter': `{{ rule.policy_filter_code | safe }}`, 
                    'init': `{{ rule.policy_init_code | safe }}`, 
                    'notify': `{{ rule.policy_notify_code | safe }}`, 
                    'conditional': `{{ rule.policy_conditional_code | safe }}`, 
                    'action': `{{ rule.policy_action_code | safe }}`, 
                    'failure': `{{ rule.policy_failure_code | safe }}`
                };

                for (const type in codeTypes) {
                    var textArea = document.getElementById(type + '_{{ rule.id }}');
                    var editor = CodeMirror.fromTextArea(textArea, {
                      lineNumbers: true,
                      readOnly: "nocursor"
                    });
                    editor.setValue(codeTypes[type]);
                }
            </script>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}