<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <div name = "policykit">
            <img src = "images/logo.png" class="logo">
            <h1>Policy Kit</h1>
        </div>
        
        <textarea name="hi" id = "hi">Hello there <textarea />
        
        <textarea name="kit" id = "kitthing">Starter Kit <textarea />

        <title name="choose">Choose a Starter Kit for your Community</title>
        
        <input type="hidden" name="starterkit" id="starterkit" value = "">

        <form action="/main/policyengine/initialize_starterkit" method="post" name="form">
            <label for="starterkit">Choose a System of Governance:</label>
            <div id="images">
                <img src="images/testing.png" id = "testing" name="Testing Starter Kit" width = "150" height = "100"/>
                
                <img src="images/admin.png" id = "admin" name="Admin and User Starter Kit" width = "150" height = "100"/>
                
                <img src="images/democracy.png" id = "democracy" name="Democracy Starter Kit" width = "150" height = "100"/>
                
                <img src="images/dictator.png" id = "dictator" name="Dictator Starter Kit" width = "150" height = "100" />
                
                <img src="images/jury.png" id = "jury" name="Jury Starter Kit" width = "150" height = "100"/>
            </div>
            
            <input type="hidden" name="community_name" value="{{ community_name }}">
            <input type="hidden" name="platform" value="{{ platform }}">
            <input type="hidden" name="creator_token" value="{{ creator_token }}">
        </form>
        
        <script>
            document.getElementById("testing").addEventListener("click", submit);
            document.getElementById("admin").addEventListener("click", submit);
            document.getElementById("democracy").addEventListener("click", submit);
            document.getElementById("dictator").addEventListener("click", submit);
            document.getElementById("jury").addEventListener("click", submit);
            
            function submit(event) {
                document.getElementById("starterkit").value = event.target.name
                document.getElementById("kitthing").textValue = event.target.name
                document.getElementById("hi").textValue = "supperoni"
                
            }
        
        
        </script>
        
    </body>
</html>

<!--document.getElementById("form").submit();-->
