<svg width="75"
     height="76"
     viewBox="0 0 75 76"
     fill="none"
     xmlns="http://www.w3.org/2000/svg">
  <g opacity="0.25">
  <rect x="1" y="1" width="73" height="74" rx="36.5" stroke="url(#paint0_linear_2148_56828)" stroke-width="2" />
  </g>
  <defs>
  <linearGradient id="paint0_linear_2148_56828" x1="73.5938" y1="3.94866e-06" x2="-13.4844" y2="42.9861" gradientUnits="userSpaceOnUse">
  <stop stop-color="#DEC3FC" stop-opacity="0.57" />
  <stop offset="0.458333" stop-color="#C4C4FC" stop-opacity="0.68" />
  <stop offset="1" stop-color="#99C4FC" />
  </linearGradient>
  </defs>
</svg>
