{% extends "./nocode_base.html" %}
{% load static %}

{% block styles %}
<style>
  html {
    font-size: 100%;     /* 16px */
  }

  body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111;
  }

  p {
    margin: 0;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: 0;
  }

  h1,
  .heading-1 {
    margin-top: 0;
    font-size: 39.81px;
    line-height: 24px;
  }

  h2,
  .heading-2 {
    font-size: 33.18px;
    margin: 0 0 36px 0;
    text-align: center;
    font-weight: 600;
  }

  h3,
  .heading-3 {
    font-size: 27.65px;
  }

  h4,
  .heading-4 {
    font-size: 23.04px;
    line-height: 28px;
  }

  h5,
  .heading-5 {
    font-size: 19.20px;
    color: #666;
  }

  small,
  .text-small {
    font-size: 13.33px;
  }

  .container {
    display: flex;
  }

  .wizard {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px 8px;
  }

  .description {
    margin: 0 0 32px;
  }

  .variables {
    margin: 0 0 24px;
  }

  .variable {
    margin: 0 0 24px;
  }

  .variable-values {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 0 4px;
  }

  .variable-label {
    margin: 0 0 4px 0;
  }

  #policy_summary .variable-values {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    line-height: 1;
  }

  #policy_summary .variable-label {
    margin: 0;
  }

  .variable-input {
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 4px;
  }

  .variable-value {
    font-weight: 500;
  }

  .variable-prompt {
    color: #666;
    margin: 0;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .button {
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 16px;
  }

  .secondary {
    background: transparent;
    border: 1px solid #bbb;
    margin: 0 0 16px;
  }

  .secondary:hover {
    background: #eee;
  }

  .primary {
    background: #444;
    color: #fff;
  }

  .primary:hover {
    background: #000;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="wizard">
    {% csrf_token %}
    {% block step %}
    {% endblock %}
{% endblock %}

{% block scripts %}
<script>
  // ids for UI sections
  const stepElementIds = {
    policytype: 'choose_policy_type',
  }

  // Reference of class names defined here to avoid repetition
  const classnames = {
    visible: 'active',
    primary: 'primary',
    secondary: 'secondary'
  }

  // Redirect to another step page
  const redirect = (pageKey, urlParams = {}) => {
    // URLs for the different step pages
    const pages = {
      policytype: '/no-code/policytype',
    }

    if (!pages[pageKey]) return

    const url = pages[pageKey]

    const searchParams = Object.keys(urlParams).length > 0
      ? '?' + Object.keys(urlParams).map(key => `${key}=${urlParams[key]}`).join('&')
      : ''

    window.location.href = `${pages[pageKey]}${searchParams}`
  }

  // Get an object with variable data from a step section
  const getVariableDataInStep = stepId => {
    // Select all input elements in step element
    const inputElements = document.getElementById(stepId).querySelectorAll('.variable-input')

    // Build JS object with variable data in the form of { id: value, id: value }
    return Array.from(inputElements).reduce((sum, curr) => ({ ...sum, [ curr.getAttribute('data-id') ] : curr.value }), {})
  }

  // Save variable data
  const submit = async (url, variableData) => {
    // Django generated csrf token
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    try {
      const response = await fetch(`../../../embed/${url}?policy={{ policy.id }}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
          policy: '{{policy.id}}',
          variables: variableData
        })
      })

      if (!response.ok) {
        const text = await response.text()

        console.error(text)
      }

      const json = await response.json()

      return json
    } catch (e) {
      console.log(e)
    }
  }
</script>
{% endblock %}

{% block step_scripts %}
{% endblock %}