{% extends "./nocode_base.html" %}
{% load static %}

{% block styles %}
<style>
  html {
    font-size: 100%;     /* 16px */
  }

  body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111;
  }

  p {
    margin: 0;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: 0;
  }

  h1,
  .heading-1 {
    margin-top: 0;
    font-size: 39.81px;
    line-height: 24px;
  }

  h2,
  .heading-2 {
    font-size: 33.18px;
    margin: 0 0 36px 0;
    text-align: center;
    font-weight: 600;
  }

  h3,
  .heading-3 {
    font-size: 27.65px;
    text-align: center;
  }

  h4,
  .heading-4 {
    font-size: 23.04px;
    line-height: 28px;
    text-align: center;
  }

  h5,
  .heading-5 {
    font-size: 19.20px;
    color: #666;
  }

  small,
  .text-small {
    font-size: 13.33px;
  }

  .large {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 19px;
  }

  .medium {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 16px;
  }
  
  .small {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 14px;
  }

  .smaller {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 10px;
  }

  .normal {
    color: #3A3A3A;
  }

  .prompt {
    color: #52677A;
    font-weight: 300;
  }

  .info {
    color: #4451B2;
  }


  .container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;

  }

  .wizard {
    flex-basis: 0;
    flex-grow: 1;
  }

  /*For the overall panel layout 3:7 */
  .nocode-container {
    display: flex;
    width: 100%;
  }
  .nocode-sidebar {
    flex-basis: 35%;;
    padding-top: 2vh;
    height: 98vh;
  }

  .nocode-panel {
    flex-basis: 65%;
    height: 98vh;
    background-color: #F8F9FA;

    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2vh;
  }
  /* for the slider bar before the slider panel */
  .nocode-sidebar section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px 32px;
    gap: 32px;

    background: #FFFFFF;
    border: 1px solid #F1F4F6;
    border-radius: 4px;
    margin-left: 17%;
  }

  .nocode-sidebar .section-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    align-self: stretch;
    border-radius: 4px;
  }


  /*for the slider panel that pops up when selecting actions or procedures*/
  #slider-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 32px;
    
    background: #FFFFFF;
    border-right: 1px solid #F1F4F6;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
  }

  #slider-panel.hidden {
    display: none;
  }

  .slide-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    align-self: stretch;
  }

  .slide-panel-header > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    flex-grow: 1;
  }

  .slide-panel-header > div:last-child {
    flex-grow: 0;
    align-self: start;
    padding-top: 8px;
  }

  .slide-panel-header button{
    border: none;
    background-color: #FFFFFF;
    color: rgba(68, 81, 178, 1);

  }

  .slide-panel-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    align-self: stretch;
  }


  /* for the main panel */
  .panel-header {

  }

  .panel-body { /* for the list of sections */
    overflow-y: auto;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 10% 10% 5%;
    gap: 16px;
  }

  .panel-bottom { /* for the bottom buttons */
    align-self: stretch;
    flex-basis: 10%;
    flex-grow:  0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 11% 16px;
    gap: 16px;

    background: #F8F9FA;
    border-top: 2px solid #F1F4F6;
    box-shadow: 0px 4px 4px #F1F4F7;
  }


  /* for each section in the main panel */
  .panel-body section {
    border-radius: 10px;
    background-color: white;
    padding: 16px 0px;
    flex-basis: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
  }

  .section-header {
    font-size: 23.04px;
    line-height: 28px;
    text-align: center;
    padding: 0px 32px 8px;
  }

  .section-body.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px 32px;
    gap: 16px;
    background: #FFFFFF;
    align-self: stretch;
  }

  .section-body.inactive {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 16px 32px;
    gap: 8px;

    height: 100px;
  }

  .section-inactive-button {
    align-self: stretch;
    flex-grow: 1;

    background: #F8F9FA;
    border-radius: 8px;
    border: none;
  }

  /* For the section bottom */
  .section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 32px 0px 32px;
    gap: 16px;
    
    background: #FFFFFF;
    border-top: 1px solid #F1F4F6;
    border-radius: 0px 0px 8px 8px;
    align-self: stretch;
  }

  .section-bottom.hidden {
    display: none;
  }

  .section-bottom button {
    border-radius: 3.5px;
    flex-basis: 15%;
    padding: 5px;
  }


  /*for the actions list in the slider panel*/
  .checkbox-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    align-self: stretch;
    overflow-y: auto;
  }

  .checkbox-header {
    border-bottom: 1px solid #F3F5F7;
    align-self: stretch;
    padding-bottom: 5px;
  }

  .checkbox-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 8px;

    align-self: stretch;
  }

  .action-checkbox-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 8px;
    gap: 16px;
  }

  .action-checkbox-item input {
    flex-grow: 0;
    border: 1px solid #4451B2;
    border-radius: 2px;
  }

  .action-checkbox-item label{
    flex-grow: 0;
  }

  /* for the procedures list in the slider panel */
  .procedure-checkbox-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px 16px;
    gap: 24px;
    align-self: stretch;

    border: 1px solid #F1F4F6;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .procedure-checkbox-item input {
    border: 1px solid #4451B2;
    border-radius: 10px;
    margin-top: 6px;
  }

  .procedure-checkbox-item .procedure-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  
  /* For the blocks of action filters and displays of variables */
  .custom-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 16px;
    gap: 10px;
    
    border: 1px solid #F3F5F7;
    border-radius: 8px;
    align-self: stretch;
  }

  .custom-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;

    align-self: stretch;
  }

  .custom-group-header label {
    align-self: flex-start;
  }

  .custom-group-header button {
    align-self: flex-end;
    color: rgba(68, 81, 178, 1);

  }

  #design_procedure .custom-group{
    gap: 2px;
  }
  
  .custom-label {
    font-weight: 500;
    padding-top: 5px;
    padding-left: 10px;
  }


  .custom-action-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 10px;

    align-self: stretch;
  }

  
  .custom-action-filter-variable {
    margin-left: 15%;
    width: 85%;
    padding-left: 12px;
  }

  .column-variable-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 0px 6px 10px;
    gap: 2px;

    border-radius: 4px;
    align-self: stretch;
  }

  .column-variable-item label {
    font-weight: 500;
    font-size: 16px;
    padding: 0px;
    margin-bottom: 0px;
  }

  .column-variable-item p {
    padding-left: 3px;
  }
  .column-variable-item input[type="text"] {
    background: rgba(241, 244, 246, 1);
    border: 1px solid #F2F4FF;
    border-radius: 4px;
    align-self: stretch;
  }

  .column-variable-item input[type="number"] {
    background: rgba(241, 244, 246, 1);
    border: 1px solid #F2F4FF;
    border-radius: 4px;
    width: 15%;
    text-align: center;
  }

  .column-variable-item input:not([type="text"]):not([type="number"]) {
    background: rgba(241, 244, 246, 1);
    border: 1px solid #F2F4FF;
    border-radius: 4px;
  }

  .column-variable-item textarea {
    background: rgba(241, 244, 246, 1);
    border-radius: 4px;
    border: none;
    padding-left: 12px;

    /* background: #F8F9FA;
    border: 1px solid #F2F4FF;
    border-radius: 4px;
     */
    align-self: stretch;
    text-align:left;
    resize: vertical;
    overflow: auto;
  }

  .column-variable-item .selectpicker-wrapper {
    min-width: 50%;
  }

  .column-variable-item label span,
  .variable-item label span {
    color: rgb(249, 129, 129);
    padding-left: 2px;
  }

  .variable-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    gap: 8px;

    align-self: stretch;
  }

  .variable-item label {
    font-weight: 500;
    font-size: 16px;
    flex-basis:  15%;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .variable-prompt {
      font-size: 10px;
      color: #bbb;
  }

  .variable-item input[type="text"]{
    flex-basis: 85%;
    flex-grow: 1;
    flex-shrink: 5;

    background: rgba(241, 244, 246, 1);
    border-radius: 4px;
    border: none;
    padding-left: 12px;

  }

  .variable-item input:not([type="text"]) {
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    background: rgba(241, 244, 246, 1);
    border: none;
    border-radius: 4px;
    text-align: center;
  }

  .variable-item textarea {
    flex-basis: 85%;
    flex-grow: 1;
    flex-shrink: 5;

    background: rgba(241, 244, 246, 1);
    border-radius: 4px;
    border: none;
    padding-left: 12px;
    
    text-align:left;
    resize: vertical;
    overflow: auto;
  }

  .variable-item .selectpicker-wrapper {
    flex-basis: 85%;
    flex-grow: 1;
    flex-shrink: 5;
  }

  .bootstrap-select {
    width: 100%!important;
  }

  .selectpicker {
    border: 1px solid #F3F5F7;
    border-radius: 4px;
    background-color: rgba(241, 244, 246, 1);
  }

  .selectpicker + button.btn.dropdown-toggle,
  .selectpicker + button.btn.dropdown-toggle.disabled {
    border: 1px solid #F3F5F7;
    border-radius: 4px;
    background-color: rgba(241, 244, 246, 1);
  }

  .selectpicker + button {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ffffff;
  }



  #module-picker option {
    width: fit-content;
  }
  .action-label {
    font-weight: 500;
    font-size: 19px;
  }

   .description {
    margin: 0 0 32px;
  }
  
  .selectpicker-group {
      display: flex;
      justify-content: center;
      line-height: 50px;
  }

  .selectpicker-group label {
      margin-right: 10px;
  }

  .action-picker div {
      margin: 0px 0px 10px 24px;
  }


  

  .button-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }


  .button {
      border: none;
      padding: 12px;
      cursor: pointer;
      border-radius: 20px;
  }

  .secondary {
      background:rgba(242, 244, 255, 1);
      color: #4451B2;
  }

  .primary {
      background: rgba(68, 81, 178, 1);
      color: #FFFFFF; 
  }

  .wrong {
    border: 1px solid red;
  }

</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="wizard">
    {% csrf_token %}
    {% block step %}
    {% endblock %}
{% endblock %}

{% block scripts %}
<script>
  const capitalize = (word) => {
    return word.charAt(0).toUpperCase() + word.slice(1);
  }
  // ids for UI sections
  const stepElementIds = {
    policytype: 'choose_policy_type',
    custom_action: 'design_custom_action',
    procedure: 'design_procedure',
    customize: "customize_procedure",
    execution: 'design_execution',
    overview: 'policy_overview',
  }

  // Reference of class names defined here to avoid repetition
  const classnames = {
    visible: 'active',
    primary: 'primary',
    secondary: 'secondary'
  }

  const getVariableDataInStep = (elementId, elements=null) => {
        // Select all input elements in step element
        var inputElements;
        if(elementId){
          inputElements = document.getElementById(elementId).querySelectorAll('.variable-input');
        } else {
          inputElements = elements.querySelectorAll('.variable-input');
        }

        var variable_data = {};
        
        Array.from(inputElements).forEach(input => {
          // if it is an input element
          if(input.tagName === 'INPUT' || input.tagName === 'TEXTAREA'){
            let value = input.value;
            /* 
              the display of a input box that shows a date and time is for the conveience of the user,
              while in the backend we still use timestamp. 
              Therefore, the conversation of the value is more of the task of the frontend. 
              In contrast, we store a list of numbers still as strings in the backend, 
              and the backend should take care of the conversion of such values
            */
            if(input.type === 'datetime-local'){
              const dateObject = new Date(value);
              value = Math.floor(dateObject.getTime() / 1000)
            }
            variable_data[input.getAttribute('data-id')] = value;
          }
          else if(input.tagName === 'SELECT'){
            let selected_options = Array.from(input.selectedOptions).map(({ value }) => value).join(",");
            variable_data[input.getAttribute('data-id')] = selected_options;
          }
        });
        return variable_data;
  }

  const checkMissingVariable = (elementId, elements=null) => {
    var inputElements;
    if(elementId){
      inputElements = document.getElementById(elementId).querySelectorAll('.variable-input');
    } else {
      inputElements = elements.querySelectorAll('.variable-input');
    } 
    
    var missing_variables = false;
    Array.from(inputElements).forEach(input => {
        // if it is an input box
      if(input.tagName === 'INPUT') {
        if(!input.reportValidity()){
          missing_variables = true;
          input.classList.add("wrong");
        } else {
          input.classList.remove("wrong");
        }
      } else if(input.tagName === 'SELECT' && input.required){
        // if it is a select-picker object, it is actually an select element enclosed by a div
        let selected_options = Array.from(input.selectedOptions).map(({ value }) => value).join(",")
        if(selected_options === ""){
          missing_variables = true;
          input.parentElement.parentElement.classList.add("wrong");
        } else {
          input.parentElement.parentElement.classList.remove("wrong");
        }
      }
    });
    return missing_variables;
  }
  // Redirect to another step page
  const redirect = (pageKey, urlParams = {}) => {
    // URLs for the different step pages
    const pages = {
      policytype: '/no-code/policytype',
      custom_action: '/no-code/custom_action',
      procedure: '/no-code/design_procedure',
      customize: '/no-code/customize_procedure',
      execution: '/no-code/design_execution',
      overview: '/no-code/policy_overview',
      details: '/main/editor/'
    }

    if (!pages[pageKey]) return

    const url = pages[pageKey]

    const searchParams = Object.keys(urlParams).length > 0
      ? '?' + Object.keys(urlParams).map(key => `${key}=${urlParams[key]}`).join('&')
      : ''

    window.location.href = `${pages[pageKey]}${searchParams}`
  }

  const submit = async (url, submitData) => {
    // Django generated csrf token
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    try {
      const response = await fetch(`${url}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(submitData)
      })

      if (!response.ok) {
        const text = await response.text()

        console.error(text)
      }

      const json = await response.json()
      return json
    } catch (e) {
      console.log(e)
    }
  }

  const removeElementChildren = (element_id) => {
      var element = document.getElementById(element_id);
      var docstyle = element.style.display;
      if (docstyle == 'none') element.style.display = '';
      element.replaceChildren();
  }

  const addVariableInputBox = (variable, id, parentDiv, options=null, datalist=null, column=false) => {
      var text = document.createElement('div');
      if(column === true){
          text.classList.add('column-variable-item');
      } else text.classList.add('variable-item');
      text.id = id;

      let displayed_name = capitalize(variable.label);
      let label_html = `<label for='${id}' class="small normal">${displayed_name}</label>`
      var input_validate = "";
      if(variable["is_required"] ?? true){
            input_validate += " required";
            label_html = `<label for='${id}' class="small normal">${displayed_name}<span>*</span></label>`
      }

      var prompt = "";
      if(Boolean(variable["prompt"]) == true)
      // if it is not empty, null, or undefined
      prompt = `<p class='prompt smaller'>${variable.prompt}</p>`;

      

      
      if(options && variable["entity"] && (variable["entity"] in options)){
        // if it is, then we use a select as the input box
        if(variable["is_list"] ?? false){
          input_validate += "  multiple";
        }
        let innerHTML = label_html + `<div class='selectpicker-wrapper small normal'>
                      <select class='variable-input selectpicker' data-id='${id}' title="Select an ${displayed_name}" ${input_validate}>`;
        
        options[variable["entity"]].forEach(entity => {
          innerHTML += `<option value='${entity.value}'>${entity.name}</option>`;
        });
        innerHTML += `</select>${prompt}</div></div>`;
        text.innerHTML = innerHTML;
        
      } else {
        // figure out what type of input requirement is needed
        if(variable["is_list"] ?? false){
            if(variable["type"] === "string")
              input_validate += '  pattern="^[a-zA-Z0-9]+(,\\s*[a-zA-Z0-9]+)*$" title="Please enter comma separated strings" type="text"';
            else if(variable["type"] === "number")
              input_validate += '  pattern="^\\d+(,\\s*\\d+)*$" title="Please enter comma separated numbers" type="text"';
            else if(variable["type"] === "float")
              input_validate += '  pattern="^([-+]?[0-9]*\\.?[0-9]+)(,\\s*[-+]?[0-9]*\\.?[0-9]+)*$" title="Please enter comma separated floats" type="text"';
            else if(variable["type"] === "timestamp")
              console.warn("We do not support a variable as a list of timestamps yet");
        } else {
            if(variable["type"] === "string")
              input_validate += ' type="text"';
            else if(variable["type"] === "number")
              input_validate += ' type="number"';
            else if(variable["type"] === "float")
              input_validate += ' type="number" step="0.01"';
            else if(variable["type"] === "timestamp")
              input_validate += ' type="datetime-local"';
        }

        
        if(variable["type"] === "string"){
          text.innerHTML = label_html + `<textarea class='variable-input small normal' data-id='${id}' ${input_validate}>${variable.default_value ? variable.default_value.trim() : ""}</textarea>
                              ${prompt}
                          </div>`;
        } else {
          if(variable["default_value"])
          // if it is a select input, then a default value is actually not much needed
            input_validate += `  value='${variable.default_value}'`;
          // if there is a datalist, then we need to add the datalist to the parent div
          text.innerHTML = label_html + `<input class='variable-input small normal' data-id='${id}' ${input_validate} ${datalist ? 'list="variable-options"' : ''}/>
                            ${prompt}
                            ${datalist ? datalist : ""}
                        </div>`;
        }
      }
      parentDiv.appendChild(text);
      $(".selectpicker").selectpicker("refresh");
      
  }
</script>
{% endblock %}

{% block step_scripts %}
{% endblock %}