{% extends "./base.html" %}
{% load static %}

{% block step %}
<section class="step active" id="design_custom_action">
    {% if trigger == "false" %}
    <h4 class="heading-4 instruction">What action are you trying to govern?</h4>
    {% else %}
    <h4 class="heading-4 instruction">What action are you trying trigger based off?</h4>
    {% endif %}


    <div class="action-picker-group">
        <label for="actionpicker">
            {% if trigger == "false" %}
                Action Types:
            {% else %}
                Trigger Events:
            {% endif %}
        </label>
        <div>
            <select id="actionpicker" name="actionpicker" class="selectpicker">
                <option value="none" selected disabled hidden>Select an Option</option>
                {% for app_name, action_list in actions.items %}
                    <optgroup label="{{app_name|upper}}">
                        {% for model_name, verbose_name in action_list %}
                            <option value={{model_name}}>{{verbose_name}}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <h4 class="heading-4 instruction">Which filters you would like to apply to this action?</h4>
        <div id="action-specs-group" class="variables"></div>
    </div>
    <div class="actions">
        <button class="button secondary">
          Go back
        </button>
        <button class="button primary">
          Continue
        </button>
    </div>
   
</section>
{% endblock %}

{% block step_scripts %}
<script>
    const showFilterParameters = () => {
        var new_action = document.getElementById("actionpicker").value;
        var filter_parameters_dict = JSON.parse('{{filter_parameters | safe}}');
        var filter_parameters = filter_parameters_dict[new_action];
        console.log("new val is: " + new_action + " filter parameters: " + filter_parameters);

        var spec_group = document.getElementById('action-specs-group');
        var docstyle = spec_group.style.display;
        if (docstyle == 'none') spec_group.style.display = '';
        
        spec_group.replaceChildren();
        filter_parameters.forEach(item => {
            // console.log("now write the parameter " + item);
            var text = document.createElement('div');
            text.classList.add('variable-values');
            text.id = item;
            text.innerHTML = `<label class='variable-label' for='${item}'>${item}</label>
                    <input type='text' value='' data-id='${item}'  class='variable-input' name='${item}'/>`;
            spec_group.appendChild(text);
        });
    }


    const goCreateProcedure = async () => {
        const data = getVariableDataInStep(stepElementIds.custom_action);
        const now_actiontype = document.getElementById("actionpicker").value;
        console.log("now filled in data: " + JSON.stringify(data));

        const is_trigger = "{{trigger}}"
        const submit_data = {
                            trigger: is_trigger,
                            action_type: now_actiontype,
                            data: data,
                        }
        console.log("submit data " + JSON.stringify(submit_data));
        const response = await submit('create_custom_action', submit_data);
        console.log("after creating custom action, " + JSON.stringify(response))
        if(response["status"] == "success"){
            if(is_trigger == "false"){
                redirect('procedure', {custom_action_id: response["custom_action_id"], trigger: is_trigger});
            }
        }
    }

    document.getElementById("actionpicker").addEventListener("change", showFilterParameters);
    document.getElementById(stepElementIds.custom_action).querySelector(`.${classnames.primary}`).addEventListener('click', goCreateProcedure);
</script>
{% endblock %}