{% extends "./base.html" %}
{% load static %}

{% block step %}
<section class="step active" id="customize_procedure">
    <div id="check_modules">
        <h4 class="heading-4">Add Procedure Modules</h4>
        <div class="selectpicker-group">
            <label for="module-picker">Modules</label>
            <div>
                <select id="module-picker" class="selectpicker" title="Select a Module">
                    <option value="none">None</option>
                        {% for index, name in checkmodules %}
                            <option value={{index}}>{{name}}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
        <div id="module-variables" class="variables">

        </div>
    </div>
    <div id="extra-actions">
        <h4 class="heading-4">Add Extra Executions</h4>
        <div id="action-code-block">
            <label>
                <input type="radio" name="option" value="notify" checked> Add actions when starting the procedure
            </label>
            <label>
                <input type="radio" name="option" value="check"> Add actions for progress updates
            </label>
        </div>
        <div class="selectpicker-group">
            <label for="extra-action-picker">
                Execution
            </label>
            <div>
                <select id="extra-action-picker" class="selectpicker" title="Select an Execution...">
                    <option value="none">None</option>
                    {% for app_name, action_list in executions.items %}
                        <optgroup label="{{app_name|upper}}">
                            {% for codename, verbose_name in action_list %}
                                <option value={{codename}}>{{verbose_name}}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <h4 class="heading-4">Please fill in the following information about this action.</h4>
            <div class="variables" id="action-variables">

            </div>
        </div>
    </div>
    <div class="button-group">
        <button class="button secondary">
            Back
        </button>
        <button class="button primary">
            Continue
        </button>
    </div>
</section>
{% endblock %}

{% block step_scripts %}
<script>
    const checkmodule_details = JSON.parse('{{checkmodules_details|safe}}');
    const execution_parameters = JSON.parse('{{execution_parameters|safe}}');
    const policy_variables = JSON.parse('{{policy_variables|safe}}');

    const showModuleDetails = () => {
        const module_index = parseInt(document.getElementById("module-picker").value);
        console.log("now module index is: " + module_index);

        removeElementChildren('module-variables');
        if(Number.isNaN(module_index)) return;

        var variables_div = document.getElementById('module-variables');
        const cur_detail = checkmodule_details.find(module => module.pk == module_index);
        console.log("now module detail is: " + JSON.stringify(cur_detail))
        
        /*
            The expected htm structure is as follows:
            <div class="variables" id="module-variables">
                <div class="variable" id="duration">
                    <div class='variable-values'>
                        <label class='variable-label' for='${item.name}'>${item.label}</label>
                        <input class='variable-input' type='text' value='${item.default_value}' data-id='${item.name}' name='${item.name}'/>
                    </div>
                    <p class='variable-prompt text-small'>${item.prompt}</p>`;
                </div>
                <div class="variable" ...> </div> 
            </div>  
        */
        cur_detail["variables"].forEach((item, index) => {
            addVariableInputBox(
                label=item.label, id=item.name, value=item.default_value, variables_div, 
                options=`<p class='variable-prompt text-small'>${item.prompt}</p>`, required=item.is_required);
        })

    }

    const showActionDetails = () => {
        var new_execution = document.getElementById("extra-action-picker").value;

        removeElementChildren('action-variables')
        if(new_execution == "none") return;

        var variables_div = document.getElementById('action-variables');    
        var cur_detail = [...execution_parameters[new_execution]]; 
        // copy the object to avoid adding frequency fields for multiple times

        // which stage we should add this extra execution to
        // check executions need a new field frequency to determine the frequency of the execution
        const selected_block = document.querySelector('input[name="option"]:checked').value;
        if(selected_block == "check")  cur_detail.push("frequency (in minutes)");
        
        /* 
            To enable users to set fields of executions as variables already used in the procedure step,
            we will add a datalist to each field.
            We use datalist so that users are still able to input their own values.
        */

        let policy_variables_datalist = `<datalist id="variable-options">`
        policy_variables.forEach(item => {
            policy_variables_datalist += '<option value="variables[&quot;' + item.name + '&quot;]">' + item.label + '</option>';
        })
        policy_variables_datalist += `</datalist>`
        
        cur_detail.forEach(item => 
            addVariableInputBox(label=item, id=item, 
                value='', parentDiv=variables_div, 
                options=policy_variables_datalist, required=true)
        );
    }

    const goCustomizeProcedure = async (next) => {
        var submit_data = { policy_id: parseInt("{{policy_id}}")}

        // if users would like to add extra checkmodules
        var missing_input = false;
        const module_index = parseInt(document.getElementById("module-picker").value);
        if(!Number.isNaN(module_index)){
            if(checkMissingVariable("module-variables")) missing_input = true;
            else {
                submit_data["module_index"] = module_index;
                submit_data["module_data"] = getVariableDataInStep("module-variables");
            }
        }

        // if users would like to add extra executions
        const new_action = document.getElementById("extra-action-picker").value;
        // if action_data is not an empty dict
        if(new_action != "none") {
            if(checkMissingVariable("action-variables")) missing_input = true;
            else {
                var action_data = getVariableDataInStep("action-variables");
                action_data["action"] = new_action;
                const selected_block = document.querySelector('input[name="option"]:checked').value;
                // if it is check block, replace the key "frequency (in minutes)" in action_data with "frequency"
                if(selected_block == "check"){
                    action_data["frequency"] = action_data["frequency (in minutes)"];
                    delete action_data["frequency (in minutes)"];
                }
                submit_data["action_data"] = {[selected_block]: action_data}
            }
        }
        if(missing_input) return;

        console.log("submit data " + JSON.stringify(submit_data));
        const response = await submit('create_customization', submit_data);
        console.log("after creating custom action, " + JSON.stringify(response))
        if(response["status"] == "success"){
            redirect('execution', {policy_id: response["policy_id"], trigger: "{{trigger}}", exec_kind: "success"});
        }
    }

    document.getElementById(stepElementIds.customize).querySelector(`.${classnames.primary}`).addEventListener('click', goCustomizeProcedure);
    document.getElementById("module-picker").addEventListener("change", showModuleDetails);
    document.getElementById("extra-action-picker").addEventListener("change", showActionDetails);
    showModuleDetails();

    const radioButtons = document.querySelectorAll('input[name="option"]');
    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', event => {
            showActionDetails();
        });
    });
    
</script>
{% endblock %}