{% extends "./base.html" %}
{% load static %}

{% block styles %}
<style>
    .action-picker-descript {
        text-align: center;
    }
    .action-picker-group {
        display: flex;
        justify-content: center;
        line-height: 50px;
    }

    #action-specs-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .variables {
        margin: 0 0 24px;
        justify-content: center;
        align-items: center;
    }

    .variable-values {
        margin: 5px 0 4px 0;
        justify-content: center;
        align-items: center;

    }

    .variable-label {
        margin: 2px 6px 4px 2px;
    }

    .variable-input {
        padding: 8px;
        border: 1px solid #bbb;
        border-radius: 4px;
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button {
        border: none;
        padding: 12px;
        cursor: pointer;
        border-radius: 16px;
    }

    .secondary {
        background: transparent;
        border: 1px solid #bbb;
        margin: 0 10px 0 0;
    }

    .secondary:hover {
        background: #eee;
    }

    .primary {
        background: #444;
        color: #fff;
    }

    .primary:hover {
        background: #000;
    }

</style>
{% endblock %}

{% block step %}
<section class="step active" id="design_custom_action">
    {% if trigger == "false" %}
    <h4 class="heading-4 action-picker-descript">What action are you trying to govern?</h4>
    {% else %}
    <h4 class="heading-4 action-picker-descript">What action are you trying trigger based off?</h4>
    {% endif %}


    <div class="action-picker-group">
        <label for="actionpicker">
            {% if trigger == "false" %}
                Action Types:
            {% else %}
                Trigger Events:
            {% endif %}
        </label>
        <div>
            <select id="actionpicker" name="actionpicker" class="selectpicker">
                <option value="none" selected disabled hidden>Select an Option</option>
                {% for app_name, action_list in actions.items %}
                    <optgroup label="{{app_name|upper}}">
                        {% for model_name, verbose_name in action_list %}
                            <option value={{model_name}}>{{verbose_name}}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <h4 class="heading-4 action-picker-descript">Which filters you would like to apply to this action?</h4>
        <div id="action-specs-group" class="variables"></div>
    </div>
    <div class="actions">
        <button class="button secondary">
          Go back
        </button>
        <button class="button primary">
          Continue
        </button>
    </div>
   
</section>
{% endblock %}

{% block step_scripts %}
<script>
    const showFilterParameters = () => {
        var new_action = document.getElementById("actionpicker").value;
        var filter_parameters_dict = JSON.parse('{{filter_parameters | safe}}');
        var filter_parameters = filter_parameters_dict[new_action];
        console.log("new val is: " + new_action + " filter parameters: " + filter_parameters);

        var spec_group = document.getElementById('action-specs-group');
        var docstyle = spec_group.style.display;
        if (docstyle == 'none') spec_group.style.display = '';
        
        spec_group.replaceChildren();
        filter_parameters.forEach(item => {
            console.log("now write the parameter " + item);
            var text = document.createElement('div');
            text.classList.add('variable-values');
            text.id = item;
            text.innerHTML = `<label class='variable-label' for='${item}'>${item}</label>
                    <input type='text' value='' data-id='${item}'  class='variable-input' name='${item}'/>`;
            spec_group.appendChild(text);
        });
    }

    const getVariableDataInStep = stepId => {
        // Select all input elements in step element
        console.log("now get variable data for this step " + stepId);
        const inputElements = document.getElementById(stepId).querySelectorAll('.variable-input');

        // Build JS object with variable data in the form of { id: value, id: value }
        return Array.from(inputElements).reduce((sum, curr) => ({ ...sum, [ curr.getAttribute('data-id') ] : curr.value }), {});
    }

    const goCreateProcedure = async () => {
        const data = getVariableDataInStep(stepElementIds.custom_action);
        console.log("now filled in data: " + JSON.stringify(data));

        const response = await submit('update', {

        });

        redirect('create_procedure', {});
    }

    document.getElementById("actionpicker").addEventListener("change", showFilterParameters);
    document.getElementById(stepElementIds.custom_action).querySelector(`.${classnames.primary}`).addEventListener('click', goCreateProcedure);
</script>
{% endblock %}