{% extends "./base.html" %}
{% load static %}

{% block step %}
<!-- <section class="step active" id="choose_policy_type">
    <h4 class="section-title"> Would you like to create a <b>Governance Policy</b> or a <b>If-Then Rule</b>?</h4>
    <div>
      <label><input type="radio" name="option" value="notify" checked>Governance Policy</label>
      <label><input type="radio" name="option" value="check">If-Then Rule</label>
    </div>
</section> -->
<div class="nocode-container">
    <div class="nocode-sidebar">
        <section>
            <div class="section-body" id="design_meta">
                <div class="column-variable-item">
                    <label for='name' class="medium normal">Policy Name</label>
                    <input type='text'  data-id='name' class='variable-input' name='name' required/>
                </div>
                <div class="column-variable-item">
                    <label for='description' class="medium normal">Description</label>
                    <textarea data-id='description' class='variable-input' name='description' rows="5" required>
                    </textarea>
                </div>
            </div>
        </section>
        <div id="slider-panel" class="hidden">
            <div class="slide-panel-header">
                <div>
                    <div class="large">Choose governed Actions</div>
                    <div class="prompt medium">Select one or more actions that you want to govern by a policy</div>
                </div>
                <div>
                    <button id="slide-panel-back">
                        <i class="fa-solid fa-angle-left fa-2xl" style="color: #52677a;"></i>
                    </button>
                </div>
            </div>
            <div class="slide-panel-body" id="slide-panel-body">
            </div>
        </div>
        <div class="slide-panel">
            <div class="slide-panel-header"></div>
            <div class="slide-panel-body"></div>
        </div>
    </div>
    <div class="nocode-panel" id="nocode-panel"> 
        <div class="panel-header"></div>
        <div class="panel-body">
            <section id="design_action">
                <div class="section-header">Actions</div>
                <div class="section-body inactive" id="design_action-section-body">
                    <button class="section-inactive-button small-button small info" type="action">+ Add</button>
                </div>
                <div class="section-bottom hidden"></div>
            </section>
            <section id="design_procedure">
                <div class="section-header">Procedures</div>
                <div class="section-body inactive" id="design_procedure-section-body">
                    <button class="section-inactive-button small-button small info" type="procedure">+ Add</button>
                </div>
                <div class="section-bottom hidden"></div>
            </section>
            <section id="design_transformer">
                <div class="section-header">Transformers<span class="small prompt">&nbsp;(optional)</span></div>
                <div class="section-body inactive" id="design_transformer-section-body">
                    <button class="section-inactive-button small-button small info" type="transformer">+ Add</button>
                </div>
                <div class="section-bottom hidden"></div>
            </section>
            <section id="design_notify">
                <div class="section-header">When Procedures start <span class="small prompt">&nbsp;(optional)</span></div>
                <div class="section-body inactive" id="design_notify-section-body">
                    <button class="section-inactive-button small-button small info" type="execution.notify">+ Add</button>
                </div>
                <div class="section-bottom hidden"></div>
            </section>
            <section id="design_success">
                <div class="section-header">When Actions pass <span class="small prompt">&nbsp;(optional)</span></div>
                <div class="section-body inactive" id="design_success-section-body">
                    <button class="section-inactive-button small-button small info" type="execution.success">+ Add</button>
                </div>
                <div class="section-bottom hidden"></div>
            </section>
            <section id="design_fail">
                <div class="section-header">When Actions fail <span class="small prompt">&nbsp;(optional)</span></div>
                <div class="section-body inactive" id="design_fail-section-body">
                    <button class="section-inactive-button small-button small info" type="execution.fail">+ Add</button>
                </div>
                <div class="section-bottom hidden"></div>
            </section>
        </div>
        <div class="panel-bottom">
            <div>
                <button class="button secondary"> Discard </button>
                <button class="button primary" id="save_policy"> Save </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block step_scripts %}
<script>
    const base_actions = JSON.parse('{{base_actions | safe}}');
    const action_filter_kinds = JSON.parse('{{action_filter_kinds | safe}}');
    const filter_modules = JSON.parse('{{filter_modules | safe}}');
    const platforms = JSON.parse('{{platforms | safe}}');
    const procedures = JSON.parse('{{procedures | safe}}');
    const transformers = JSON.parse('{{transformers | safe}}');
    const executions = JSON.parse('{{executions | safe}}');
    const entities = JSON.parse('{{entities|safe}}');

    var focus_section_id = null;
    var selected_actions = {};
    var selected_procedure_value = null;
    var selected_transformers = [];
    var selected_executions = {success: [], fail: [], notify: []};

    function activate_section(section_id){
        /**
            remove placeholder buttons (add buttons) as a preparation for loading all variable boxes for a component
            @param section_id: the id of the section, e.g. design_action
        */
        let section = $(`#${section_id}-section-body`)
        section.removeClass("inactive");
        section.addClass("active");
        section.empty();
        $(`#${section_id} .section-bottom`).removeClass("hidden");
        $(`#${section_id} .section-bottom:first`).append(`<button class="button primary medium section-next" id="${section_id}-next">Next</button>`)
    }

    function deactivate_section(section_id, type, stage=null){
        /**
            add back placeholder buttons (add buttons);
            @param section_id: the id of the section, e.g. design_action
            @param types: the type of the section, e.g. actions, procedures, transformers, executions
            @param 
        */
        let section = $(`#${section_id}-section-body`)
        section.removeClass("active");
        section.addClass("inactive");
        section.empty();
        section.append(`<button class="section-inactive-button small info" type="${type}">+ Add</button>`)
        $(`#${section_id} .section-bottom:first`).empty(); // remove next buttons
        $(`#${section_id} .section-bottom`).addClass("hidden");

    }

    function add_section_header(section_type, module) {
        let div = document.createElement('div');
        div.classList.add('custom-group');
        div.id = `custom.${section_type}.${module.value}`;

        let header = document.createElement('div');
        header.classList.add('custom-group-header');
        div.appendChild(header);

        let label_element = document.createElement('label');
        label_element.classList.add('custom-label');
        label_element.classList.add('large');
        label_element.innerHTML = module.name;
        header.appendChild(label_element);

        let button_element = document.createElement('button');
        button_element.id = `remove.${section_type}.${module.value}`
        button_element.classList.add("small")
        button_element.innerHTML = '<i class="fa-regular fa-trash-can fa-2xs" style="color: #4451b2;"></i>Remove'
        header.appendChild(button_element);                
        return div;
    }

    const removeFilterParameters = (action, app) => {
        // remove the action from the selected actions
        delete selected_actions[action];
        $(`#custom.action.${action}`).remove();
        if(Object.keys(selected_actions).length == 0) deactivate_section("design_action", "action");
    }
    
    const removeProcedureVariables = () => {
        selected_procedure_value = null;
        deactivate_section("design_procedure", "procedure");
    }

    const removeTransformerVariables = (transformer_value, app) => {
        selected_transformers = selected_transformers.filter(item => item !== transformer_value);
        $(`custom.transformer.${transformer_value}`).remove();
        if(selected_transformers.length == 0) deactivate_section("design_transformer", "transformer");
    }

    const removeExecutionVariables = (stage, execution_codename, app) => {
        selected_executions[stage] = selected_executions[stage].filter(item => item !== execution_codename);
        $(`custom.execution.${stage}.${execution_codename}`).remove();
        if(selected_executions[stage].length == 0) deactivate_section(`design_${stage}`, `execution.${stage}`);
    }

    const showFilterParameters = (action_value, app) => {

        // check if the action has already been selected
        if (action_value in selected_actions) return;
        // if there are no actions selected before, remove the inactive class and empty the section
        if(Object.keys(selected_actions).length == 0) activate_section("design_action");
        selected_actions[action_value] = app;
        let action = {...base_actions[app].find(item => item.value == action_value)};
        action["name"] = `${capitalize(app)} ${capitalize(action.name)}`;
        
        // create action div and add action header to the action_div
        let action_div = add_section_header("action", action);
        
        // then add the filter parameters for each action in this action_div
        const now_filter_kinds = action_filter_kinds[action.value]; // a dict of field: filter_kind
        const filters_this_app = filter_modules[app]; // a dict of filter_kind: [filter_modules]
        Object.keys(now_filter_kinds).forEach(field => {
            const filter_kind = now_filter_kinds[field];
            if(filter_kind){ // only show fields of which the filter we support
                var field_div = document.createElement('div');
                field_div.classList.add('custom-action-field');

                select_id = `select-${action.value}.${field}`
                let field_html = `<div class='variable-item' id='${action.value}.${field}'>
                            <label for='${select_id}' class="normal">${capitalize(field)}</label>
                            <div class='selectpicker-wrapper'>
                            <select id='${select_id}' class="selectpicker" title="Select a filter">
                            <option value="none">None</option>`
                
                // add filter modules as options for this select

                const filters_this_kind = filters_this_app[filter_kind]
                // console.log("filter_kind: " + filter_kind + " filters for this kind: " + JSON.stringify(filters_this_kind));
                filters_this_kind.forEach(filter => {
                    field_html   += `<option value=${filter.pk}>${filter.description}</option>`
                });
                field_html  += `</select></div></div>`; 
                field_div.innerHTML = field_html; 
                action_div.appendChild(field_div);
            }
        });
        $("#design_action-section-body").append(action_div);
        $(".selectpicker").selectpicker('refresh');
    }

    const showFilterModuleVariables = (select_id) => {
        let filter_pk = parseInt(document.getElementById(select_id).value);

        if(Number.isNaN(filter_pk)) return; // when no filter is selected, the value is "none" (NaN after parseInt)

        // search for a filter with this pk by iterating through filter_per_app
        let filter = null;
        for(let app in filter_modules){
            for(let kind in filter_modules[app]){
                filter = filter_modules[app][kind].find(filter => filter.pk == filter_pk);
                if(filter) break;
            }
            if(filter) break;
        }

        const variables = filter.variables;
        var field_div = document.getElementById(select_id).closest(".custom-action-field"); 
        // now at the level of the action-field div
        while (field_div.childNodes.length > 1) {
            field_div.removeChild(field_div.lastChild);
            // remove previously displayed filter variables except the action-field div
        } 

        var variable_div = document.createElement('div');
        variable_div.classList.add('custom-action-filter-variable');
        field_div.appendChild(variable_div);

        variables.forEach(variable => {
            console.log("adding variable: " + JSON.stringify(variable));
            const variable_id = `${select_id}.${variable.name}`;
            // select-${action}.${field}.${variable.name}
            addVariableInputBox(variable=variable, id=variable_id, parentDiv=variable_div, options=entities)
        });

        
    
    }

    const showProcedureVariables = (procedure_value, app) => { 
        // if there are no actions selected before, remove the inactive class and empty the section
        if(selected_procedure_value === null) activate_section("design_procedure");
        selected_procedure_value = procedure_value;
        // search for data about this selected procedure 
        let selected_procedure = procedures[app].find(item => item.value == selected_procedure_value);
        
        let procedure_div = add_section_header("procedure", selected_procedure);
        $("#design_procedure-section-body").empty();
        $("#design_procedure-section-body").append(procedure_div);
        selected_procedure["variables"].forEach((variable, index) => {
            addVariableInputBox(variable=variable, id=variable.name, parentDiv=procedure_div, options=entities, datalist=null, column=true)
        })
    }
        
    const showTransformerVariables = (transformer_value, app) => {
        if(selected_transformers.includes(transformer_value)) return;

        if(selected_transformers.length === 0) activate_section("design_transformer");
        selected_transformers.push(transformer_value);
        
        let selected_transformer = transformers[app].find(item => item.value == transformer_value);
    
        let transformer_div = add_section_header("transformer", selected_transformer);
        $("#design_transformer-section-body").append(transformer_div);
        selected_transformer["variables"].forEach((variable, index) => {
            addVariableInputBox(variable=variable, id=variable.name, parentDiv=transformer_div, options=entities, datalist=null, column=true)
        })
    }

    const showExecutionVariables = (stage, execution_value, app) => {
        if(selected_executions[stage].includes(execution_value)) return;
        // if there are no actions selected before, remove the inactive class and empty the section
        if(selected_executions[stage].length == 0) activate_section(`design_${stage}`);

        selected_executions[stage].push(execution_value);

        let execution ={...executions[app].find(item => item.value === execution_value)};
        execution["name"] = `${capitalize(app)} ${capitalize(execution.name)}`;

        let execution_div = add_section_header(`execution.${stage}`, execution);
        $(`#design_${stage}-section-body`).append(execution_div);
        execution["variables"].forEach((variable, index) => {
            addVariableInputBox(variable=variable, id=variable.name, parentDiv=execution_div, options=entities, datalist=null, column=false)
        })
    }
    
    /** 
     * listen to events on the checkboxes in the slide panel
     * We will determine the type of the checkbox by the id of the checkbox
     * e.g. "actions-checkbox.slack.slackpostmessage"
     * then we will show or remove the corresponding variable boxes in the nocode panel 
     * */
    document.body.addEventListener('change', (event) => {
        if(event.target.id.startsWith("action-checkbox")){
            let id = event.target.id;
            let action = id.split(".")[2];
            let app = id.split(".")[1];
            if(event.target.checked) showFilterParameters(action, app);
            else removeFilterParameters(action, app);
        } else if( event.target.id.startsWith("select-") ){
            // check whether the id starts with "select-", which we named all fields of the selected actions
            // we cannot listen to events on elements we create dynamically, so we listen to the body and check the id
            showFilterModuleVariables(event.target.id);
        } else if(event.target.id.startsWith("procedure-checkbox")){
            if(event.target.checked){
                // if the checkbox is checked, then uncheck all other checkboxes
                $('.procedure-checkbox-item input[type="checkbox"]').not(event.target).prop('checked', false);
                let app = event.target.id.split(".")[1];
                let procedure_value = event.target.value;
                showProcedureVariables(procedure_value, app);
            } else {
                removeProcedureVariables();
            }
        } else if(event.target.id.startsWith("transformer-checkbox")){
            let app = "all"
            let transformer_value = event.target.value;
            if(event.target.checked) showTransformerVariables(transformer_value, app);
            else removeTransformerVariables(transformer_value, app);
            
        } else if(event.target.id.includes("execution-checkbox")){
            let id = event.target.id;
            // "execution-checkbox.slack.notify.slackpostmessage"
            let app = id.split(".")[1];
            let stage = id.split(".")[2];
            let execution_codename = id.split(".")[3];
            if(event.target.checked){
                showExecutionVariables(stage, execution_codename, app);
            } else {
                removeExecutionVariables(stage, execution_codename, app);
            }
        }
    });

    /** 
     * listen the events on the buttons in the nocode panel (including next and add buttons)
     * so that we could display or hide slider panels
    */
    document.getElementById("nocode-panel").addEventListener('click', (event) => {
        let target = event.target.closest(".section-next");
        let button = event.target.closest(".section-inactive-button");
        if(target){
            if(target.id === "design_action-next") {
                if(!collectCustomActionData()) return;
                hideSliderPanel();
            } else if(target.id === "design_procedure-next"){
                if(!collectProcedureData()) return;
                hideSliderPanel();
            } else if(target.id === "design_transformer-next"){
                if(!collectTransformerData()) return;
                hideSliderPanel();
            } else if(["design_success-next", "design_fail-next", "design_notify-next"].includes(target.id)){
                const regex = /design_(\w+)-next/;
                let match = target.id.match(regex);
                let stage = match ? match[1] : "";
                if(!collectExecutionData(stage)) return;
                hideSliderPanel();
            } 
        } else if(button) {
            // listen to the event when users clicks the add button in a section and we pop up the slide panel
            let slidepanel_type = button.getAttribute("type");
            if(focus_section_id) hideSliderPanel();
            if(slidepanel_type === "action"){
                focus_section_id = "design_action";
                showSliderPanel(base_actions, slidepanel_type);
            } else if(slidepanel_type == "procedure"){
                focus_section_id = "design_procedure";
                showSliderPanel(procedures, slidepanel_type);
            } else if(slidepanel_type == "transformer") {
                focus_section_id = "design_transformer";
                showSliderPanel(transformers, slidepanel_type);
            } else if(slidepanel_type.startsWith("execution")){
                let stage = slidepanel_type.split(".")[1];
                focus_section_id = `design_${stage}`;
                let new_executions = {};
                Object.keys(executions).forEach(app => {
                    new_executions[app] = executions[app].map(execution => {
                        return {name: execution.name, value: `${stage}.${execution.value}`}
                    })
                });
                showSliderPanel(new_executions, slidepanel_type.split(".")[0]);
            }
        }
    });

    // listen to the event when users click the back button in the slider panel
    document.getElementById("slide-panel-back").addEventListener('click', (event) => {
        hideSliderPanel();
    });

    const prompt_button_text = {
        action: "Select one or more actions from the left sidebar",
        procedure: "Select a procedure from the left sidebar",
        transformer: "Select one or more transformers from the left sidebar",
        execution: "Select one or more executions from the left sidebar"
    }
 
    const showSliderPanel = (options, slidepanel_type) => {
        let focus_section = document.getElementById(focus_section_id);
        let prompt_button = focus_section.getElementsByClassName("section-inactive-button")[0];

        // show prompt text in the focus section
        prompt_button.classList.remove("info");
        prompt_button.classList.add("prompt");
        prompt_button.innerHTML = prompt_button_text[slidepanel_type];
        
        // display checkboxes in the slider panel
        $("#slide-panel-body").empty();
        Object.keys(options).forEach(app => {
            let innerHTML = `<div class='checkbox-section'>
                <div class='checkbox-header large'>${capitalize(app)}</div>
                <div class="checkbox-body">`
            let this_app_options = options[app];
            this_app_options.forEach(option => {
                if(slidepanel_type === "action" || slidepanel_type === "execution"){
                    innerHTML += `<div class='action-checkbox-item'>
                        <input type='checkbox' name='${option.name}' value='${option.value}' id="${slidepanel_type}-checkbox.${app}.${option.value}">
                        <label for='${slidepanel_type}-checkbox.${app}.${option.value}' class='normal medium'>${option.name}</label>
                    </div>`;
                } else if(slidepanel_type == "procedure" || slidepanel_type == "transformer"){
                    innerHTML += `<div class='procedure-checkbox-item'>
                            <input type='checkbox' name='${option.name}' value='${option.value}' id="${slidepanel_type}-checkbox.${app}.${option.value}">
                            <div class="procedure-label">
                                <label for='${slidepanel_type}-checkbox.${app}.${option.value}' class='normal medium'>${option.name}</label>
                                <div class="small prompt">${option.description}</div>
                            </div>
                        </div>`;
                }
            });
            innerHTML += "</div></div>";
            $("#slide-panel-body").append(innerHTML);
        });
        $("#slider-panel").removeClass("hidden");
        $("#slider-panel").slideReveal({push: false, width: "37%"}).slideReveal("show");
    }
    
    const hideSliderPanel = () => {
        let focus_section = document.getElementById(focus_section_id);
        let prompt_button = focus_section.getElementsByClassName("section-inactive-button")[0];
        if(prompt_button){
            prompt_button.classList.remove("prompt");
            prompt_button.classList.add("info");
            prompt_button.innerHTML = "+ Add";
        }
        $("#slider-panel").addClass("hidden");
        $("#slider-panel").slideReveal({push: false, width: "37%"}).slideReveal("hide");
    }










    /**
     * Code related to collect data from each section and submit to the backend
    */
    const collectMetadata = () => {
        if(checkMissingVariable(`design_meta`)) return false;
        return getVariableDataInStep("design_meta");
    }

    const collectCustomActionData = () => {
        // to collect user input about custom actions
        
        console.log("new actions are: " +Object.keys(selected_actions));
        
        let missing_input = false;
        const filters = Object.keys(selected_actions).map((action, index) => {
            const action_div = document.getElementById(`custom.action.${action}`);
            let action_field_divs = action_div.getElementsByClassName('custom-action-field');
            var filters_per_action = {}
            Array.from(action_field_divs).forEach((action_field_div => {
                let action_field_id = action_field_div.firstElementChild.id; // the field itself: slackpostmessage.initiator
                let action_field_name = action_field_id.split(".")[1]; // initiator
                let selected_filter_pk = document.getElementById(`select-${action_field_id}`).value; // select-slackpostmessage.initiator
                if(selected_filter_pk === "" || selected_filter_pk === "none"){
                    // if no filter modules are selected, then no filter is applied to this field
                    filters_per_action[action_field_name] = {}
                } else {
                    // a dict of variable_name: variable_value
                    var variables_dict = {}
                    field_variables_div = action_field_div.getElementsByClassName('custom-action-filter-variable')[0];
                    for(var i = 0; i < field_variables_div.children.length; i++){
                        let filter_variable_div = field_variables_div.children[i];
                        // check whether all variables are filled and alert with the missing variable names
                        missing_input = checkMissingVariable(null, elements=filter_variable_div);
                        if(missing_input) break;
                        let filter_variable_input = getVariableDataInStep(null, elements=filter_variable_div);
                        // replace original key in filter_variable_input with the variable name
                        Object.keys(filter_variable_input).forEach(key => {
                            variables_dict[key.split(".").pop()] = filter_variable_input[key];
                        });
                    }
                    filters_per_action[action_field_name] = {filter_pk: selected_filter_pk, platform: selected_actions[action], variables: variables_dict}
                }
            }))
            return {action_type: action, filter: filters_per_action, app_name: selected_actions[action]}
        });
        // only submit the data if all variables are filled
        if(missing_input) return false; else {
            console.log("collect custom action data: " + JSON.stringify(filters));
            return filters;
        }
    }

    const collectTransformerData = () => {
        if(selected_transformers.length == 0) return [];

        if(checkMissingVariable(`design_transformer`)) return false;

        let transformers_data = [];
        let children = document.getElementById(`design_transformer-section-body`).children;
        for(let i=0; i < children.length; i++) {
            let child = children[i];
            let transformer_value = selected_transformers[i];
            let data = getVariableDataInStep(null, elements=child);
            transformers_data.push({
                module_index: transformer_value,
                module_data: data,
            })
        }
        console.log("transformers_data " + JSON.stringify(transformers_data));
        return transformers_data;
    }

    const collectProcedureData = () => {
        if(selected_procedure_value === null) return false;

        if(checkMissingVariable("design_procedure")) return;
        
        const procedure_data = {
            procedure_index: selected_procedure_value,
            procedure_variables: getVariableDataInStep("design_procedure"),
        }
        console.log("procedure_data " + JSON.stringify(procedure_data));
        return procedure_data;
    }

    const collectExecutionData = (stage) => {
        if(selected_executions[stage].length == 0) return [];
        if(checkMissingVariable(`design_${stage}`)) return false;

        let execution_data = [];
        let children = document.getElementById(`design_${stage}-section-body`).children;
        for(let i=0; i<children.length; i++) {
            let child = children[i];
            let execution_codename = child.id.split(".")[3];
            let data = getVariableDataInStep(null, elements=child);
            data.action = execution_codename;   
            execution_data.push(data);
        }
        console.log("execution_data " + JSON.stringify(execution_data));
        return execution_data;
    }

    const goCreateProcedure = async () => {
        let custom_action_data = collectCustomActionData();
        if(custom_action_data === false) return;
        

        let procedure_data = collectProcedureData();
        if(procedure_data === false) return;

        let transformer_data = collectTransformerData();
        if(transformer_data === false) return;

        let success_data = collectExecutionData("success");
        if(success_data === false) return;

        let fail_data = collectExecutionData("fail");
        if(fail_data === false) return;

        let notify_data = collectExecutionData("notify");
        if(notify_data === false) return;

        let meta_data = collectMetadata();
        if(meta_data === false) return;

        app_name = custom_action_data["app_name"];
        delete custom_action_data["app_name"];
        all_data = {
                    name: meta_data.name,
                    description: meta_data.description,
                    policykind: "platform policy",
                    app_name: app_name,
                    filters: custom_action_data,
                    procedure: procedure_data,
                    transformers: transformer_data,
                    executions: {
                        notify: notify_data,
                        success: success_data,
                        fail: fail_data,
                    }
                }
        console.log("all data: " + JSON.stringify(all_data));
        const response = await submit('create', all_data);
        console.log("after creating custom action, " + JSON.stringify(response))
    }

    document.getElementById("save_policy").addEventListener('click', goCreateProcedure);

</script>
{% endblock %}