{% extends "./base.html" %}
{% load static %}

{% block step %}
<!-- <section class="step active" id="choose_policy_type">
    <h4 class="section-title"> Would you like to create a <b>Governance Policy</b> or a <b>If-Then Rule</b>?</h4>
    <div>
      <label><input type="radio" name="option" value="notify" checked>Governance Policy</label>
      <label><input type="radio" name="option" value="check">If-Then Rule</label>
    </div>
</section> -->
<div class="nocode-container">
    <div class="nocode-sidebar">
        <section>
            <div class="variables section-body">
                <div class="variable-item">
                    <label for='name'>Policy Name</label>
                    <input type='text' value='{{policy.name}}' data-id='name'  class='variable-input' name='name'/>
                </div>
                <div class="variable-item">
                    <label for='description'>Description</label>
                    <input type='text' value='{{policy.description}}' data-id='description'  class='variable-input' name='description'/>
                </div>
            </div>
        </section>
        <div id="slider-panel" class="hidden">
            <div class="slide-panel-header">
                <div class="large">Choose governed Actions</div>
                <div class="prompt medium">Select one or more actions that you want to govern by a policy</div>
            </div>
            <div class="slide-panel-body" id="slide-panel-body">
            </div>
        </div>
        <div class="slide-panel">
            <div class="slide-panel-header"></div>
            <div class="slide-panel-body"></div>
        </div>
    </div>
    <div class="nocode-panel"> 
        <div class="panel-header"></div>
        <div class="panel-body">
            <section id="design_custom_action">
                <div class="section-header">Actions</div>
                <div class="section-body inactive" id="design_custom_action-section-body">
                    <button class="section-inactive-button small-button small info" type="actions">+ Add</button>
                </div>
                <div class="section-bottom"></div>
            </section>
        </div>
        <div class="panel-bottom">
            <button class="button secondary"> Go back </button>
            <button class="button primary" id="submit_policy"> Submit </button>
        </div>
    </div>
</div>

{% endblock %}

{% block step_scripts %}
<script>
    const base_actions = JSON.parse('{{base_actions | safe}}');
    const action_filter_kinds = JSON.parse('{{action_filter_kinds | safe}}');
    const filter_modules = JSON.parse('{{filter_modules | safe}}');
    const entities = JSON.parse('{{entities|safe}}');

    var selected_actions = {};
    const removeFilterParameters = (action, app) => {
        // remove the action from the selected actions
        delete selected_actions[action];
        
        $(`#custom-action-${action}`).remove();
        if(selected_actions.length == 0) {
            let action_section = $("#design_custom_action-section-body");
            action_section.removeClass("active");
            action_section.addClass("inactive");
            action_section.empty();
            action_section.append('<button class="section-inactive-button small info" type="actions">+ Add</button>')
            $("#design_custom_action .section-bottom:first").empty();
        }
    }
    
    const showFilterParameters = (action, app) => {

        // check if the action has already been selected
        if (action in selected_actions) {
            return;
        }

        let action_section = $("#design_custom_action-section-body");
        // if there are no actions selected before, remove the inactive class and empty the section
        if(Object.keys(selected_actions).length == 0) {
            action_section.removeClass("inactive");
            action_section.addClass("active");
            action_section.empty();
            $("#design_custom_action .section-bottom:first").append('<button class="button primary medium" id="design_custom_action-next">Next</button>')
        }

        selected_actions[action] = app;
        // add filter parameters for the new action, iterating with action and index 
        /*
            The exepcted div structure looks like this:
            # for all fields of this action
            <div class="custom-action-group" id="custom-action-${action}">
                <label class="custom-action-label">For action ... </label>
                <div class="custom-action-field">
                    <div class="variables-values" id="${action}.${field}">
                        <label class="variable-label" for="select-${action}.${field}">${field}</label>
                        <select id="select-${action}.${field}" class="selectpicker" title="Select a filter">
                            <option value="filter.pk">filter.description</option>
                            ...
                        </select>
                    </div>
                    # for all variables of the filter module selected in the div above; 
                    # added in the showFilterModuleVariables function
                    <div class="variable-values" id="select-${action}.${field}.${variable.name}"> ... 
                        <label class='variable-label' for='${variable_id}'>${variable.name}</label>
                        <input type='text' data-id='${variable_id}' name='${variable_id}' class='variable-input' ${default_value}>
                    </div>
                </div>
                
                # for other fields of this action
                <div class="action-field"> ... </div>
            </div>
        */

        var action_div = document.createElement('div');
        action_div.classList.add('custom-action-group');
        action_div.id = `custom-action-${action}`;

        // add a label for this action in action_div
        var action_label = document.createElement('label');
        action_label.classList.add('custom-action-label');
        action_label.classList.add('large');
        action_label.innerHTML = capitalize(action);
        action_div.appendChild(action_label);
        
        // then add the filter parameters for each action in this action_div
        const now_filter_kinds = action_filter_kinds[action]; // a dict of field: filter_kind
        const filters_this_app = filter_modules[app]; // a dict of filter_kind: [filter_modules]
        Object.keys(now_filter_kinds).forEach(field => {
            const filter_kind = now_filter_kinds[field];
            if(filter_kind){ // only show fields of which the filter we support
                var field_div = document.createElement('div');
                field_div.classList.add('custom-action-field');

                select_id = `select-${action}.${field}`
                let field_html = `<div class='variable-item' id='${action}.${field}'>
                            <label for='${select_id}'>${capitalize(field)}</label>
                            <div class='selectpicker-wrapper'>
                            <select id='${select_id}' class="selectpicker" title="Select a filter">
                            <option value="none">None</option>`
                
                // add filter modules as options for this select

                const filters_this_kind = filters_this_app[filter_kind]
                // console.log("filter_kind: " + filter_kind + " filters for this kind: " + JSON.stringify(filters_this_kind));
                filters_this_kind.forEach(filter => {
                    field_html   += `<option value=${filter.pk}>${filter.description}</option>`
                });
                field_html  += `</select></div></div>`; 
                field_div.innerHTML = field_html; 
                action_div.appendChild(field_div);
            }
        });
        action_section.append(action_div);
        $(".selectpicker").selectpicker('refresh');
    }

    const showFilterModuleVariables = (select_id) => {
        let filter_pk = parseInt(document.getElementById(select_id).value);

        if(Number.isNaN(filter_pk)) return; // when no filter is selected, the value is "none" (NaN after parseInt)

        // search for a filter with this pk by iterating through filter_per_app
        let filter = null;
        for(let app in filter_modules){
            for(let kind in filter_modules[app]){
                filter = filter_modules[app][kind].find(filter => filter.pk == filter_pk);
                if(filter) break;
            }
            if(filter) break;
        }

        const variables = filter.variables;
        var field_div = document.getElementById(select_id).closest(".custom-action-field"); 
        // now at the level of the action-field div
        while (field_div.childNodes.length > 1) {
            field_div.removeChild(field_div.lastChild);
            // remove previously displayed filter variables except the action-field div
        } 

        var variable_div = document.createElement('div');
        variable_div.classList.add('custom-action-filter-variable');
        field_div.appendChild(variable_div);

        variables.forEach(variable => {
            console.log("adding variable: " + JSON.stringify(variable));
            const variable_id = `${select_id}.${variable.name}`;
            // select-${action}.${field}.${variable.name}
            addVariableInputBox(variable=variable, id=variable_id, parentDiv=variable_div, options=entities)
        });

        
    
    }

    const collectCustomActionData = () => {
        // to collect user input about custom actions
        
        console.log("new actions are: " +Object.keys(selected_actions));
        
        let missing_input = false;
        const filters = Object.keys(selected_actions).map((action, index) => {
            const action_div = document.getElementById(`custom-action-${action}`);
            let action_field_divs = action_div.getElementsByClassName('custom-action-field');
            var filters_per_action = {}
            Array.from(action_field_divs).forEach((action_field_div => {
                let action_field_id = action_field_div.firstElementChild.id; // the field itself: slackpostmessage.initiator
                let action_field_name = action_field_id.split(".")[1]; // initiator
                let selected_filter_pk = document.getElementById(`select-${action_field_id}`).value; // select-slackpostmessage.initiator
                if(selected_filter_pk === "" || selected_filter_pk === "none"){
                    // if no filter modules are selected, then no filter is applied to this field
                    filters_per_action[action_field_name] = {}
                } else {
                    // a dict of variable_name: variable_value
                    var variables_dict = {}
                    field_variables_div = action_field_div.getElementsByClassName('custom-action-filter-variable')[0];
                    for(var i = 0; i < field_variables_div.children.length; i++){
                        filter_variable_div = 
                        // check whether all variables are filled and alert with the missing variable names
                        missing_input = checkMissingVariable(null, elements=filter_variable_div);
                        if(missing_input) break;
                        let filter_variable_input = getVariableDataInStep(null, elements=filter_variable_div);
                        // replace original key in filter_variable_input with the variable name
                        Object.keys(filter_variable_input).forEach(key => {
                            variables_dict[key.split(".").pop()] = filter_variable_input[key];
                        });
                    }
                    filters_per_action[action_field_name] = {filter_pk: selected_filter_pk, platform: app_name, variables: variables_dict}
                }
            }))
            return {action_type: action, filter: filters_per_action, app_name: selected_actions[action]}
        });
        // only submit the data if all variables are filled
        if(missing_input) return; else return filters;
    }

    const goCreateProcedure = async () => {
        let custom_action_data = collectCustomActionData();
        console.log("custom action data: " + JSON.stringify(custom_action_data));
    }

    document.getElementById("submit_policy").addEventListener('click', goCreateProcedure);
    
    // document.getElementById("actionpicker").addEventListener("change", showFilterParameters);
    // showFilterParameters(); // make sure that the filter parameters are shown when the page is loaded
    
    // listen to events on the checkboxes in the slide panel
    document.body.addEventListener('change', (event) => {
        if(event.target.id.startsWith("actions-checkbox")){
            let id = event.target.id;
            let action = id.split(".")[2];
            let app = id.split(".")[1];
            if(event.target.checked){
                showFilterParameters(action, app);
            } else {
                removeFilterParameters(action, app);
            }
        } else if( event.target.id.startsWith("select-") ){
            // check whether the id starts with "select-", which we named all fields of the selected actions
            // we cannot listen to events on elements we create dynamically, so we listen to the body and check the id
            showFilterModuleVariables(event.target.id);
        }
    });

    document.body.addEventListener('click', (event) => {
        if( event.target.id === "design_custom_action-next") {
            collectCustomActionData();
        }
    })

    // listen to the event when users clicks add in a section and we pop up the slide panel
    document.querySelectorAll(".section-inactive-button").forEach(btn => {
        btn.addEventListener("click", (event) => {
            // when the user clicks on the inactive button, the section should be activated
            // and the button should be changed to active
            let button = event.target;
            let slidepanel_type = button.getAttribute("type");
            if(slidepanel_type === "actions"){
                button.innerHTML = "Select one or more actions from the left sidebar";
                button.classList.remove("info");
                button.classList.add("prompt");
                $("#slide-panel-body").empty();
                Object.keys(base_actions).forEach(app => {
                    let innerHTML = `<div class='actions-checkbox-section'>
                        <div class='actions-checkbox-header medium'>${capitalize(app)}</div>
                        <div class="action-checkbox-body">`
                    let this_app_actions = base_actions[app];
                    this_app_actions.forEach(action => {
                        let action_value = app + "." + action[0];
                        let action_name = action[1].replace(app, "").replace(capitalize(app), "");
                        innerHTML += `<div class='actions-checkbox-item'>
                            <input type='checkbox' name='${action_value}' value='${action_value}' class='actions-checkbox-input' id="actions-checkbox.${action_value}">
                            <label for='${action_value}' class='actions-checkbox-label normal medium'>${action_name}</label>
                        </div>`;
                    });
                    innerHTML += "</div></div>";
                    $("#slide-panel-body").append(innerHTML);
                })
                $("#slider-panel").removeClass("hidden");
                $("#slider-panel").slideReveal({push: false, width: "30%"}).slideReveal("show");
            }
        });
    });


</script>
{% endblock %}