{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% sentry %}

  
<link rel="stylesheet" href="{% static "bootstrap/css/semantic.min.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-select.min.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
  <link rel="stylesheet" href="{% static "codemirror/addon/hint/show-hint.css" %}">
  <link rel="stylesheet" href="{% static "codemirror/addon/hint/css-hint.js" %}">
  <link rel="stylesheet" href="{% static "codemirror/theme/eclipse.css" %}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Itim&family=Karla:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<style>
    body {
      margin: 0px;
      padding: 0px;
      background-color: rgba(248, 249, 250, 1);
    }

  </style>
  {% block styles %}
	{% endblock %}
  <title>PolicyKit</title>
</head>
<body>
    <!-- {% if user.is_authenticated %}
      <a href="#" class="profileName dropdown-toggle" data-toggle="dropdown">Hi, {{user.readable_name}}</a>
      </div>
    </div>
    {% endif %}
  </div> -->
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-select.min.js" %}"></script>
  <script src="{% static "jquery.slidereveal.js" %}"></script>

  <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
  <script src="{% static "codemirror/mode/python/python.js" %}"></script>
  <script src="{% static "codemirror/addon/hint/show-hint.js" %}"></script>
  <script src="{% static "codemirror/addon/display/autorefresh.js" %}"></script>
  {% block scripts %}
	{% endblock %}
  {% block step_scripts %}
	{% endblock %}
</body>
</html>
