<label for={{ name }} class="flex items-center w-full justify-between border-background-focus group cursor-pointer [-webkit-tap-highlight-color:_transparent] pr-1.5 py-2.5">
  <input type="checkbox" id={{ name }} class="peer" />
  {% if label %}<span className="text-black text-[15px] leading-none pr-[15px]">{{ label }}</span>{% endif %}
  <div class="w-[24px] h-[11px] relative group peer-focus-visible:outline peer-focus-visible:outline-primary outline-offset-2">
    <span class="absolute w-[24px] h-[11px] inset-0 rounded-full bg-grey-light transition in-[.group]:peer-checked:bg-primary-light"></span>
    <span class="absolute inset-y-0 start-0 w-[15px] h-[15px] -mt-0.5 rounded-full bg-background-focus transition-all -translate-x-[1.5px] in-[.group]:peer-checked:translate-x-3 in-[.group]:peer-checked:bg-primary-dark"></span>
  </div>
</label>
