{% extends "policyengine/v2/dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
    .body {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 10vw;
        padding-top: 3vh;
    }

.form-row {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.control-label {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #373456;
}

.name {
    width: 40%;
}


.selected {
    background-color: #b1b5cc;
}

.submitButton {
    width: 10%;
    font-size: 1.2em;
    border-radius: 30px;
}
</style>
{% endblock %}

{% block content %}
<div class="body">
    <h3>Add a new Role</h3>
    <h3>Change an existing Role</h3>
    
    <div class="form-row">
        <label class="control-label col-sm-1" for="name">Name:</label>
        <div class="col-sm-11">
            <input type="text" class="form-control name" id="name" required>
                </div>
    </div>
    
    {% endblock %}
    
    {% block scripts %}
