{% extends "policyengine/v2/dashboard_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/show-hint.css" %}">
<link rel="stylesheet" href="{% static "codemirror/theme/eclipse.css" %}">

<style>
  .body {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 90vh;
    margin: 0 10vw;
    padding-top: 3vh;
  }

  .editor {
    width: 100%;
  }

  .name {
    width: 40%;
  }

  .description {
    resize: none;
    width: 40%;
  }

  .bundled {
    width: auto;
  }

  .code {
    resize: none;
  }

  .CodeMirror {
    height: auto;
    width: 60%;
    border: 1px solid #000000;
  }

  .form-row {
    margin-bottom: 20px;
  }

  .control-label {
    font-size: 1.2em;
  }

  .btn {
    font-size: 1.2em;
  }

  .marker {
    position: relative;
    color: #ff0000;
    width: 10px !important;
    margin-left: 4px;
  }

  .marker .tooltip {
    display: none;
    position: absolute;
    background-color: #f5f5b5;
    color: #000000;
    border: 1px solid #000000;
    padding: 2px;
    width: 400px;
    left: 10px;
    top: -1em;
  }

  .marker:hover .tooltip {
    display: block;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <form class="form-horizontal editor">
    <div class="form-row">
      <label class="control-label col-sm-1" for="name">Name:</label>
      <div class="col-sm-11">
        <input type="text" class="form-control name" id="name" required>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="description">Description:</label>
      <div class="col-sm-11">
        <textarea class="form-control description" id="description" required rows="6"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="filter">Filter:</label>
      <div class="col-sm-11">
        <textarea class="form-control code" id="filter" required rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="initialize">Initialize:</label>
      <div class="col-sm-11">
        <textarea class="form-control code" id="initialize" required rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="notify">Notify:</label>
      <div class="col-sm-11">
        <textarea class="form-control code" id="notify" required rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="check">Check:</label>
      <div class="col-sm-11">
        <textarea class="form-control code" id="check" required rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="pass">Pass:</label>
      <div class="col-sm-11">
        <textarea class="form-control code" id="pass" required rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-1" for="fail">Fail:</label>
      <div class="col-sm-11">
        <textarea class="form-control code" id="fail" required rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
        <button type="button" class="btn btn-success" id="propose">Propose Policy</button>
        <button type="button" class="btn btn-warning" id="addtobundle">Add to Policy Bundle</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src={% static "codemirror/lib/codemirror.js" %}></script>
<script src={% static "codemirror/mode/python/python.js" %}></script>
<script src={% static "codemirror/addon/hint/show-hint.js" %}></script>
<script src={% static "codemirror/addon/hint/show-hint.css" %}></script>
<script src={% static "codemirror/addon/hint/python-hint.js" %}></script>
<script src={% static "codemirror/addon/display/autorefresh.js" %}></script>

<script>
  document.getElementById("propose").addEventListener("click", propose);
  document.getElementById("addtobundle").addEventListener("click", addToBundle);

  function propose() {
    const urlParams = new URLSearchParams(window.location.search);
    const type = urlParams.get('type');
    const operation = urlParams.get('operation');
    const policy = urlParams.get('policy');

    const name = document.getElementById("name").value
    const description = document.getElementById("description").value
    const filter = document.getElementById("filter").nextSibling.CodeMirror.getValue()
    const initialize = document.getElementById("initialize").nextSibling.CodeMirror.getValue()
    const check = document.getElementById("check").nextSibling.CodeMirror.getValue()
    const notify = document.getElementById("notify").nextSibling.CodeMirror.getValue()
    const success = document.getElementById("pass").nextSibling.CodeMirror.getValue()
    const fail = document.getElementById("fail").nextSibling.CodeMirror.getValue()

    fetch('../../../main/policyengine/policy_action_save', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'type': type,
        'operation': operation,
        'policy': policy,
        'name': name,
        'description': description,
        'is_bundled': false,
        'filter': filter,
        'initialize': initialize,
        'check': check,
        'notify': notify,
        'success': success,
        'fail': fail
      })
    }).then(response => {
      window.location.href = "{{server_url}}/main/"
    });
  }

  function addToBundle() {
    // TODO: Implement add to bundle functionality here
    window.location.href = "{{server_url}}/main/"
  }

  {% if name %}
    document.getElementById('name').value = `{{name}}`
  {% endif %}

  {% if description %}
    document.getElementById('description').value = `{{description}}`
  {% endif %}

  const DEFAULT_VALUES = {
    "filter": "# Replace this code with your custom Filter code\nreturn True\n\n",
    "initialize": "# Replace this code with your custom Initialize code\npass\n\n",
    "check": "# Replace this code with your custom Check code\nreturn PASSED\n\n",
    "notify": "# Replace this code with your custom Notify code\npass\n\n",
    "pass": "# Replace this code with your custom Pass code\naction.execute()\n\n",
    "fail": "# Replace this code with your custom Fail code\npass\n\n"
  };

  var editors = [];

  for (let i = 0; i < Object.keys(DEFAULT_VALUES).length; i++) {
    var code_id = Object.keys(DEFAULT_VALUES)[i];
    var textArea = document.getElementById(code_id);
    editors.push(CodeMirror.fromTextArea(textArea, {
        mode: 'python',
        autoRefresh: true,
        lineNumbers: true,
        theme: 'eclipse',
        gutters: ['warnings']
    }));
    {% if i == 0 and filter %}
      editors[i].setValue(`{{filter}}`)
    {% elif i == 1 and initialize %}
      editors[i].setValue(`{{initialize}}`)
    {% elif i == 2 and check %}
      editors[i].setValue(`{{check}}`)
    {% elif i == 3 and notify %}
      editors[i].setValue(`{{notify}}`)
    {% elif i == 4 and success %}
      editors[i].setValue(`{{success}}`)
    {% elif i == 5 and fail %}
      editors[i].setValue(`{{fail}}`)
    {% else %}
      editors[i].setValue(DEFAULT_VALUES[code_id]);
    {% endif %}

    <div class="codeMirrorDictionaryHint" codemirror-dictionary-hint="[ 'Soccer', 'Cricket', 'Baseball', 'Kho Kho' ]"></div>
    
    var dictionary = [];
    
    try {
        // JSON.parse fails loudly, requiring a try-catch to prevent error propagation
        var dictionary = JSON.parse(
                                    document.getElementById('myTextAreaId')
                                    .closest('.codeMirrorDictionaryHintDiv')
                                    .getAttribute('codemirror-dictionary-hint')
                                    ) || [];
    } catch(e) {}
    
    // Register our custom Codemirror hint plugin.
    CodeMirror.registerHelper('hint', 'dictionaryHint', function(editor) {
                              var cur = editor.getCursor();
                              var curLine = editor.getLine(cur.line);
                              var start = cur.ch;
                              var end = start;
                              while (end < curLine.length && /[\w$]/.test(curLine.charAt(end))) ++end;
                              while (start && /[\w$]/.test(curLine.charAt(start - 1))) --start;
                              var curWord = start !== end && curLine.slice(start, end);
                              var regex = new RegExp('^' + curWord, 'i');
                              return {
                              list: (!curWord ? [] : dictionary.filter(function(item) {
                                                                       return item.match(regex);
                                                                       })).sort(),
                              from: CodeMirror.Pos(cur.line, start),
                              to: CodeMirror.Pos(cur.line, end)
                              }
                              });
                              
                              CodeMirror.commands.autocomplete = function(cm) {
                                  CodeMirror.showHint(cm, CodeMirror.hint.dictionaryHint);
                              };

    // https://stackoverflow.com/questions/11401317/autocomplete-for-python-in-codemirror
    editors[i].on('inputRead', function onChange(editor, input) {
        if (input.text[0] === ';' || input.text[0] === ' ' || input.text[0] === ":") {
            return;
        }
        editor.showHint({
            hint: CodeMirror.pythonHint
        });
    });
    
    var orig = CodeMirror.hint.python;
    CodeMirror.hint.python = function(cm) {
        var inner = orig(cm) || {from: cm.getCursor(), to: cm.getCursor(), list: []};
        inner.list.push("bozo");
        return inner;
    };

    editors[i].on('change', (cm, change) => {
      code = cm.getValue()

      fetch('../../../main/policyengine/error_check', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'code': code })
      })
      .then(response => response.json())
      .then(data => {
        cm.clearGutter('warnings')

        if (data.is_error) {
          for (const error of data.errors) {
            const message = 'Line ' + error.lineno + ': "' + error.code + '" ' + error.message

            const marker = document.createElement('div')
            marker.classList.add('marker')
            marker.innerHTML = '●'

            const tooltip = document.createElement('div')
            tooltip.classList.add('tooltip')
            tooltip.innerHTML = message
            marker.appendChild(tooltip)

            cm.setGutterMarker(error.lineno - 1, 'warnings', marker)
          }
        }
      })
    })
  }
</script>
{% endblock %}
