{% extends "policyengine/v2/dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .body {
    display: flex;
    flex-direction: row;
    width: 90vw;
    min-height: 90vh;
    margin: 0 5vw;
    padding-top: 3vh;
  }

  .leftCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 90vh;
  }

  .rightCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80vh;
  }

  .searchBar {
    display: flex;
    width: 90%;
    margin-top: 1vh;
    border-radius: 30px;
    border-width: 0px;
    padding: 10px 30px;
    background-color: #ffffff;
    color: #ebecf1;
    outline: none;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
  }

  .proposeButton {
    width: 80%;
    padding: 2% 20%;
    border-width: 0px;
    border-radius: 30px;
    background-color: #4451b2;
    color: #ffffff;
    line-height: 1.7em;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    box-shadow: 0 0 2px #9fa2b5;
    outline: none;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }

  .sidebarPanel {
    display: flex;
    width: 80%;
    min-height: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 2px #9fa2b5;
  }

  .sidebarPanelTitle {
    color: #373456;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 2.6vh;
    padding-left: 2vw;
  }

  .actionPanel {
    display: flex;
    width: 90%;
    min-height: 35vh;
    margin-top: 3vh;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 2px #9fa2b5;
  }

  .actionPanelTitle {
    color: #373456;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 2.3em;
    padding-top: 1.6vh;
    padding-left: 2vw;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="leftCol">
    <input type="text" class="searchBar" placeholder="Search">

    <div class="actionPanel">
      <h3 class="actionPanelTitle">Pending actions</h3>
    </div>

    <div class="actionPanel">
      <h3 class="actionPanelTitle">All actions</h3>
    </div>
  </div>

  <div class="rightCol">
    <input type="button" class="proposeButton" value="Propose Action" id="proposeAction">

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Users</h4>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Community Guidelines</h4>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Community Policies</h4>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Constitution Policies</h4>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("proposeAction").addEventListener("click", navActions);

  function navActions() {
    window.location.href = "{{server_url}}/main/actions/"
  }
</script>
{% endblock %}
