{% extends "policyengine/v2/dashboard_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/theme/eclipse.min.css" />

<style>
  .body {
    display: flex;
    flex-direction: row;
    width: 80vw;
    min-height: 90vh;
    margin: 0 10vw;
    padding-top: 3vh;
  }

  .leftCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 90vh;
  }

  .rightCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80vh;
  }

  .searchBar {
    display: flex;
    width: 90%;
    margin-top: 1vh;
    margin-right: auto;
    border-radius: 30px;
    border-width: 0px;
    padding: 10px 30px;
    background-color: #ffffff;
    color: #ebecf1;
    outline: none;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
  }

  .proposeButton {
    width: 80%;
    padding: 2% 20%;
    border-width: 0px;
    border-radius: 30px;
    background-color: #4451b2;
    color: #ffffff;
    line-height: 1.7em;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    box-shadow: 0 0 2px #9fa2b5;
    outline: none;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: auto;
  }

  .proposeButton:hover {
    background-color: #3b4699;
  }

  .sidebarPanel {
    width: 80%;
    min-height: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 2px #9fa2b5;
  }

  .sidebarPanelTitle {
    color: #373456;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 2.6vh;
    padding-left: 2vw;
  }

  .sidebarPanelContent {
    width: 92%;
    margin-left: 4%;
    height: 20vh;
    overflow: auto;
  }

  .sidebarPanelContent thead th {
    position: sticky;
    top: 0;
    background-color: #ebecf1;
  }

  .actionPanel {
    width: 90%;
    margin-right: auto;
    min-height: 35vh;
    margin-top: 3vh;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 2px #9fa2b5;
  }

  .actionPanelTitle {
    color: #373456;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 2.3em;
    padding-top: 1.6vh;
    padding-left: 2vw;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #ffffff;
    margin: 5vh auto;
    padding: 2%;
    border: 1px solid #888;
    width: 40vw;
  }

  .editor {
    width: 90%;
  }

  .name {
    width: 90%;
  }

  .description {
    resize: none;
    width: 90%;
  }

  .bundled {
    width: auto;
  }

  .code {
    resize: none;
  }

  .CodeMirror {
    height: auto;
    width: 90%;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .form-row {
    margin-bottom: 2vh;
  }

  .control-label {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #373456;
  }

  .close {
    margin-left: auto;
    margin-bottom: 2vh;
    width: 10%;
    font-size: 32px;
    font-weight: bold;
  }

  .close:hover {
    cursor: pointer;
  }

  input[readonly] {
    background-color: #ffffff !important;
  }

  textarea[readonly] {
    background-color: #ffffff !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="leftCol">
    <input type="text" class="searchBar" placeholder="Search">

    <div class="actionPanel">
      <h3 class="actionPanelTitle">Pending actions</h3>
    </div>

    <div class="actionPanel">
      <h3 class="actionPanelTitle">All actions</h3>

    </div>
  </div>

  <div class="rightCol">
    <input type="button" class="proposeButton" value="Propose Action" id="proposeAction">

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Users</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Roles</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in users.items %}
                <tr>
                  <td>{{value.readable_name}}</td>
                  <td>{{key}}</td>
                  <td>
                    {% for r in value.roles %}
                      {% if forloop.last %}
                        {{r.name}}
                      {% else %}
                        {{r.name}},
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Roles</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Users</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in roles.items %}
                <tr>
                  <td>{{key}}</td>
                  <td>
                    {% if value.users.count == 1 %}
                      {{value.users.0.username}}
                    {% elif value.users.count == 2 %}
                      {{value.users.0.username}} and {{value.users.1.username}}
                    {% elif value.users.count >= 3 %}
                      {{value.users.0.username}}, {{value.users.1.username}} and {{value.users.count|add:"-2"}} more...
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Community Documents</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in docs.items %}
                <tr>
                  <td>{{key}}</td>
                  <td>{{value.name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Platform Policies</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in platform_policies.items %}
                <tr id="platform_{{key}}">
                  <td>{{key}}</td>
                  <td>{{value.name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div class="sidebarPanel">
      <h4 class="sidebarPanelTitle">Constitution Policies</h4>
      <div class="sidebarPanelContent">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in constitution_policies.items %}
                <tr id="constitution_{{key}}">
                  <td>{{key}}</td>
                  <td>{{value.name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div id="close" class="close">&times;</div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control name" id="name" readonly>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">
        <textarea class="form-control description" id="description" readonly rows="6"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="filter">Filter:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="filter" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="initialize">Initialize:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="initialize" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="notify">Notify:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="notify" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="check">Check:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="check" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="pass">Pass:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="pass" readonly rows="3"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="control-label col-sm-2" for="fail">Fail:</label>
      <div class="col-sm-10">
        <textarea class="form-control code" id="fail" readonly rows="3"></textarea>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/display/autorefresh.min.js"></script>

<script>
  document.getElementById("proposeAction").addEventListener("click", navActions);
  {% for key, value in platform_policies.items %}
    document.getElementById("platform_{{key}}").addEventListener("click", function(){ showModal(`{{value.name}}`, `{{value.description}}`, `{{value.filter}}`, `{{value.initialize}}`, `{{value.check}}`, `{{value.notify}}`, `{{value.success}}`, `{{value.fail}}`); });
  {% endfor %}
  {% for key, value in constitution_policies.items %}
    document.getElementById("constitution_{{key}}").addEventListener("click", function(){ showModal(`{{value.name}}`, `{{value.description}}`, `{{value.filter}}`, `{{value.initialize}}`, `{{value.check}}`, `{{value.notify}}`, `{{value.success}}`, `{{value.fail}}`); });
  {% endfor %}
  document.getElementById("modal").addEventListener("click", hideModal);
  document.getElementById("close").addEventListener("click", hideModal);

  const code_ids = ["filter", "initialize", "check", "notify", "pass", "fail"]

  var editors = [];

  for (let i = 0; i < code_ids.length; i++) {
    var textArea = document.getElementById(code_ids[i]);
    editors.push(CodeMirror.fromTextArea(textArea, {
        mode: 'python',
        lineNumbers: true,
        autoRefresh: true,
        readOnly: true,
        theme: 'eclipse'
    }));
  }

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  function navActions() {
    window.location.href = "{{server_url}}/main/actions/"
  }

  function showModal(name, description, filter, initialize, check, notify, pass, fail) {
    document.getElementById("modal").style.display = "block";

    document.getElementById("name").value = decodeHtml(name);
    document.getElementById("description").value = decodeHtml(description);

    editors[0].setValue(filter);
    setTimeout(function(){ editors[0].refresh(); }, 1);
    editors[1].setValue(initialize);
    setTimeout(function(){ editors[1].refresh(); }, 1);
    editors[2].setValue(check);
    setTimeout(function(){ editors[2].refresh(); }, 1);
    editors[3].setValue(notify);
    setTimeout(function(){ editors[3].refresh(); }, 1);
    editors[4].setValue(pass);
    setTimeout(function(){ editors[4].refresh(); }, 1);
    editors[5].setValue(fail);
    setTimeout(function(){ editors[5].refresh(); }, 1);
  }

  function hideModal(event) {
    if (event.target !== this) {
      return;
    }
    document.getElementById("modal").style.display = "none";
  }
</script>
{% endblock %}
