{% extends "policyengine/v2/dashboard_base.html" %}
{% load static %}

{% block styles %}
<style>
  .body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 10vw;
    padding-top: 3vh;
  }

  .form-row {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .control-label {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #373456;
  }

  .name {
    width: 40%;
  }

  .submitButton {
    width: 10%;
    font-size: 1.2em;
    border-radius: 30px;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  {% if operation == "Add" %}
    <h3>Add a User to a Role</h3>
  {% elif operation == "Remove" %}
    <h3>Remove a User from a Role</h3>
  {% endif %}

  <div class="form-row">
    <label class="control-label col-sm-1" for="user">User:</label>
    <div class="col-sm-11">
      <select class="dropdown" name="user" id="user">
        {% for user in users %}
          <option value="{{user.username}}">{{user.readable_name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="role">Role:</label>
    <div class="col-sm-11">
      <select class="dropdown" name="role" id="role">
        {% for role in roles %}
          <option value="{{role.name}}">{{role.role_name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <button class="btn btn-success submitButton" id="submit">{{operation}}</button>
</div>
{% endblock %}

{% block scripts %}
<script>
  function submit() {
    const selectUser = document.getElementById("user");
    const user = selectUser.options[selectUser.selectedIndex].value;

    const selectRole = document.getElementById("role");
    const role = selectRole.options[selectRole.selectedIndex].value;

    fetch('../../../main/policyengine/role_action_users', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'role': role,
        'user': user,
        'operation': `{{operation}}`
      })
    }).then(response => {
      window.location.href = "{{server_url}}/main/"
    });
  }
</script>
{% endblock %}
