{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
    body {
      margin: 0px;
      padding: 0px;
      background-color: #f8f9fa;
    }
  </style>
  {% block styles %}
	{% endblock %}
  <title>PolicyKit</title>
</head>
<body>
    {% if user.is_authenticated %}
      <p class="profileName dropdown-toggle" data-toggle="dropdown">Hi, {{user.readable_name}}</p>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  {% block scripts %}
	{% endblock %}
  {% block step_scripts %}
	{% endblock %}
</body>
</html>
