{% extends "./embed_base.html" %}
{% load static %}

{% block styles %}
<style>
  .container {
    display: flex;
  }

  .wizard {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px 8px;
  }

  .heading {
    margin: 0;
  }

  .step {
    display: none;
  }

  .step.active {
    display: block;
  }

  .variables {
    margin: 0 0 24px;
  }

  .variable-values {
    margin: 0 0 8px;
  }

  .variable-prompt {
    margin: 0;
    font-size: 12px;
  }

  .button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }

  .secondary {
    background: #ccc;
  }

  .secondary:hover {
    background: #aaa;
  }

  .primary {
    background: #333;
    color: #fff;
  }

  .primary:hover {
    background: #000;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="wizard">
    {% csrf_token %}
    <section class="step active" id="policy_setup">
      <h2 class="heading">
        Set up your policy
      </h2>
      <p class="description">
        {{ template.description }}
      </p>
      <div class="variables">
        {% for variable in initial_variables %}
        <div class="variable">
          <div class="variable-values">
            <label class="variable-label" for="variables[{{ variable.id }}]">{{ variable.label }}</label>
            <input class="variable-input" type="text" name="variables[{{ variable.id }}]" data-id="{{ variable.id }}" value="{{ variable.value }}" />
          </div>
          <p class="variable-prompt">
            {{ variable.prompt }}
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="actions">
        <button class="button secondary">
          Cancel
        </button>
        <button class="button primary">
          Continue
        </button>
      </div>
    </section>
    <section class="step" id="policy_summary">
      <h2 class="heading">
        Policy Summary
      </h2>
      <p class="description">
        {{ template.description }}
      </p>
      <div class="variables">
        {% for variable in all_variables %}
        <div class="variable">
          <div class="variable-values">
            <label class="variable-label" for="variables[{{ variable.id }}]">{{ variable.label }}</label>
            <span class="variable-value">
              {{ variable.value }}
            </span>
          </div>
          <p class="variable-prompt">
            {{ variable.prompt }}
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="actions">
        <button class="button secondary">
          Edit
        </button>
        <button class="button primary">
          Continue
        </button>
      </div>
    </section>
    <section class="step" id="policy_editor">
      <h2 class="heading">
        Configure Policy
      </h2>
      <p class="description">
        {{ template.description }}
      </p>
      <div class="variables">
        {% for variable in all_variables %}
        <div class="variable">
          <div class="variable-values">
            <label class="variable-label" for="variables[{{ variable.id }}]">{{ variable.label }}</label>
            <input class="variable-input" type="text" name="variables[{{ variable.id }}]" data-id="{{ variable.id }}" value="{{ variable.value }}" />
          </div>
          <p class="variable-prompt">
            {{ variable.prompt }}
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="actions">
        <button class="button secondary">
          Go Back
        </button>
        <button class="button primary">
          Save
        </button>
      </div>
    </section>
    <section class="step" id="policy_confirmation">
      <h2 class="heading">
        You're all set!
      </h2>
    </section>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  // ids for UI sections
  const steps = {
    setup: 'policy_setup',
    summary: 'policy_summary',
    edit: 'policy_editor',
    done: 'policy_confirmation'
  }

  // Reference of class names defined here to avoid repetition
  const classnames = {
    visible: 'active',
    primary: 'primary',
    secondary: 'secondary'
  }

  // Hide all step sections
  const hideSteps = () => {
    const allSections = document.querySelectorAll('.step')

    allSections.forEach(element => element.classList.remove(classnames.visible))
  }

  // Show step section based on element id
  const showStep = id => {
    hideSteps()

    const element = document.getElementById(id)

    element && element.classList.add(classnames.visible)
  }

  // Get an object with variable data from a step section
  const getVariableDataInStep = stepId => {
    // Select all input elements in step element
    const inputElements = document.getElementById(stepId).querySelectorAll('.variable-input')

    // Build JS object with variable data in the form of { id: value, id: value }
    return Array.from(inputElements).reduce((sum, curr) => ({ ...sum, [ curr.getAttribute('data-id') ] : curr.value }), {})
  }

  // Save variable data
  const propose = async variableData => {
    // Django generated csrf token
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    try {
      const response = await fetch('../../../embed/opencollective/setup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
          template: '{{template.id}}',
          variables: variableData
        })
      })

      if (!response.ok) {
        const text = await response.text()

        console.error(text)
      }

      console.log(response)
    } catch (e) {
      console.log(e)
    }
  }

  // SETUP step event handlers
  const handleSetupCancel = () => {
    // TODO:oz
  }

  const handleSetupContinue = async () => {
    // Prepare policy and variable data
    const data = getVariableDataInStep(steps.setup)

    // Post variable data
    const response = await propose(data)

    // Validate
    // TODO:oz

    // Display summary step
    showStep(steps.summary)
  }

  // SUMMARY step event handlers
  const handleSummaryEdit = () => {
    // Display edit step
    showStep(steps.edit)
  }

  const handleSummaryContinue = () => {
    // Display done step
    showStep(steps.done)
  }

  // EDIT step event handlers
  const handleEditCancel = () => {
    // Display summary step
    showStep(steps.summary)
  }

  const handleEditContinue = async () => {
    // Prepare policy and variable data
    const data = getVariableDataInStep(steps.edit)

    // Post variable data
    const response = await propose(data)

    // Validate
    // TODO:oz

    // Display summary step
    showStep(steps.summary)
  }

  // Event handlers for steps
  document.getElementById(steps.setup).querySelector(`.${classnames.secondary}`).addEventListener('click', handleSetupCancel)
  document.getElementById(steps.setup).querySelector(`.${classnames.primary}`).addEventListener('click', handleSetupContinue)
  document.getElementById(steps.summary).querySelector(`.${classnames.secondary}`).addEventListener('click', handleSummaryEdit)
  document.getElementById(steps.summary).querySelector(`.${classnames.primary}`).addEventListener('click', handleSummaryContinue)
  document.getElementById(steps.edit).querySelector(`.${classnames.secondary}`).addEventListener('click', handleEditCancel)
  document.getElementById(steps.edit).querySelector(`.${classnames.primary}`).addEventListener('click', handleEditContinue)
</script>
{% endblock %}
