{% extends "./opencollective_base.html" %}
{% load static %}

{% block step %}
<section class="step" id="policy_editor">
  <h2 class="heading-2">
    Configure Policy
  </h2>
  <p class="description heading-5">
    {{ policy.description }}
  </p>
  <div class="variables">
    {% for variable in all_variables %}
    <div class="variable">
      <div class="variable-values">
        <label class="variable-label" for="variables[{{ variable.id }}]">{{ variable.label }}</label>
        <input class="variable-input text-small" type="text" name="variables[{{ variable.id }}]" data-id="{{ variable.id }}" value="{{ variable.value }}" />
      </div>
      <p class="variable-prompt text-small">
        {{ variable.prompt }}
      </p>
    </div>
    {% endfor %}
  </div>
  <div class="actions">
    <button class="button secondary">
      Go Back
    </button>
    <button class="button primary">
      Save
    </button>
  </div>
</section>
{% endblock %}

{% block step_scripts %}
<script>
  const handleEditCancel = () => {
    // Display summary step
    redirect('summary', { policy: '{{ policy.id }}'})
  }

  const handleEditContinue = async () => {
    // Prepare policy and variable data
    const data = getVariableDataInStep(stepElementIds.edit)

    // Post variable data
    const response = await submit('update', data)

    // Validate
    // TODO:oz

    // Display summary step
    redirect('summary', { policy: '{{ policy.id }}'})
  }

  // Event handlers for steps
  document.getElementById(stepElementIds.edit).querySelector(`.${classnames.secondary}`).addEventListener('click', handleEditCancel)
  document.getElementById(stepElementIds.edit).querySelector(`.${classnames.primary}`).addEventListener('click', handleEditContinue)
</script>
{% endblock %}
