{% extends "./base.html" %}
{% load static %}

{% block step %}
<section class="step active" id="policy_setup">
  <h3 class="heading-3">
    Select a template to start customizing a policy
  </h3>
  <br>


  {% for template_policy in template_policies %}
    <div>
      <div class="template">
        <a href="/embed?source={{template_policy.id}}"> {{template_policy.name}} </a>
      <p class="text-small">
        {{ template_policy.description }}
      </p>
    </div>
    <br>
    {% endfor %}

</section>
{% endblock %}