{% extends "./base.html" %}
{% load static %}

{% block step %}
<section class="step active" id="policy_setup">
  <h2 class="heading-2">
    Select a template to start customizing a policy
  </h2>


  {% for template_policy in template_policies %}
    <div>
      <div class="template">
        <h3>{{template_policy.name}} (<a href="/embed?source={{template_policy.id}}">Select</a>)</h3>
      <p class="text-small">
        {{ template_policy.description }}
      </p>
    </div>
    <br>
    {% endfor %}

</section>
{% endblock %}
