{% extends "./base.html" %}
{% load static %}

{% block step %}
<section class="step" id="policy_summary">
  <h2 class="heading-2">
    Policy Summary
  </h2>
  <p class="description heading-5">
    {{ policy.description }}
  </p>
  <div class="variables">
    {% for variable in all_variables %}
    <div class="variable">
      <div class="variable-values">
        <label class="variable-label" for="variables[{{ variable.id }}]">{{ variable.label }}</label>
        <span class="variable-value text-small">
          {{ variable.value }}
        </span>
      </div>
      <p class="variable-prompt text-small">
        {{ variable.prompt }}
      </p>
    </div>
    {% endfor %}
  </div>
  <div class="actions">
    <button class="button secondary">
      Edit
    </button>
    <button class="button primary">
      Continue
    </button>
  </div>
</section>
{% endblock %}

{% block step_scripts %}
<script>
  const handleSummaryEdit = () => redirect('edit', { policy: '{{ policy.id }}' })

  const handleSummaryContinue = () => redirect('success', { policy: '{{ policy.id }}' })

  // Event handlers for steps
  document.getElementById(stepElementIds.summary).querySelector(`.${classnames.secondary}`).addEventListener('click', handleSummaryEdit)
  document.getElementById(stepElementIds.summary).querySelector(`.${classnames.primary}`).addEventListener('click', handleSummaryContinue)
</script>
{% endblock %}
