{% extends "./nocode_base.html" %}
{% load static %}
{% load dashboard_extras %}
{% block styles %}
<style>
  .body {
    display: flex;
    flex-direction: row;
  }

  .sidebarItem {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: #333333;
    cursor: pointer;
  }

  .actionPanel {
    width: 90%;
    margin-right: auto;
    max-height: 40em;
    margin-top: 0.5em;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 2em;
  }

  .actionPanelTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    padding: 1em 0 0.5em 2vw;
  }

  .actionPanelContent {
    width: 92%;
    margin-left: 4%;
    max-height: 33.5em;
    overflow: auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="actionPanel">
    <h3 class="actionPanelTitle">Policy Templates</h3>
    <div class="actionPanelContent">
      <table class="table table-hover">
        <tbody>
            {% for template in policy_templates %}
              <tr class="sidebarItem">
                <td>
                  <a href="{% url 'policy-template-generator' id=template.id %}">
                    {{template.name|capfirst}}
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr class="sidebarItem">
                <td>No pending actions.</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
