{% extends "./nocode_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/show-hint.css" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/css-hint.js" %}">
<link rel="stylesheet" href="{% static "codemirror/theme/eclipse.css" %}">

<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
  }

  .form-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .form-row > label.col-sm-2 {
    text-align: right;
    padding-right: 0.5em;
    padding-top: 0.2em;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .description {
    resize: none;
  }

  .selectpicker + button.btn.dropdown-toggle,
  .selectpicker + button.btn.dropdown-toggle.disabled {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ffffff;
  }

  .selectpicker + button {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #ffffff;
  }
  .code {
    resize: none;
  }

  .CodeMirror {
    height: auto;
    width: 100%;
    border: 1px solid #000000;
  }

  .btn.pk-btn {
    padding: 0.5em 2vw;
    margin-right: 0.4vw;
    border: 1px solid #4451b2;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
    color: #4451b2;
  }

  .btn.pk-btn:hover {
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn.pk-btn.btn-propose {
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn.pk-btn.btn-propose:hover {
    background-color: #3b4699;
    color: #ffffff;
  }

  .marker {
    position: relative;
    color: #ff0000;
    width: 10px !important;
    margin-left: 4px;
  }

  .marker .tooltip {
    visibility: hidden;
    width: 400px;
    background-color: #f5f5b5;
    color: #000000;
    border: 1px solid #000000;
    padding: 2px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    opacity: 0;
  }

  .marker:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  #alerts {
    margin-top: 1em;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="form-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      {% if operation == "Add" %}
        <h3 class="headerText">Create a policy: "{{policy_template.template_name|lower}}"</h3>
      {% elif operation == "Change" %}
        <h3 class="headerText">Propose edits to this {{policy.name|lower}} policy</h3>
      {% endif %}
    </div>
  </div>

  {% for variable in policy_template.template_variables %}
  <div class="form-row">
    <label class="control-label col-sm-2" for="{{ variable.name }}">{{ variable.label }}</label>
    <div class="col-sm-8">
      {% if operation == "Add" %}
      <input type="text" class="form-control template-variable-input {{ variable.name }}" id="{{ variable.name }}" name="{{ variable.name }}" required value={{ variable.default_value }}>
      {% elif operation == "Change" %}
      <input type="text" class="form-control template-variable-input {{ variable.name }}" id="{{ variable.name }}" name="{{ variable.name }}" required value={{ policy.policytemplatedata.values|get_item:variable.name }}>
      {% endif %}
      <p class="helpText">{{ variable.prompt }}</p>
    </div>
  </div>
  {% endfor %}

  <div class="form-row">
    <label class="control-label col-sm-2" for="filter">Filter</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="filter" required rows="3">{{ policy.filter }}</textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="initialize">Initialize</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="initialize" required rows="3">{{ policy.initialize }}</textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="check">Check</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="check" required rows="3">{{ policy.check }}</textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="notify">Notify</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="notify" required rows="3">{{ policy.notify }}</textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="pass">Pass</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="pass" required rows="3">{{ policy.pass }}</textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-2" for="fail">Fail</label>
    <div class="col-sm-10">
      <textarea class="form-control code" id="fail" required rows="3">{{ policy.fail }}</textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      {% csrf_token %}
      {% if operation == "Add" %}
        <button type="button" class="pk-btn btn btn-propose" id="generate">Create policy</button>
      {% elif operation == "Change" %}
        <button type="button" class="pk-btn btn btn-propose" id="edit">Propose edits</button>
      {% endif %}
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-2"></div>
    <div class="control-label col-sm-10">
      <div id="alerts"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "codemirror/lib/codemirror.js" %}"></script>
<script src="{% static "codemirror/mode/python/python.js" %}"></script>
<script src="{% static "codemirror/addon/hint/show-hint.js" %}"></script>
<script src="{% static "codemirror/addon/display/autorefresh.js" %}"></script>

<script>
  const generateButton = document.getElementById("generate")
  generateButton && generateButton.addEventListener("click", () => save({ operation: 'Add' }));

  const editButton = document.getElementById("edit")
  editButton && editButton.addEventListener("click", () => save({ operation: 'Change' }));

  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  function sanitize_text(s) {
    // backticks break everything, so remove them before saving any code or text
    return s.replaceAll("`","")
  }

  function save({ operation }) {
    // Select all template variable input fields
    const variableInputFields = document.querySelectorAll('.template-variable-input');

    // Structure the variable data in the form of [ { name: value }, { name: value }, ... ]
    const data = [ ...variableInputFields ].reduce((sum, curr) => ({ ...sum, [ curr.name ] : curr.value }), {})

    const url = operation === 'Add'
      ? `../../../main/policyengine/policytemplate_action_add/{{ policy_template.id }}`
      : `../../../main/policyengine/policytemplate_action_change/{{ policy.id }}`

    // Pass data to view
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify(data)
    }).then(response => {
      if (response.ok) {
        response.json().then(json => {
          window.location.href = `/nocode/editor?operation=Change`
        })
      } else {
        response.text().then(text => {
            console.error(text)
            var msg = "Something went wrong."
            if (response.status == 400) {
              msg = text
            }
            document.querySelector('#alerts').innerHTML = msg;
            document.querySelector('#alerts').style.color = "red";
          })
      }
    });
  }
</script>
{% endblock %}
