body {
  font-family: 'Karla', sans-serif;
  color: #464a4f;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .header {
  font-family: 'Baloo Da 2', sans-serif;
  letter-spacing: 5px;
  font-size: 3.5em;
  font-weight: 400;
  color: #000000;
}

h2 {
  font-family: 'Baloo Da 2', sans-serif;
  letter-spacing: 3px;
  font-size: 1.8em;
  font-weight: 400;
}

h3 {
  font-family: 'Baloo Da 2', sans-serif;
  letter-spacing: 3px;
  font-size: 1.4em;
  font-weight: 400;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  font-family: 'Karla', sans-serif;
  line-height: 2em;
  font-size: 1.1em;
  font-weight: 400;
  color:#000000;
}

h6 {
  font-family: 'Karla', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.65em;
}


.masthead {
  height: 120vh;
  background: linear-gradient(45deg, #8EC5FC, #E0C3FC);
  color: white;
}

.hidden.menu {
  display: none;
}

.menu.visible {
  font-family: 'Karla', sans-serif;
}

.ui.grid {
  padding: 50px 100px 90px 100px;
}

#main {
  margin-top: 50px;
}

.main-left {
  padding-left: 100px;
  padding-top: 40px;
  text-align: center;
}

.main-right {

}

.divider {
  background: linear-gradient(45deg, #f59799, #6566ae);
  width: 70px;
  height: 6px;
  opacity: 0.7;
}

.gradient-box {
  position: absolute;
  right: 0;
  margin-right: 100px;
  margin-top: 40px;
  width: 800px;
  height: 100px;
  background: linear-gradient(45deg, #f59799, #6566ae);
  opacity: 0.4;
}

.gradient-box-left {
  position: absolute;
  left: 0;
  margin-left: 100px;
  margin-top: 40px;
  width: 800px;
  height: 100px;
  background: linear-gradient(45deg, #f59799, #6566ae);
  opacity: 0.4; 
}

#nav {
  border: none;
  font-family: 'Karla', sans-serif;
  padding-top: 30px;
  padding-right: 100px;
}

.fa-chrome, .fa-github, .fa-envelope {
  margin-right: 5px;
}

.underline-link {
  position: relative;
  transition: color 0.3s ease-in;
  color: white;
  font-weight: 700;
}

.dark-link {
  color: white;
  line-height: 1.85em;
  font-weight: bold;
}

.light-link {
  display: block;
  line-height: 1.85em;
  color: white;
}

.underline-link:hover, .dark-link:hover, .light-link:hover {
  color: #cbbae5;
}

.underline-link:after {
  content: '';
  position: absolute;
  width: 0; height: 7px;
  z-index: -10;
  display: block;
  margin-top: -9px;
  right: 0;
  background: #6566ae;
  background: -webkit-linear-gradient(left, #f59799, #6566ae); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f59799, #6566ae); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f59799, #6566ae); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f59799, #6566ae); /* Standard syntax */
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}
 
.underline-link:hover:after{
  width: 100%;
  left: 0;
  background: #6566ae;
  background: -webkit-linear-gradient(left, #f59799, #6566ae); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f59799, #6566ae); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f59799, #6566ae); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f59799, #6566ae); /* Standard syntax */
}

svg.triangle {
  position: absolute;
  bottom: -20vh;
  width: 100%;
  height: 10vw;
}

#footer {
  color: white;
  background: linear-gradient(45deg, #f59799, #6566ae);
  width: 100%;
  padding: 0 150px;
}

@media only screen and (max-width: 768px) {
  .ui.grid {
    padding: 50px 25px;
  }

  #footer {
    padding: 0 20px;
    margin: 0 !important;
  }

  h6 {
    font-size: 1.1em;
  }
}