@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
}

/* typography */

h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}

h2 {
  font-size: 1.8125;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 34.8px */
}

h3 {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 30px */
}

h4 {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 26.4px */
}

p.large {
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 25.08px */
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 21.12px */
}

p.focussed {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 124%; /* 19.84px */
}

p.small,
span.small {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

p.small.focussed {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}

.subtext {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

/* button */

.button {
  @apply block;
}

.button.primary {
  @apply bg-primary-dark text-white hover:bg-primary;
}

/* button.primary svg {
  @apply stroke-white;
} */

.button.large {
  @apply px-10 py-2 rounded-[20px];
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 22.8px */
}

.button.large.secondary {
  @apply bg-primary-lightest text-primary-dark hover:bg-primary-light;
}

/* button.large.secondary svg {
  @apply stroke-primary-dark;
} */

.button.medium,
.button.small,
.button.tiny {
  @apply rounded-[3.5px];
}

.button.medium {
  @apply px-8 py-2 gap-2;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}

.button.medium.primary svg.external-link-icon {
  @apply fill-white;
}

.button.small {
  @apply px-4 py-2;
}

.button.small,
.button.tiny {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
}

.button.small,
.button.medium.secondary,
.button.tiny.secondary {
  @apply border-2 border-primary-lightest hover:bg-primary-lightest text-primary-dark;
}

.button.small svg,
.button.medium.secondary svg,
.button.tiny.secondary svg {
  @apply stroke-primary-dark;
}

.button.small svg.external-link-icon,
.button.medium.secondary svg.external-link-icon,
.button.tiny.secondary svg.external-link-icon {
  @apply fill-primary-dark stroke-none;
}

.button.tiny {
  @apply px-3 py-1.5;
}

.button.error {
  @apply border bg-white border-error-dark text-error-dark hover:bg-error-dark hover:text-white;
}

.button:disabled {
  @apply !cursor-not-allowed
   /* !bg-grey !text-white; */;
}

.button.icon-only {
  @apply px-2 rounded-full w-[34px] h-[34px];
}

.button.icon-only svg {
  @apply w-full h-full;
}

.button.slack {
  @apply bg-slack py-3 rounded-[4px];
}

/* search input */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* links */

a {
  @apply text-primary-dark;
}
