{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PolicyKit</title>
    
    <link rel="stylesheet" href={% static "bootstrap/css/semantic.min.css" %}>
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "policyengine/css/home.css" %}>

    
	{% block styles %}
	{% endblock %}
	
	
    <!-- Custom Fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Itim&family=Karla:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
   
    <!-- Favicon -->
    
</head>


<body>

{% block content %}
{% endblock %}
	
    
	{% block scripts %}
	{% endblock %}

</body>

</html>
