{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% sentry %}

    <title>PolicyKit</title>
    
    <link rel="stylesheet" href={% static "bootstrap/css/semantic.min.css" %}>
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "policyengine/css/home.css" %}>
    <link rel="stylesheet" href={% static "policyengine/css/login.css" %}>

    
	{% block styles %}
	{% endblock %}
	
	
    <!-- Custom Fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Itim&family=Karla:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
   
    <!-- Favicon -->
    
    <link rel="apple-touch-icon" sizes="180x180" href={% static "policyengine/img/favicon_io/apple-touch-icon.png" %}>
	<link rel="icon" type="image/png" sizes="32x32" href={% static "policyengine/img/favicon_io/favicon-32x32.png" %}>
	<link rel="icon" type="image/png" sizes="16x16" href={% static "policyengine/img/favicon_io/favicon-16x16.png" %}>
	<link rel="manifest" href={% static "policyengine/img/favicon_io/site.webmanifest" %}>
	<link rel="icon" href={% static "policyengine/img/favicon_io/favicon.ico" %} type="image/x-icon">
    
    
</head>


<body>

{% block content %}
{% endblock %}
	
    
	{% block scripts %}
	{% endblock %}

</body>

</html>
