#content-middle {
	float: left;
    width: 40%;
    padding: 20px;
    margin: 20px;
    background: #f8f8f8;
}

#content-main {
    float: left;
    width: 50%;
}

.dashboard #content {
    width: 900px;
}