{% extends "./base.html" %}
{% load static %}

{% block step %}
<section class="step" id="policy_summary">
  <h2 class="heading-2">
    CollectiveVoice Summary
  </h2>
  <p class="description heading-5">
    Expenses on Open Collective will be up for a vote on Slack before being approved.
  </p>

  <div>
    Expense Type: 
    
    {% if expenses_set %}
    <span class="set">Specific expenses selected</span>
    {% else %}
    <span class="not-set">Will apply to all expenses</span>
    {% endif %}
    </div>
    <div>
    <button id="editExpenses" class="button secondary">
        Edit
      </button>

  </div>

  <div>
    Voting Template:
    {% if voting_set %}
    <span class="set">Set</span>
    {% else %}
    <span class="not-set">Not set</span>
    {% endif %}
  </div>

  <div>

    <button id="editVoting" class="button secondary">
        Edit
      </button>

  </div>

  <div>
    Follow up action:
    {% if followup_set %}
    <span class="set">Set</span>
    {% else %}
    <span class="not-set">Not set</span>
    {% endif %}

  </div>
  <div>

    <button id="editFollowup" class="button secondary">
        Edit
      </button>

  </div>

  <div>
    Preview:
    <img style="margin-top:20px; width:300px" src="{% static 'policyengine/img/collectivevoice_preview.png' %}" alt="Image showing what the vote will look like in Slack">

  </div>

  <div>
    <button id="save" class="button secondary">
      Save Policy
    </button>

  </div>

</section>
{% endblock %}

{% block step_scripts %}
<script>
  const handleEditExpenses = () => redirect('edit_expenses', { policy_id: '{{ policy_id }}' })
  const handleEditVoting = () => redirect('edit_voting', { policy_id: '{{ policy_id }}' })
  const handleEditFollowup = () => redirect('edit_followup', { policy_id: '{{ policy_id }}' })
  const handleSave = () => redirect('save_collectivevoice_policy', { policy_id: '{{ policy_id }}' })

  // Event handlers for steps
  document.getElementById("editExpenses").addEventListener('click', handleEditExpenses)
  document.getElementById("editVoting").addEventListener('click', handleEditVoting)
  document.getElementById("editFollowup").addEventListener('click', handleEditFollowup)
  document.getElementById("save").addEventListener('click', handleSave)


  const policytemplate = JSON.parse('{{policytemplate | safe}}');
  console.log(policytemplate);
  
  </script>
{% endblock %}
