{% extends "./base.html" %}
{% load static %}

{% block step %}
<section class="step active" id="policy_setup">
  <h2 class="heading-2">
    Set up your policy
  </h2>
  <p class="description heading-5">
    {{ policy.description }}
  </p>
  <div class="variables">
    {% for variable in initial_variables %}
    <div class="variable">
      <div class="variable-values">
        <label class="variable-label" for="variables[{{ variable.id }}]">{{ variable.label }}</label>
        {% if "channel" in variable.name %}
        <select class="variable-input text-small" name="variables[{{ variable.id }}]" data-id="{{ variable.id }}">
            {% for option in channel_options %}
            <option value="{{ option.channel_id }}">{{ option.name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <input class="variable-input text-small" type="text" name="variables[{{ variable.id }}]" data-id="{{ variable.id }}" value="{{ variable.value }}" />
        {% endif %}
      </div>
      <p class="variable-prompt text-small">
        {{ variable.prompt }}
      </p>
    </div>
    {% endfor %}
  </div>
  <div class="actions">
    <button class="button secondary">
      Cancel
    </button>
    <button class="button primary">
      Continue
    </button>
  </div>
</section>
{% endblock %}

{% block step_scripts %}
<script>
  const handleSetupCancel = () => {
    // TODO
  }

  const handleSetupContinue = async () => {
    // Prepare policy and variable data
    const data = getVariableDataInStep(stepElementIds.setup)

    // Post variable data
    const response = await submit('setup', data)

    // Validate
    // TODO

    // Display summary step
    redirect('summary', { policy: response.policy })
  }

  // Event handlers for steps
  document.getElementById(stepElementIds.setup).querySelector(`.${classnames.secondary}`).addEventListener('click', handleSetupCancel)
  document.getElementById(stepElementIds.setup).querySelector(`.${classnames.primary}`).addEventListener('click', handleSetupContinue)
</script>
{% endblock %}
