{% load static %}
{% if metagov_enabled and metagov_config %}
<div>
  <div class="form-row">
    <div class="col-sm-8">
      <form id="json-editor-form"></form>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-8">
      <div id="alerts"></div>
    </div>
  </div>
  <a href="/new-community?platform=slack">
    Enable Slack Plugin
  </a>
</div>
{% elif metagov_enabled %}
  <div>Metagov is enabled for this community, but you do not have access to view the configuration.</div>
{% else %}
  <div>Metagov is not enabled for this community.</div>
{% endif %}
