{% load static %}

<script>
    // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
    function decodeHtml(html) {
      var txt = document.createElement("textarea");
      txt.innerHTML = html;
      return txt.value;
    }

    var loaded_config = JSON.parse(decodeHtml(`{{metagov_config}}`))
    const loaded_plugin_config = {}
    for (var p in loaded_config.plugins) {
      plugin = loaded_config.plugins[p]
      loaded_plugin_config[plugin.name] = plugin.config || {}
      loaded_plugin_config[plugin.name].is_enabled = true
    }

    var schemas = JSON.parse(decodeHtml("{{plugin_schemas}}"));

    for (var k in schemas) {
      schemas[k].type = "object";
      schemas[k].title = k;
      if (!schemas[k].properties) {
        schemas[k].properties = {}
      }
      // add an "is_enabled" boolean for the form
      schemas[k].properties = Object.assign({is_enabled: {type: "boolean"}}, schemas[k].properties);
      // indicate whether it's required in the description, becuse if we use `required` key then jsonform will block submission even if the plugin is not enabled
      var required = schemas[k].required || [];
      for (field in schemas[k].properties) {
        if (!required.includes(field) && field != "is_enabled") {
          description = schemas[k].properties[field].description
          schemas[k].properties[field].description = 'Optional' + (description ? `: ${description}` : '')
        }
      }
    }

    // Uses https://github.com/jsonform/jsonform
    $('form#json-editor-form').jsonForm({
      schema: {"type": "object", "properties": schemas},
      // TODO
      // form: [
      //   "*",
      //   {
      //     "key": "slack",
      //     "type": "hidden"
      //   }
      // ],
      value: loaded_plugin_config,
      validate: false,
      onSubmit: function (errors, values) {
          if (errors) {
            console.error(errors)
            $('#alerts').html('An error occurred').css("color", "red");
          }
          else {
              var plugins = []
              for (k in values) {
                var {is_enabled, ...config} = values[k]
                if (is_enabled) {
                  plugins.push({name: k, config: config})
                }
              }

              var body = {...loaded_config, plugins}
              fetch('../../../metagov/save_config', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
              }).then(response => {
                if (!response.ok) {
                  response.text().then(text => {
                      $('#alerts').html(text).css("color", "red");
                  })
                } else {
                  response.json().then(data => {
                    $('#alerts').css("color", "").html("<b>Configuration saved!</b>");
                    var config_str = JSON.stringify(data.config, null, 2);
                    $('#alerts').append(`<pre>${config_str}</pre>`);
                    if (data.hooks.length > 0) {
                      data.hooks.sort()
                      const $ul = $('<ul>').append(
                        data.hooks.map(url =>
                          $("<li>").append($("<code>").text(url))
                        )
                      );
                      $('#alerts').append("<b>Community webhook receivers to register with external platforms:</b>");
                      $('#alerts').append($ul);
                    }
                  })
                }
              })
          }
        }
      });
  </script>
  